/*body{*/
    /*color: #fff;*/
/*}*/
/*滚动导航条*/
.pro-list{
    position: fixed;
    top:50%;
    right: 5%;
}
.pro-list li{
    width:15px;
    height: 15px;
    margin-top:18px;
    /*padding:15px 0px;*/
    border:1px solid #f0ad4e;
    border-radius: 50%;
}
.pro-list li:active{
    background-color: #0b943d;
}
/*偶数行产品背景图样式*/
/*水滴*/
.shuidi{
  position:absolute;
  bottom:0;
  left:16.5%;
  background:#ccc;
}
/*@-webkit-keyframes scroll{*/
					/*50{*/
						/*margin-top:-10px;*/
					/*}*/
					/*75%{*/
					     /*width:50%;*/
						 /*height:50%;*/
						 /*margin-top:-20px;*/
					/*}*/
					/*100%{*/
					    /*margin-top:50px;*/
						/*display:none;*/
					/*}*/
			 /*}*/
#shuidi-m,#shuidi-s{
animation-name:scroll;
				animation-duration:5s;
				animation-timing-function:linear;
				-webkit-animation-name:scroll;
				-webkit-animation-duration:5s;
				-webkit-animation-timing-function:linear;
				-webkit-animation-iteration-count:infinite;
				-webkit-animation-direction:alternate;
}
/*奇数行遮罩层样式*/
.pro1{
    position: absolute;
    background: #f5f2eb;
    opacity: 0.5;
    width:100%;
    height:650px;
    z-index: 555;
    margin-top:15px;
}
/*文本样式*/
.pro-bi,{
    margin:50px 0;
}
.sxb>img{
    display: block;
    margin:50px 0;
}
/*按钮样式*/
.btn{
    padding:7px 22px;
    margin-top: 10px;
    border-color: #ccc;
    background: #fff;
}
.btn1{
    border-color: #3c3c3c;
    background: #f8f8f8;
}
/*产品高度*/
.detail-pic .col-md-3{
    margin:2% 0;
}
/*产品详情页面*/

.detail-list-border{
    border-bottom: 1px dotted #ccc;
}
.panel-body li a{
    display: inline-block;
    width:100%;
    border-bottom: 1px dotted #ccc;
    padding:15px 0;
    color:#000;
}
.panel-body li a:hover {
    background-color: #000;
    color: #fff;
}
.panel-info>.panel-heading {
    color: #fff;
    background-color:#000;
    border-color: #fcf8e3;
}
.panel{
    box-shadow: 2px 2px 1px -15px #f5f5f5;
}
.panel-info{
    border-color: #fcf8e3;
}
/*产品遮罩*/
.detail-zz{
    background-color:#ccc;
    opacity: 0.7;
    height: 30%;
    width: 86%;
    position: absolute;
    top: 73%;
    font-size: 10pt;
    overflow: hidden;
    color:#000;
}
.detail-zz:hover{
    top: 0;
    height: 100%;
    transition: top 200ms;
}
.detail-zz>.btn{
    color:#000;
    padding:3px 20px;
    background-color: #fff;
    border:1px solid #ccc;
    font-size:8pt;
}
.detail-zz>.btn:hover{
    color:#0b943d;
}
.detail-pic .col-md-3:hover{
    transform:scale(1.09);
}
.return-top{
    float: right;
}
.return-top>img{
    display: block;
    margin-left: 5%;
}
/*路径导航*/
.breadcrumb{
    background: #fff;
}
.pro-m{
    background: #000;
}
.pro-m a{
color: #fff;
}
/*详情页面*/
/*关于我们页面*/
.about-text{
    color: #fff;
    border-bottom: 1px solid #fff;
}
.about-text div{
    line-height: 40px;
}
.about-list{
    padding:15px 0;
}
.about-list li{
    border-bottom:1px solid #fff;
    background: #000;
}
.about-list li a{
    color: #fff;
    display: inline-block;
    width: 100%;
    padding:15px 0;
}
.about-list li a:hover{
    background: #f1f1f1;
    color:#000;
}
