<div id="page-wrapper">
    <div class="row toggleBtn" ng-click="CommonService.toggleBtn()"><i class="fa fa-angle-left fa-2x"></i></div>
    <div class="row">
        <div class="col-lg-12 bottom-expand">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <button class="btn btn-primary" ng-click="isEditPlanDetail(true, initPlanDetailObj)" ng-i18next="icem.add" ng-if="!isShowPlanDetail && !isShowPlanChart"></button>
                    <div class="row" ng-if="isShowPlanDetail">
                        <div class="sk-fading-circle" ng-if="isLoadingDetail">
                            <div class="sk-circle1 sk-circle"></div>
                            <div class="sk-circle2 sk-circle"></div>
                            <div class="sk-circle3 sk-circle"></div>
                            <div class="sk-circle4 sk-circle"></div>
                            <div class="sk-circle5 sk-circle"></div>
                            <div class="sk-circle6 sk-circle"></div>
                            <div class="sk-circle7 sk-circle"></div>
                            <div class="sk-circle8 sk-circle"></div>
                            <div class="sk-circle9 sk-circle"></div>
                            <div class="sk-circle10 sk-circle"></div>
                            <div class="sk-circle11 sk-circle"></div>
                            <div class="sk-circle12 sk-circle"></div>
                        </div>
                        <div class="col-lg-12" ng-if="!isLoadingDetail">
                            <div class="modal-header">
                                <h3 class="modal-title" ng-i18next="{{planDetailContainer.planId ? 'icem.edit' : 'icem.add'}}"></h3>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 bottom-expand">
                                        <div class="row bottom-expand">
                                            <div class="col-lg-6 col-md-6 col-sm-12 bottom-expand">
                                                <label ng-i18next="icem.campaignPlan.name"></label>
                                                <input class="form-control bottom-expand" type="text" ng-model="planDetailContainer.name" maxlength="100" />
                                                <label ng-i18next="icem.campaignPlan.totalBudget"></label>
                                                <!--<div class="form-inline">-->
                                                <input class="form-control" type="number" min="0" ng-model="planDetailContainer.totalbudget" maxlength="25" />
                                                <!--</div>-->
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <label ng-i18next="icem.campaignPlan.category"></label>
                                                <select class="form-control" style="display: inline" ng-model="planDetailContainer.categoryId" ng-options="x.categoryId as x.name for x in categoryList"
                                                    ng-change="changeCategory()"></select>
                                                <label ng-i18next="icem.memo"></label>
                                                <textarea class="form-control" rows="4" type="text" ng-model="planDetailContainer.memo" maxlength="150" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 bottom-expand">
                                                <div class="bottom-expand">
                                                    <label ng-i18next="icem.campaignPlan.addUnit"></label>
                                                </div>
                                                <div>
                                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                                        <label ng-i18next="icem.campaignPlan.media"></label>
                                                        <select class="form-control" ng-disabled="isAllUsed()" ng-model="unitContainer.mediaId" ng-options="x.mediaId as x.name for x in mediaList | filter:{'isUsed': false}"
                                                            ng-change="changeUnitContainer()"></select>
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                                        <label ng-i18next="icem.campaignPlan.price"></label>
                                                        <input class="form-control" ng-disabled="isAllUsed()" type="number" ng-model="unitContainer.price" placeholder="{{'icem.campaignPlan.price' | i18next}}"
                                                            maxlength="50" />
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                                        <label ng-i18next="icem.campaignPlan.threshold"></label>
                                                        <input class="form-control" ng-disabled="isAllUsed()" type="number" ng-model="unitContainer.threshold" placeholder="{{'icem.campaignPlan.threshold' | i18next}}"
                                                            maxlength="50" popover="{{'icem.campaignPlan.threshold.note' | i18next}}"
                                                            popover-trigger="mouseenter" popover-placement="bottom" />
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                                        <label class="empty-label">&nbsp;</label>
                                                        <button class="btn btn-primary" ng-click="saveUnit(unitContainer)" ng-disabled="isAllUsed()" ng-i18next="icem.add"></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-hover text-center">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-center" ng-i18next="icem.campaignPlan.media"></th>
                                                                <th class="text-center" ng-i18next="icem.campaignPlan.price"></th>
                                                                <th class="text-center" ng-i18next="icem.campaignPlan.threshold"></th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="i in planDetailContainer.planItemVOs">
                                                                <td ng-if="!i.$$edit" width="10%">{{i.mediaId | mediaNameFilter:this}}</td>
                                                                <td ng-if="i.$$edit" width="10%">{{i.mediaId | mediaNameFilter:this}}
                                                                    <!--<select class="form-control" style="display: inline" ng-model="planDetailContainer.planItemVOs[$index].mediaId" 
                                                                            ng-options="x.mediaId as x.name for x in mediaList | filter:{'isUsed': false}" ng-disabled="true"></select>-->
                                                                </td>
                                                                <td ng-if="!i.$$edit" width="10%">{{i.price}}</td>
                                                                <td ng-if="i.$$edit" width="10%">
                                                                    <input class="form-control" style="display: inline" type="number" min="0" ng-model="planDetailContainer.planItemVOs[$index].price"
                                                                        maxlength="300" />
                                                                </td>
                                                                <td ng-if="!i.$$edit" width="10%">{{i.threshold}}</td>
                                                                <td ng-if="i.$$edit" width="10%">
                                                                    <input class="form-control" style="display: inline" type="number" ng-model="planDetailContainer.planItemVOs[$index].threshold"
                                                                        maxlength="300" />
                                                                </td>
                                                                <td width="3%">
                                                                    <button ng-if="!i.$$edit" type="button" class="btn btn-primary btn-circle" ng-click="i.$$edit = true;editUnit(i)"><i class="fa fa-list"></i></button>
                                                                    <button ng-if="!i.$$edit" type="button" class="btn btn-danger btn-circle" ng-click="deleteUnit($index, i.mediaId)"><i class="fa fa-times"></i></button>
                                                                    <button ng-if="i.$$edit" type="button" class="btn btn-success btn-circle" ng-click="saveUnit(planDetailContainer.planItemVOs[$index])"><i class="fa fa-check"></i></button>
                                                                    <button ng-if="i.$$edit" type="button" class="btn btn-warning btn-circle" ng-click="cancelSaveUnit(i,$index)"><i class="fa fa-times"></i></button>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="col-lg-12">
                                    <button type="button" class="btn btn-primary" click-once api-method="savePlanDetail" input-data1="planDetailContainer" ng-i18next="icem.save"></button>
                                    <button type="button" class="btn btn-default" ng-click="isEditPlanDetail(false)" ng-i18next="icem.close"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="isShowPlanChart">
                        <div class="sk-fading-circle" ng-if="isLoadingChart">
                            <div class="sk-circle1 sk-circle"></div>
                            <div class="sk-circle2 sk-circle"></div>
                            <div class="sk-circle3 sk-circle"></div>
                            <div class="sk-circle4 sk-circle"></div>
                            <div class="sk-circle5 sk-circle"></div>
                            <div class="sk-circle6 sk-circle"></div>
                            <div class="sk-circle7 sk-circle"></div>
                            <div class="sk-circle8 sk-circle"></div>
                            <div class="sk-circle9 sk-circle"></div>
                            <div class="sk-circle10 sk-circle"></div>
                            <div class="sk-circle11 sk-circle"></div>
                            <div class="sk-circle12 sk-circle"></div>
                        </div>
                        <div>
                            <div class="modal-header" ng-if="!isLoadingChart">
                                <h4 class="modal-title">{{'icem.campaignPlan.name' | i18next}} - {{currentPlanContainer.name}}</h4>
                            </div>
                            <div class="modal-body">
                                <div id="planChart"></div>
                            </div>
                            <div class="modal-footer" ng-if="!isLoadingChart">
                                <button type="button" class="btn btn-default" ng-click="isEditPlanChart(false)" ng-i18next="icem.close"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="sk-fading-circle" ng-show="isLoading">
                            <div class="sk-circle1 sk-circle"></div>
                            <div class="sk-circle2 sk-circle"></div>
                            <div class="sk-circle3 sk-circle"></div>
                            <div class="sk-circle4 sk-circle"></div>
                            <div class="sk-circle5 sk-circle"></div>
                            <div class="sk-circle6 sk-circle"></div>
                            <div class="sk-circle7 sk-circle"></div>
                            <div class="sk-circle8 sk-circle"></div>
                            <div class="sk-circle9 sk-circle"></div>
                            <div class="sk-circle10 sk-circle"></div>
                            <div class="sk-circle11 sk-circle"></div>
                            <div class="sk-circle12 sk-circle"></div>
                        </div>
                        <div class="col-lg-12" ng-hide="isLoading">
                            <div class="table-responsive">
                                <table ng-table="planTableParams" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th ng-i18next="icem.campaignPlan.name"></th>
                                            <th ng-i18next="icem.campaignPlan.category"></th>
                                            <th ng-i18next="icem.memo"></th>
                                            <th ng-i18next="icem.campaignPlan.totalBudget"></th>
                                            <th ng-i18next="icem.operation"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="x in tempPlanList">
                                            <td width="10%">
                                                <span>{{x.name}}</span>
                                            </td>
                                            <td width="10%">
                                                <span>{{x.categoryId | categoryNameFilter:this}}</span>
                                            </td>
                                            <td width="10%">
                                                <span>{{x.memo}}</span>
                                            </td>
                                            <td width="10%">
                                                <span>{{x.totalbudget}}</span>
                                            </td>
                                            <td width="10%" style="white-space:nowrap;">
                                                <button type="button" class="btn btn-primary btn-circle" ng-click="isEditPlanDetail(true,x)"><i class="fa fa-list"></i></button>
                                                <button type="button" class="btn btn-danger btn-circle" ng-click="deletePlan(x.planId)"><i class="fa fa-times"></i></button>
                                                <button type="button" popover="{{'icem.campaignPlan.showChart' | i18next}}" popover-trigger="mouseenter" popover-placement="top"
                                                    class="btn btn-info btn-circle" ng-click="isEditPlanChart(true, x)"><i class="fa fa-cubes"></i>
												</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.col-lg-8 (nested) -->
                    </div>
                    <!-- /.row -->
                </div>
            </div>

        </div>
    </div>
</div>