<div id="page-wrapper">
	<div class="row toggleBtn" ng-click="CommonService.toggleBtn()"><i class="fa fa-angle-left fa-2x"></i></div>
	<!-- /.row -->
	<div class="row">
		<div class="col-lg-12 bottom-expand">
			<tabset>
				<!-- TODO: check privilege here -->
				<tab heading="{{'icem.recommend.ads.segment'|i18next}}" select="selectAdsTab('segment')"></tab>
				<tab heading="{{'icem.recommend.ads.recommend'|i18next}}" select="selectAdsTab('recommend')"></tab>
				<tab heading="{{'icem.recommend.ads.scheduler'|i18next}}" select="selectAdsTab('scheduler')"></tab>
				<tab heading="{{'icem.recommend.ads.report'|i18next}}" select="selectAdsTab('report')"></tab>
				<tab heading="{{'icem.recommend.ads.contractor.view'|i18next}}" select="selectAdsTab('contractor')"></tab>
			</tabset>
		</div>
		<div class="col-lg-12">
			<!-- Ads Segment TAB -->
			<div class="panel panel-default" ng-show="adsTab === 'segment'">
				<div class="panel-heading">
					<div class="row">
						<div class="col-lg-12">
							<button class="btn btn-primary " ng-click="addNewSegment()" ng-i18next="icem.add" ng-disabled="segmentCount >= segmentLimit"></button>
						</div>
					</div>
				</div>
				<!-- /.panel-heading -->
				<div class="panel-body">
					<!-- Ads Recommend Segment -->
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 bottom-expand" ng-if="addSegmentArea">
							<div class="col-lg-3 col-md-3 col-sm-12">
								<label ng-i18next="icem.segmentation.name"></label>
								<span class="label label-danger label-danger-mandatory" ng-i18next="icem.mandatory"></span>
							</div>
							<div class="col-lg-9 col-md-9 col-sm-12 bottom-expand">
								<input class="form-control" type="text" ng-model="newSegmentObj.name" maxlength="100" />
							</div>
							<div class="col-lg-3 col-md-3 col-sm-12">
								<label ng-i18next="icem.segmentation.describe"></label>
							</div>
							<div class="col-lg-9 col-md-9 col-sm-12 bottom-expand">
								<textarea class="form-control" rows="3" ng-model="newSegmentObj.description"></textarea>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
								<label ng-i18next="icem.segmentation.rules"></label>
							</div>
							<div class="col-lg-9 col-md-9 col-sm-8 col-xs-8 bottom-expand">
								<div class="btn-group right-margin pull-left">
									<button type="button" class="btn btn-primary dropdown-toggle" ng-i18next="icem.add" data-toggle="dropdown" ng-disabled="showNewPixel"
										aria-haspopup="true" aria-expanded="false" ng-click="addNewRule(true)"></button>
								</div>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 bottom-expand">
								<div class="table-responsive">
									<table class="table">
										<tbody>
											<tr class="info" ng-if="showNewPixel">
												<th width="20%">
													<select class="form-control" ng-model="newPixelObj.dataTypes" ng-change="changeDataTypes(newPixelObj)" ng-options="h.id as ('icem.segmentation.' + h.name | i18next) for h in dataTypes"
														ng-value="{{h.id}}">
														</select>
												</th>
												<!-- Modal Select Pixel -->
												<th width="8%" ng-if="newPixelObj.dataTypes == 0">
													<button type="button" ng-if="newPixelObj.objectIds.length == 0" class="btn btn-default" ng-click="openPixelModal(newPixelObj)"
														ng-i18next="icem.segmentation.select.pixel"></button>
													<button type="button" ng-if="newPixelObj.objectIds.length > 0" class="btn btn-default" ng-click="openPixelModal(newPixelObj)">
															{{ newPixelObj.objectIds.length }} {{'icem.segmentation.selected.items' | i18next}}</button>
												</th>
												<!-- Modal Select campaignClick -->
												<th width="8%" ng-if="newPixelObj.dataTypes == 1">
													<button type="button" ng-if="newPixelObj.objectIds.length == 0" class="btn btn-default" ng-click="openPixelModal(newPixelObj)"
														ng-i18next="icem.segmentation.select.campaign"></button>
													<button type="button" ng-if="newPixelObj.objectIds.length > 0" class="btn btn-default" ng-click="openPixelModal(newPixelObj)">{{ newPixelObj.objectIds.length }} {{'icem.segmentation.selected.items' | i18next}}</button>
												</th>
												<!-- Modal Select campaignView -->
												<th width="8%" ng-if="newPixelObj.dataTypes == 2">
													<button type="button" ng-if="newPixelObj.objectIds.length == 0" class="btn btn-default" ng-click="openPixelModal(newPixelObj)"
														ng-i18next="icem.segmentation.select.campaign"></button>
													<button type="button" ng-if="newPixelObj.objectIds.length > 0" class="btn btn-default" ng-click="openPixelModal(newPixelObj)">{{ newPixelObj.objectIds.length }} {{'icem.segmentation.selected.items' | i18next}}</button>
												</th>
												<!-- new rule type Frequency/Recency/Velocity -->
												<th width="10%">
													<select class="form-control" ng-model="newPixelObj.behavior.behaviorType" ng-change="changeRuleOption(newPixelObj)" ng-options="g.id as g.behaviorType for g in optionObj"
														ng-value="{{g.id}}">
														</select>
												</th>
												<!-- behaviorType Frequency -->
												<th width="40%" ng-if="newPixelObj.behavior.behaviorType == 0">
													<input class="form-control" type="text" maxlength="10" ng-model="newPixelObj.behavior.frequency" style="display:inline;width: 20%;"
														only-number /> or more
													<select class="form-control" style="display:inline;width: 40%;" ng-options="value.id as value.name for (key , value) in optionObj[0].behavior.durationType"
														ng-model="newPixelObj.behavior.durationType" ng-value="{{value.id}}"></select>
												</th>
												<!-- behaviorType Recency -->
												<th width="40%" ng-if="newPixelObj.behavior.behaviorType == 1">
													<div style="display:inline;">
														<select class="form-control" style="display:inline;width: 40%;" ng-options="value.id as value.name for (key , value) in optionObj[1].behavior.durationType"
															ng-model="newPixelObj.behavior.durationType" value="{{value.id}}"></select>
													</div>
												</th>
												<!-- behaviorType Velocity -->
												<th width="50%" ng-if="newPixelObj.behavior.behaviorType == 2">
													spanning
													<select class="form-control" style="display:inline;width: 20%;" ng-options="value.id as value.name for (key , value) in optionObj[2].behavior.durationType"
														ng-model="newPixelObj.behavior.durationType" value="{{value.id}}"></select>
													<select class="form-control" style="display:inline;width: 30%;" ng-options="value.id as value.name for (key , value) in optionObj[2].behavior.operation"
														ng-model="newPixelObj.behavior.operation" value="{{value.id}}"></select>
													<div style="display:inline;">
														by <input class="form-control" type="text" maxlength="10" ng-model="newPixelObj.behavior.percentage" style="display:inline;width: 20%;"
															only-number />% or more
													</div>
												</th>
												<th width="10%" style="white-space:nowrap;">
													<button type="button" class="btn btn-success btn-circle" ng-click="saveNewRule(newPixelObj)"><i class="fa fa-check"></i></button>
													<button type="button" class="btn btn-danger btn-circle" ng-click="cancelNewRule()"><i class="fa fa-times"></i></button>
												</th>
											</tr>
										</tbody>
									</table>
								</div>
								<hr ng-if="showNewPixel && tempRuleList.length > 0">
								<!-- tempRule List -->
								<div class="table-responsive">
									<table class="table table-hover">
										<tbody ng-repeat="tempRule in tempRuleList" ng-if="tempRuleList.length > 0">
											<tr>
												<td ng-if="!tempRule.$$edit">
													<label ng-if="!tempRule.$$edit">{{'icem.segmentation.' + (tempRule.dataTypes | dataTypesFilter:this) | i18next}}</label>
												</td>
												<td ng-if="tempRule.$$edit">
													<select class="form-control" ng-model="tempRule.dataTypes" ng-change="changeDataTypes(tempRule)" ng-options="key.id as ('icem.segmentation.' + key.name | i18next) for key in dataTypes"
														ng-value="{{key.id}}">
														</select>
												</td>
												<!-- Modal Select Pixel -->
												<th ng-if="tempRule.dataTypes == 0">
													<button type="button" ng-if="tempRule.$$edit && tempRule.objectIds.length == 0" class="btn btn-default" ng-click="openPixelModal(tempRule)"
														ng-i18next="icem.segmentation.select.pixel"></button>
													<button type="button" ng-if="!tempRule.$$edit && tempRule.objectIds.length > 0" class="btn btn-default" ng-click="openPixelModal(tempRule)"
														ng-disabled="true">
												    		{{ tempRule.objectIds.length }} {{'icem.segmentation.selected.items' | i18next}}</button>
													<button type="button" ng-if="tempRule.$$edit && tempRule.objectIds.length > 0" class="btn btn-default" ng-click="openPixelModal(tempRule)">
																{{ tempRule.objectIds.length }} {{'icem.segmentation.selected.items' | i18next}}</button>
												</th>
												<!-- Modal Select campaignClick -->
												<th ng-if="tempRule.dataTypes == 1">
													<button type="button" ng-if="tempRule.$$edit && tempRule.objectIds.length == 0" class="btn btn-default" ng-click="openPixelModal(tempRule)"
														ng-i18next="icem.segmentation.select.campaign"></button>
													<button type="button" ng-if="!tempRule.$$edit && tempRule.objectIds.length > 0" class="btn btn-default" ng-click="openPixelModal(tempRule)"
														ng-disabled="true">
																{{ tempRule.objectIds.length }} {{'icem.segmentation.selected.items' | i18next}}</button>
													<button type="button" ng-if="tempRule.$$edit && tempRule.objectIds.length > 0" class="btn btn-default" ng-click="openPixelModal(tempRule)">
																{{ tempRule.objectIds.length }} {{'icem.segmentation.selected.items' | i18next}}</button>
												</th>
												<!-- Modal Select campaignView -->
												<th ng-if="tempRule.dataTypes == 2">
													<button type="button" ng-if="tempRule.$$edit && tempRule.objectIds.length == 0" class="btn btn-default" ng-click="openPixelModal(tempRule)"
														ng-i18next="icem.segmentation.select.campaign"></button>
													<button type="button" ng-if="!tempRule.$$edit && tempRule.objectIds.length > 0" class="btn btn-default" ng-click="openPixelModal(tempRule)"
														ng-disabled="true">
												    			{{ tempRule.objectIds.length }} {{'icem.segmentation.selected.items' | i18next}}</button>
													<button type="button" ng-if="tempRule.$$edit && tempRule.objectIds.length > 0" class="btn btn-default" ng-click="openPixelModal(tempRule)">
												    			{{ tempRule.objectIds.length }} {{'icem.segmentation.selected.items' | i18next}}</button>
												</th>

												<!-- optionObj select Frequency/Recency/Velocity -->
												<td ng-if="!tempRule.$$edit">
													<label ng-if="!tempRule.$$edit">{{tempRule.behavior.behaviorType | behaviorTypeFilter:this}}</label>
												</td>
												<td ng-if="tempRule.$$edit">
													<select class="form-control" ng-model="tempRule.behavior.behaviorType" ng-change="changeRuleOption(tempRule)" ng-options="op.id as op.behaviorType for op in optionObj"
														ng-value="{{op.id}}">
														</select>
												</td>

												<!-- content depends on optionObj Frequency/Recency/Velocity -->
												<!-- Frequency -->
												<td width="40%" ng-if="!tempRule.$$edit && tempRule.behavior.behaviorType == 0">
													<label> {{ tempRule.behavior.frequency }}</label> or more
													<select class="form-control" style="display:inline;width: 40%;" ng-options="value.id as value.name for (key , value) in optionObj[0].behavior.durationType"
														ng-model="tempRule.behavior.durationType" ng-disabled="true" value="{{value.id}}"></select>
												</td>
												<td width="40%" ng-if="tempRule.$$edit && tempRule.behavior.behaviorType == 0">
													<input class="form-control" type="text" maxlength="10" ng-model="tempRule.behavior.frequency" style="display:inline;width: 20%;"
														only-number /> or more
													<select class="form-control" style="display:inline;width: 40%;" ng-options="value.id as value.name for (key , value) in optionObj[0].behavior.durationType"
														ng-model="tempRule.behavior.durationType" value="{{value.id}}"></select>
												</td>
												<!-- Recency -->
												<td width="40%" ng-if="!tempRule.$$edit && tempRule.behavior.behaviorType == 1">
													<div style="display:inline;">
														<select class="form-control" style="display:inline;width: 40%;" ng-options="value.id as value.name for (key , value) in optionObj[1].behavior.durationType"
															ng-model="tempRule.behavior.durationType" value="{{value.id}}" ng-disabled="true"></select>
													</div>
												</td>
												<td width="40%" ng-if="tempRule.$$edit && tempRule.behavior.behaviorType == 1">
													<div style="display:inline;">
														<select class="form-control" style="display:inline;width: 40%;" ng-options="value.id as value.name for (key , value) in optionObj[1].behavior.durationType"
															ng-model="tempRule.behavior.durationType" value="{{value.id}}"></select>
													</div>
												</td>
												<!-- Velocity -->
												<td width="40%" ng-if="!tempRule.$$edit && tempRule.behavior.behaviorType == 2">
													spanning <select class="form-control" style="display:inline;width: 20%;" ng-disabled="true" ng-options="value.id as value.name for (key , value) in optionObj[2].behavior.durationType"
														ng-model="tempRule.behavior.durationType" value="{{value.id}}"></select>
													<select class="form-control" style="display:inline;width: 30%;" ng-disabled="true" ng-options="value.id as value.name for (key , value) in optionObj[2].behavior.operation"
														ng-model="tempRule.behavior.operation" value="{{value.id}}"></select>
													<div style="display:inline;">
														by <label>{{tempRule.behavior.percentage}}</label> % or more
													</div>
												</td>
												<td width="40%" ng-if="tempRule.$$edit && tempRule.behavior.behaviorType == 2">
													spanning <select class="form-control" style="display:inline;width: 20%;" ng-options="value.id as value.name for (key , value) in optionObj[2].behavior.durationType"
														ng-model="tempRule.behavior.durationType" value="{{value.id}}"></select>
													<select class="form-control" style="display:inline;width: 30%;" ng-options="value.id as value.name for (key , value) in optionObj[2].behavior.operation"
														ng-model="tempRule.behavior.operation" value="{{value.id}}"></select>
													<div style="display:inline;">
														by <input class="form-control" type="text" ng-model="tempRule.behavior.percentage" style="display:inline;width: 20%;"
															only-number />% or more
													</div>
												</td>

												<!-- edit/delete/cancle button list -->
												<td style="white-space: nowrap;">
													<button ng-if="!tempRule.$$edit" type="button" class="btn btn-primary btn-circle" ng-click="tempRule.$$edit = true; tempRuleCopy(tempRule)">
															<i class="fa fa-list"></i>
														</button>
													<button ng-if="!tempRule.$$edit" type="button" class="btn btn-danger btn-circle" ng-click="deleteTempRule(tempRule)">
															<i class="fa fa-times"></i>
														</button>
													<button ng-if="tempRule.$$edit" type="button" class="btn btn-success btn-circle" ng-click="saveNewRule(tempRule)">
															<i class="fa fa-check"></i>
														</button>
													<button ng-if="tempRule.$$edit" type="button" class="btn btn-warning btn-circle" ng-click="cancelSaveRule(tempRule)">
															<i class="fa fa-times"></i>
														</button>
												</td>
											</tr>
											<tr ng-if="tempRule.concatenateOp && !$last">
												<td colspan="7">
													<select class="form-control btn btn-info dropdown-toggle" data-ng-options="(t | concatenateOpFilter) for t in concatenateOp "
														data-ng-model="tempRule.concatenateOp">
																<option ng-selected="tempRule.concatenateOp" value="{{t}}"><a href="#">{{ t | concatenateOpFilter }}</a></option>
														</select>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12">
								<div class="pull-right">
									<button type="button" class="btn btn-primary" click-once input-data1="newSegmentObj" input-data2="tempRuleList" api-method="saveNewSegment">{{ 'icem.save' | i18next }} {{ 'icem.segmentation.segment' | i18next }}</button>
									<button type="button" class="btn btn-default" ng-click="cancelNewSegment()" ng-i18next="icem.cancel"></button>
								</div>
							</div>
						</div>
					</div>
					<!-- /.row -->

					<!-- table for Segment API -->
					<div class="row">
						<div class="col-lg-12 bottom-expand">
							<div class="table-responsive">
								<table ng-table="segmentTableParams" class="table table-bordered table-hover">
									<thead>
										<tr>
											<th width="20%" ng-i18next="icem.segmentation.name"></th>
											<th width="20%" ng-i18next="icem.segmentation.describe"></th>
											<th width="40%" ng-i18next="icem.segmentation.rules"></th>
											<th width="20%" ng-i18next="icem.operation"></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="x in tempSegmentList">
											<td>
												<span ng-if="!x.$$edit">{{x.name}}</span>
												<div ng-if="x.$$edit"><input class="form-control" type="text" ng-model="x.name" maxlength="50" /></div>
											</td>
											<td>
												<span ng-if="!x.$$edit">{{x.description}}</span>
												<div ng-if="x.$$edit">
													<div ng-if="x.$$edit"><input class="form-control" type="text" ng-model="x.describe" maxlength="50" /></div>
												</div>
											</td>
											<td>
												<span ng-if="!x.$$edit">
						  		            	        	<ol>
						  		            	        	　<li ng-repeat="y in x.rules"><b>{{'icem.segmentation.' + (y.dataTypes | dataTypesFilter:this) | i18next }}</b>  {{y.behavior.behaviorType | behaviorTypeFilter:this}}  <b>{{y.concatenateOp | concatenateOpFilter}}</b></li>
						  		            	        	</ol>
									  		            </span>
												<div ng-if="x.$$edit" ng-repeat="y in x.rules">
													<button type="button" ng-if="y.objectIds.length == 0" class="btn btn-default" ng-click="openPixelModal(y)" ng-i18next="icem.segmentation.select.pixel"></button>
													<button type="button" ng-if="y.objectIds.length > 0" class="btn btn-default" ng-click="openPixelModal(y)">
											            			{{ y.objectIds.length }} {{'icem.segmentation.selected.items' | i18next}}</button>
												</div>
											</td>
											<td>
												<button ng-if="!x.$$edit" type="button" class="btn btn-primary btn-circle" ng-click="editSegment(x); tempSegmentCopy(x)"><i class="fa fa-list"></i></button>
												<button ng-if="x.$$edit" type="button" class="btn btn-success btn-circle" ng-click="saveSegment(x)" ng-disabled="true"><i class="fa fa-check"></i></button>
												<button ng-if="!x.$$edit" type="button" class="btn btn-danger btn-circle" ng-click="deleteSegmentList(x)"><i class="fa fa-times"></i></button>
												<button ng-if="x.$$edit" type="button" class="btn btn-warning btn-circle" ng-click="cancelSaveSegment(x)"><i class="fa fa-times"></i></button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<!-- /.panel-body -->
			</div>

			<!-- Ads Recommend Segment TAB -->
			<div class="panel panel-default" ng-show="adsTab === 'recommend'">
				<div class="panel-heading">
					<div class="row">
						<div class="col-lg-12">
							<button class="btn btn-primary " ng-click="addNewRecommendSegment(true, initRecomSegmentObj)" ng-i18next="icem.add" ng-disabled="segmentCount >= segmentLimit"></button>
						</div>
					</div>
				</div>
				<!-- /.panel-heading -->
				<div class="panel-body">
					<!-- Ads Recommend Segment -->
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 bottom-expand" ng-if="isShowRecomSegment">
							<div class="col-lg-3 col-md-3 col-sm-12">
								<label ng-i18next="icem.segmentation.name"></label>
								<span class="label label-danger label-danger-mandatory" ng-i18next="icem.mandatory"></span>
							</div>
							<div class="col-lg-9 col-md-9 col-sm-12 bottom-expand">
								<input class="form-control" type="text" ng-model="newRecommendSetItem.ruleName" maxlength="100" />
							</div>
							<div class="col-lg-3 col-md-3 col-sm-12">
								<label ng-i18next="icem.recommendSet.memo"></label>
							</div>
							<div class="col-lg-9 col-md-9 col-sm-12 bottom-expand">
								<textarea class="form-control" rows="3" ng-model="newRecommendSetItem.ruleMemo"></textarea>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
								<label ng-i18next="icem.segmentation.rules"></label>
							</div>
							<div class="col-lg-9 col-md-9 col-sm-8 col-xs-8 bottom-expand" ng-if="true">
								<div class="row">
									<div class="col-lg-12 bottom-expand">
										<tabset>
											<tab heading="{{'icem.recommend.rule.visit'|i18next}}" select="selectRuleTab('visit')"></tab>
											<tab heading="{{'icem.recommend.rule.attribute'|i18next}}" select="selectRuleTab('attribute')"></tab>
											<tab heading="{{'icem.recommend.rule.score'|i18next}}" select="selectRuleTab('score')"></tab>
											<tab heading="{{'icem.recommend.rule.schedule'|i18next}}" select="selectRuleTab('schedule')"></tab>
										</tabset>
									</div>
									<div ng-show="ruleTab === 'visit'">
										<div class="col-lg-4">
											<label ng-i18next="icem.recommend.rule.pvCount"></label>
										</div>
										<div class="col-lg-4">
											<input class="form-control" type="text" ng-model="newRecommendSetItem.visit.clickNum" maxlength="50" only-number />
										</div>
										<div class="col-lg-4 bottom-expand">
											<select class="form-control" ng-model="newRecommendSetItem.visit.clickOperator">
													<option value="" ng-selected="true" ></option>
													<option ng-repeat="x in numericOperator" value="{{x}}">{{ 'icem.rule.operator.' + x | i18next}}</option>
												</select>
										</div>
										<div class="col-lg-4">
											<label ng-i18next="icem.recommend.rule.visitCount"></label>
										</div>
										<div class="col-lg-4">
											<input class="form-control" type="text" ng-model="newRecommendSetItem.visit.impressionNum" maxlength="50" only-number />
										</div>
										<div class="col-lg-4 bottom-expand">
											<select class="form-control" ng-model="newRecommendSetItem.visit.impressionOperator">
													<option value="" ng-selected="true" ></option>
													<option ng-repeat="x in numericOperator" value="{{x}}">{{ 'icem.rule.operator.' + x | i18next}}</option>
												</select>
										</div>
										<div class="col-lg-4">
											<label ng-i18next="icem.recommend.rule.visitInterval"></label>
										</div>
										<div class="col-lg-4">
											<input class="form-control" type="text" ng-model="newRecommendSetItem.visit.recencyNum" maxlength="50" only-number />
										</div>
										<div class="col-lg-4 bottom-expand">
											<select class="form-control" ng-model="newRecommendSetItem.visit.recencyOperator">
													<option value="" ng-selected="true" ></option>
													<option ng-repeat="x in numericOperator" value="{{x}}">{{ 'icem.rule.operator.' + x | i18next}}</option>
												</select>
										</div>
									</div>
									<div ng-show="ruleTab === 'attribute'">
										<user-attribute site-id="cSite.id" load-container="attributeContainer" load-service="DmpService" load-api="getSegmentRuleAttr"></user-attribute>
									</div>
									<div ng-show="ruleTab === 'schedule'">
										<schedule-pick load-schedule="scheduleContainer"></schedule-pick>
									</div>
									<div ng-show="ruleTab === 'score'">
										<score-panel load-container="scoreContainer" score-list="scoreRuleList"></score-panel>
									</div>
								</div>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12">
								<div class="pull-right">
									<button type="button" class="btn btn-primary" click-once api-method="saveRecomSegment" input-data1="newRecommendSetItem">{{ 'icem.save' | i18next }} {{ 'icem.segmentation.segment' | i18next }}</button>
									<button type="button" class="btn btn-default" ng-click="addNewRecommendSegment(false)" ng-i18next="icem.cancel"></button>
								</div>
							</div>
						</div>
					</div>
					<!-- /.row -->

					<!-- table for Recommend Segment API -->
					<div class="row">
						<div class="sk-fading-circle" ng-if="isLoadingRecomSegment">
							<div class="sk-circle1 sk-circle"></div>
							<div class="sk-circle2 sk-circle"></div>
							<div class="sk-circle3 sk-circle"></div>
							<div class="sk-circle4 sk-circle"></div>
							<div class="sk-circle5 sk-circle"></div>
							<div class="sk-circle6 sk-circle"></div>
							<div class="sk-circle7 sk-circle"></div>
							<div class="sk-circle8 sk-circle"></div>
							<div class="sk-circle9 sk-circle"></div>
							<div class="sk-circle10 sk-circle"></div>
							<div class="sk-circle11 sk-circle"></div>
							<div class="sk-circle12 sk-circle"></div>
						</div>
						<div class="col-lg-12 bottom-expand">
							<div class="table-responsive">
								<table ng-table="recomSegmentTableParams" ng-if="!isLoadingRecomSegment" class="table table-bordered table-hover">
									<thead>
										<tr>
											<th style="text-align: center;" ng-i18next="icem.segmentation.name"></th>
											<th style="text-align: center;" ng-i18next="icem.recommendSet.memo"></th>
											<th style="text-align: center;" ng-i18next="icem.operation"></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="x in tempRecomSegmentList">
											<td>
												<span>{{x.ruleName}}</span>
											</td>
											<td>
												<span>{{x.ruleMemo}}</span>
											</td>
											<td>
												<button type="button" class="btn btn-primary btn-circle" ng-click="addNewRecommendSegment(true,x)"><i class="fa fa-list"></i></button>
												<button type="button" class="btn btn-danger btn-circle" ng-click="deleteRecomSegment(x)"><i class="fa fa-times"></i></button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<!-- /.panel-body -->
			</div>

			<!-- Ads Recommend Report TAB -->
			<div class="panel panel-default" ng-show="adsTab === 'report'">
				<div class="panel-heading">
					<div class="row" ng-show="false">
						<div class="col-lg-12">
							<div class="col-lg-6 bottom-expand">
								<label ng-i18next="icem.recommend.ads.report.label"></label>
							</div>
							<div class="col-lg-6 bottom-expand">
								<button class="right btn btn-outline btn-info fa fa-download fa-2x" ng-click="exportAdsSegmentBtn()"></button>
							</div>
						</div>
					</div>
				</div>
				<!-- /.panel-heading -->
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-12">
							<div class="report-chart">
								<div id="siteChart"></div>
							</div>
						</div>
						<!-- /.col-lg-8 (nested) -->
					</div>
				</div>
				<!-- /.panel-body -->
			</div>

			<!-- Ads Scheduler Report TAB-->
			<div class="panel panel-default" ng-show="adsTab === 'scheduler'">
				<div class="panel-heading">
					<div class="row" ng-if="!isShowSchedulerDetail">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="form-inline">
									<label class="right-margin" ng-i18next="icem.scheduler.method"></label>
									<select ng-model="scheduler.method" class="form-control custom right-margin">
									<!--<select ng-model="scheduler.method" class="form-control custom right-margin" ng-change="changeScheduleMethod(scheduler)">-->
                                    		<option ng-repeat="x in schedulerMethod" ng-selected="scheduler.method === x" value="{{x}}">{{x | i18next}}</option>
										</select>
									<button class="btn btn-primary " ng-click="newScheduler(scheduler.method)" ng-i18next="icem.add" ng-disabled="schedulerCount >= schedulerLimit"></button>
								</div>
							</div>
						</div>
					</div>
					<div class="row" ng-if="isShowSchedulerDetail">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

							<div class="modal-header">
								<h4 class="modal-title">{{ (scheduler.id ? 'icem.edit' : 'icem.add') | i18next }}</h4>
							</div>
							<div class="modal-body">
								<div class="row bottom-expand">
									<div class="col-lg-12">

										<div class="row" ng-if="scheduler.method === 'DoubleClick'">
											<div class="col-lg-6">
												<label ng-i18next="icem.scheduler.name"></label><span class="label label-danger label-danger-mandatory" ng-i18next="icem.mandatory"></span>
												<input class="form-control bottom-expand" type="text" ng-model="scheduler.name" maxlength="20" />
												<label ng-i18next="icem.scheduler.method"></label><span class="label label-danger label-danger-mandatory" ng-i18next="icem.mandatory"></span>
												<select ng-model="scheduler.method" class="form-control custom bottom-expand" ng-disabled="true">
													<option ng-repeat="x in schedulerMethod" ng-selected="scheduler.method === x" value="{{x}}">{{x | i18next}}</option>
												</select>
												<label ng-i18next="icem.site.advertiserId"></label><span class="label label-danger label-danger-mandatory" ng-i18next="icem.mandatory"></span>
												<input class="form-control bottom-expand" type="text" ng-model="scheduler.extraConfig.advertiserId" maxlength="100" only-number
												/>
												<label ng-i18next="icem.scheduler.ads.double.click.networkId"></label><span class="label label-danger label-danger-mandatory"
													ng-i18next="icem.mandatory"></span>
												<input class="form-control bottom-expand" type="text" ng-model="scheduler.elementId" maxlength="100" />
												<label ng-i18next="icem.scheduler.ads.userListName" ng-show="scheduler.method === 'DoubleClick'"></label>
												<span class="label label-danger label-danger-mandatory" ng-i18next="icem.mandatory"></span>
												<input class="form-control bottom-expand" type="text" ng-model="scheduler.extraConfig.userListId" maxlength="100" />
												<label ng-i18next="icem.scheduler.ads.appId" ng-show="scheduler.method === 'DoubleClick'"></label><span class="label label-danger label-danger-mandatory"
													ng-i18next="icem.mandatory"></span>
												<input class="form-control bottom-expand" ng-show="scheduler.method === 'DoubleClick'" type="text" ng-model="scheduler.extraConfig.appId"
													maxlength="100" />
											</div>
											<div class="col-lg-6">
												<label ng-i18next="icem.scheduler.push.url"></label><span class="label label-danger label-danger-mandatory" ng-i18next="icem.mandatory"></span>
												<input class="form-control bottom-expand" type="text" ng-model="scheduler.listenerUrl" maxlength="100" />
												<label ng-i18next="icem.scheduler.day.of.week"></label>
												<select ng-model="scheduler.exeWeek " ng-options="d as (d | i18next) for d in dayOfWeek" class="form-control custom bottom-expand"></select>
												<label ng-i18next="icem.scheduler.hour.of.day "></label><span class="label label-danger label-danger-mandatory"
													ng-i18next="icem.mandatory "></span>
												<select ng-model="scheduler.exeTime" ng-options="h as (h | i18next) for h in hourOfDay" class="form-control custom bottom-expand"></select>
												<label ng-i18next="icem.scheduler.start.date"></label><span class="label label-danger label-danger-mandatory"
													ng-i18next="icem.mandatory"></span>
												<p class="input-group bottom-expand">
													<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="scheduler.startDate" ng-click="openedEffective = true"
														is-open="openedEffective" datepicker-options="dateOptions" close-text="Close" />

												</p>
												<label ng-i18next="icem.scheduler.end.date"></label>
												<p class="input-group bottom-expand">
													<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="scheduler.endDate" ng-click="openedExpires = true"
														is-open="openedExpires" datepicker-options="dateOptions" date-disabled="false" close-text="Close" />
												</p>
												<label ng-i18next="icem.scheduler.status"></label><span class="label label-danger label-danger-mandatory" ng-i18next="icem.mandatory"></span>
												<select ng-model="scheduler.status" ng-options="s.value as (s.label | i18next) for s in schedulerStatus" class="form-control custom bottom-expand"></select>
											</div>
										</div>
										<div class="row" ng-if="scheduler.method === 'MailRecommend'">
											<div class="col-lg-6">
												<label ng-i18next="icem.scheduler.name"></label><span class="label label-danger label-danger-mandatory" ng-i18next="icem.mandatory"></span>
												<input class="form-control bottom-expand" type="text" ng-model="scheduler.name" maxlength="20" />
												<label ng-i18next="icem.scheduler.method"></label><span class="label label-danger label-danger-mandatory" ng-i18next="icem.mandatory"></span>
												<select ng-model="scheduler.method" class="form-control custom bottom-expand" ng-disabled="true">
													<option ng-repeat="x in schedulerMethod" ng-selected="scheduler.method === x" value="{{x}}">{{x | i18next}}</option>
												</select>
												<label ng-i18next="icem.scheduler.day.of.week"></label>
												<select ng-model="scheduler.exeWeek " ng-options="d as (d | i18next) for d in dayOfWeek" class="form-control custom bottom-expand"></select>
												<label ng-i18next="icem.scheduler.hour.of.day "></label><span class="label label-danger label-danger-mandatory"
													ng-i18next="icem.mandatory "></span>
												<select ng-model="scheduler.exeTime" ng-options="h as (h | i18next) for h in hourOfDay" class="form-control custom bottom-expand"></select>
											</div>
											<div class="col-lg-6">
												<label ng-i18next="icem.scheduler.start.date"></label><span class="label label-danger label-danger-mandatory"
													ng-i18next="icem.mandatory"></span>
												<p class="input-group bottom-expand">
													<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="scheduler.startDate" ng-click="openedEffective = true"
														is-open="openedEffective" datepicker-options="dateOptions" close-text="Close" />
												</p>
												<label ng-i18next="icem.scheduler.end.date"></label>
												<p class="input-group bottom-expand">
													<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="scheduler.endDate" ng-click="openedExpires = true"
														is-open="openedExpires" datepicker-options="dateOptions" date-disabled="false" close-text="Close" />
												</p>
												<label ng-i18next="icem.scheduler.status"></label><span class="label label-danger label-danger-mandatory" ng-i18next="icem.mandatory"></span>
												<select ng-model="scheduler.status" ng-options="s.value as (s.label | i18next) for s in schedulerStatus" class="form-control custom bottom-expand"></select>
												<label>{{ 'icem.rule.content' | i18next}}</label>s<span class="label label-danger label-danger-mandatory" ng-i18next="icem.mandatory"></span>
												<select class="form-control" ng-model="scheduler.extraConfig.contentId" ng-options="x.id as x.name for x in recommendContentList">
													</select>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-12">
											<div class="col-lg-12">
												<label ng-i18next="icem.recommend.ads.segment"></label>
												<select ng-model="newSegmentId" ng-options="s.id as s.name for s in adsSegmentList" ng-value="{{s.id}}" class="form-control custom bottom-expand"></select>
												<button type="button" class="btn btn-primary bottom-expand" ng-disabled="adsSegmentList.length === 0" ng-click="addSegment(newSegmentId)"
													ng-i18next="icem.add"></button>
											</div>
											<div class="col-lg-12">
												<div class="table-responsive">
													<table class="table table-bordered table-hover">
														<thead>
															<tr>
																<th ng-i18next="icem.recommend.ads.segment.name"></th>
																<th ng-i18next="icem.recommend.ads.segment.type"></th>
																<th ng-i18next="icem.memo"></th>
																<th ng-i18next="icem.operation"></th>
															</tr>
														</thead>
														<tbody>
															<tr ng-repeat="x in scheduler.extraConfig.segments">
																<td width="30%">
																	<span>{{x.name}}</span>
																</td>
																<td width="30%">
																	<span>{{ (!x.hasSegment ? 'RULE_BASE' : 'segment') | i18next}}</span>
																</td>
																<td width="30%">
																	<span>{{ x.memo }}</span>
																</td>
																<td width="10%" style="white-space:nowrap;">
																	<button type="button" class="btn btn-danger btn-circle" ng-click="deleteSegment(x)"><i class="fa fa-times"></i></button>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary" click-once api-method="saveScheduler" input-data1="scheduler" input-data2="true"
										ng-i18next="icem.save"></button>
									<button type="button" class="btn btn-default" ng-click="closeSchedule()" ng-i18next="icem.close"></button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /.panel-heading -->
				<div class="panel-body">
					<!-- Ads Segment Export Scheduler -->
					<div class="row">
						<div class="col-lg-12">
							<label>{{('icem.row.limit'| i18next) + ': ' +  schedulerCount + '/' + schedulerLimit}}</label>
							<div class="table-responsive">
								<table ng-table="schedulerTableParams" class="table table-bordered table-hover">
									<thead>
										<tr>
											<th class="col-lg-1" ng-i18next="icem.scheduler.name"></th>
											<th class="col-lg-1" ng-i18next="icem.scheduler.ads.double.click.networkId"></th>
											<th class="col-lg-1" ng-i18next="icem.scheduler.method"></th>
											<th class="col-lg-2" ng-i18next="icem.scheduler.push.url"></th>
											<th class="col-lg-1" ng-i18next="icem.scheduler.day.of.week"></th>
											<th class="col-lg-1" ng-i18next="icem.scheduler.hour.of.day"></th>
											<th class="col-lg-1" ng-i18next="icem.scheduler.start.date"></th>
											<th class="col-lg-1" ng-i18next="icem.scheduler.end.date"></th>
											<th class="col-lg-1" ng-i18next="icem.scheduler.status"></th>
											<th class="col-lg-1" ng-i18next="icem.scheduler.modified.date"></th>
											<th class="col-lg-2" ng-i18next="icem.operation"></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="x in tempSchedulerList">
											<td>
												<span>{{x.name}}</span>
											</td>
											<td>
												<span>{{x.elementId}}</span>
											</td>
											<td>
												<span>{{x.method | i18next}}</span>
											</td>
											<td>
												<span>{{x.listenerUrl}}</span>
											</td>
											<td>
												<span>{{x.exeWeek | i18next}}</span>
											</td>
											<td>
												<span>{{x.exeTime}}</span>
											</td>
											<td>
												<span>{{x.startDate | date:'yyyy-MM-dd'}}</span>
											</td>
											<td>
												<span>{{x.endDate | date:'yyyy-MM-dd'}}</span>
											</td>
											<td class="text-center">
												<button type="button" class="btn  {{x.status == 0 ? 'btn-success':'btn-warning'}}  btn-circle" ng-click="changeSchedulerStatus(x)"
													popover-placement="top" popover="{{ (x.status == 0 ? 'icem.scheduler.status.enable':'icem.scheduler.status.disable') | i18next}}"
													popover-trigger="mouseenter"><i class="fa {{x.status == 0 ? 'fa-play' : 'fa-pause'}}"></i></button>
											</td>
											<td>
												<span>{{x.lastModified | date:'yyyy-MM-dd HH:mm:ss'}}</span>
											</td>
											<td>
												<button type="button" class="btn btn-primary btn-circle" ng-click="editScheduler(x)"><i class="fa fa-list"></i></button>
												<button type="button" class="btn btn-danger btn-circle" ng-click="deleteScheduler(x)"><i class="fa fa-times"></i></button>
												<button type="button" ng-disabled="x.running" class="btn btn-default btn-circle" ng-click="runJob(x)" popover-placement="top"
													popover="{{ 'icem.scheduler.run.now' | i18next}}" popover-trigger="mouseenter"><i class="fa fa-arrow-up"></i></button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<!-- /.col-lg-8 (nested) -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.panel-body -->
			</div>

			<!-- Ads Contractor Report TAB -->
			<div class="panel panel-default" ng-show="adsTab === 'contractor'">
				<div class="panel-heading">
					<div class="row" ng-show="false">
						<div class="col-lg-12">
							<div class="col-lg-6 bottom-expand">
								<label ng-i18next="icem.recommend.ads.contractor.view.label"></label>
							</div>
							<div class="col-lg-6 bottom-expand">
								<button class="right btn btn-outline btn-info fa fa-download fa-2x" ng-click="exportAdsContractorSegmentBtn()"></button>
							</div>
						</div>
					</div>
				</div>
				<!-- /.panel-heading -->
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<h3 ng-if="clickSegment">{{clickSegment}}</h3>
							<div class="report-chart">
								<div id="contractorChart"></div>
							</div>
							<button ng-disabled="isShowExportModal" class="btn btn-primary right-inline-block bottom-expand" ng-click="uploadSegment()"
								ng-i18next="icem.push" ng-if="!clickSegment"></button>
						</div>

						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="isShowExportModal">
							<div class="panel-body panel-body-text-left" ng-show="showExportResult">
								<div class="panel-heading">
									<div>
										<label>{{ ('icem.ads.export.select'| i18next) }}</label>
									</div>
								</div>
								<!-- Rule List -->
								<div class="panel-body">
									<div class="row">
										<div class="col-lg-12">
											<div class="table-responsive">
												<table ng-table="exportResultTableParams" show-filter="true" class="table table-bordered table-hover">
													<tbody>
														<tr ng-repeat="x in $data">
															<td>
																<input type="checkbox" ng-model="pushCheckboxes.items[x.fileName]" />
															</td>
															<td width="30%" data-title="getTitle('icem.site.name')" filter="{ 'siteName': 'text'}">
																<span>{{x.siteName}}</span>
															</td>
															<td width="30%" data-title="getTitle('icem.recommend.ads.scheduler')" filter="{ 'scheduleName': 'text'}">
																<span>{{x.scheduleName}}</span>
															</td>
															<td width="10%" data-title="getTitle('icem.ads.export.count')" sortable="'count'">
																<span popover="{{'icem.ads.export.count.desc' | i18next}}" popover-trigger="mouseenter" popover-placement="top">{{x.count}}</span>
															</td>
															<td width="15%" data-title="getTitle('icem.ads.export.time')" sortable="'date'">
																<span>{{x.date | date:'yyyy-MM-dd HH:mm:ss' }}</span>
															</td>
															<td width="10%" data-title="getTitle('icem.operation')" style="white-space:nowrap;">
																<button type="button" class="btn btn-danger btn-circle" ng-click="deleteResult(x)"><i class="fa fa-times"></i></button>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
										<!-- /.col-lg-8 (nested) -->
									</div>
									<!-- /.row -->
								</div>
							</div>
							<!-- Rule Edit -->
							<div class="row" ng-show="showExportResult">
								<button type="button" class="btn btn-primary" ng-i18next="icem.next" ng-click="selectSchedule()"></button>
								<button type="button" class="btn btn-default" ng-i18next="icem.close" ng-click="cancelUploadSegment()"></button>
							</div>
							<div class="panel-body panel-body-text-left" ng-show="!showExportResult">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
										<label>{{'icem.ads.export.config.template' | i18next}}</label>
									</div>
									<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
										<div class="radio" ng-repeat="s in scheduleList">
											<input type="radio" name="pushSchedule" ng-model="pushSchedule.id" ng-value="s.id" />{{s.name}}
										</div>
									</div>
								</div>
							</div>
							<div class="row" ng-show="!showExportResult">
								<button type="button" class="btn btn-primary" ng-i18next="icem.ok" ng-click="pushResult()" ng-disabled="pushingResult"></button>
								<button type="button" class="btn btn-default" ng-click="closeExportModal()" ng-i18next="icem.close"></button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /.col-lg-8 -->
	</div>
	<!-- /.row -->
</div>
<!-- /#page-wrapper -->
<!--</div>-->
<!-- /#wrapper -->

<!-- pixel modal-->
<div class="modal fade" id="pixelModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="width:70%">
		<div class="modal-content">
			<!-- advertiser list -->
			<div class="modal-body">
				<div class="row">
					<div class="col-lg-7">
						<!--advertiser drop down-->
						<div class="row">
							<div class="col-lg-8">
								<label ng-i18next="icem.segmentation.select.advertiser"></label>
								<select class="form-control" ng-model="selected" ng-change="reloadSelectPixel(true)">
    	    						    	<option ng-repeat="c in siteList" ng-selected="selected == c.id" value="{{c.id}}">
    	    						            {{ c.name }}
    	    						        </option>
    	    						    </select>
							</div>
						</div>
						<!--pixel list-->
						<div class="row">
							<div class="col-lg-12">
								<div class="table-responsive">
									<table ng-table="pixelTableParams" class="table table-bordered table-hover">
										<thead>
											<tr>
												<th></th>
												<th ng-i18next="icem.pixel.name"></th>
												<th ng-i18next="icem.pixel.label"></th>
												<th ng-i18next="icem.segmentation.pixel.validated"></th>
											</tr>
											<tr>
												<th></th>
												<th>
													<div class="input-group input-group-sm search-control dropdown-menu header-drop-search">
														<span class="input-group-addon header-drop-search">
					                       		            <span class="glyphicon glyphicon-search"></span>
														</span>
														<input class="form-control header-drop-search" type="text" placeholder="Search Pixel Name" ng-model="filterName" ng-change="filterChange('name', filterName)"
															maxlength="30"/>
													</div>
												</th>
												<th>
													<div class="input-group input-group-sm search-control dropdown-menu header-drop-search">
														<span class="input-group-addon header-drop-search">
				                       		            <span class="glyphicon glyphicon-search"></span>
														</span>
														<input class="form-control header-drop-search" type="text" placeholder="Search Content Label" ng-model="filterLabel" ng-change="filterChange('label', filterLabel)"
															maxlength="30"/>
													</div>
												</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="x in tempPixelList">
												<td width="10%"><input type="checkbox" ng-model="x.inUse" ng-click="checkPixel(x, x.inUse)" /></td>
												<td width="40%">
													<span>{{ x.name }}</span>
												</td>
												<td width="40%">
													<span>{{ x.label }}</span>
												</td>
												<td width="20%">
													<i ng-if="!x.inUse" class="fa fa-ban"></i>
													<i ng-if="x.inUse" class="fa fa-check"></i>
												</td>

											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-5">
						<label>{{'icem.segmentation.selected.items' | i18next }} {{'icem.segmentation.pixel' | i18next }}</label>
						<div class="table-responsive">
							<table class="table table-bordered table-hover">
								<thead>
									<tr>
										<th ng-i18next="icem.pixel.name"></th>
										<th ng-i18next="icem.segmentation.advertiser"></th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="p in tempSelectedPixel | filter: {inUse: true}">
										<td>{{ p.name }}</td>
										<td>{{ p.siteId | siteIdFilter:this }}</td>
										<td>
											<button class="btn btn-xs btn-warning" ng-click="checkPixel(p ,false)">
		    		                    			<span class="glyphicon glyphicon-trash"></span>
			    		                    		</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" ng-click="ok('#pixelModal',tempSelectedPixel)" ng-i18next="icem.save"></button>
				<button type="button" class="btn btn-default" ng-click="cancelok('#pixelModal',tempSelectedPixel)" ng-i18next="icem.cancel"></button>
			</div>
		</div>
	</div>
</div>

<!-- Advertiser modal - for campaign click and campaign view-->
<div class="modal fade" id="advertiserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="width:70%">
		<div class="modal-content">
			<!-- advertiser list -->
			<div class="modal-body">
				<div class="row">
					<div class="col-lg-7">
						<!--advertiser drop down-->
						<div class="row">
							<div class="col-lg-8">
								<label ng-i18next="icem.segmentation.select.advertiser"></label>
								<select class="form-control" ng-model="selected" ng-change="reloadSelectAdvertiser(true)">
	    						    	<option ng-repeat="c in siteList" ng-selected="selected == c.id" value="{{c.id}}">
	    						            {{ c.name }}
	    						        </option>
	    						    </select>
							</div>
						</div>
						<!--campaign list-->
						<div class="row">
							<div class="col-lg-12">
								<div class="table-responsive">
									<table ng-table="campaignTableParams" class="table table-bordered table-hover">
										<thead>
											<tr>
												<th></th>
												<th ng-i18next="icem.campaign.name"></th>
												<th ng-i18next="icem.segmentation.pixel.validated"></th>
												<th ng-i18next="icem.campaign.startDate"></th>
												<th ng-i18next="icem.campaign.endDate"></th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="x in tempCampaignList">
												<td width="10%"><input type="checkbox" ng-model="x.inUse" ng-click="checkCampaign(x, x.inUse)" /></td>
												<td width="30%">
													<span>{{x.name}}</span>
												</td>
												<td width="20%">
													<i ng-if="!x.inUse" class="fa fa-ban"></i>
													<i ng-if="x.inUse" class="fa fa-check"></i>
												</td>
												<td width="20%">
													<span>{{x.startDate | date:'yyyy/MM/dd'}}</span>
												</td>
												<td width="20%">
													<span>{{x.endDate | date:'yyyy/MM/dd'}}</span>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-5">
						<label>{{'icem.segmentation.selected.items' | i18next }} {{'icem.menu.campaign' | i18next }}</label>
						<div class="table-responsive">
							<table class="table table-bordered table-hover">
								<thead>
									<tr>
										<th ng-i18next="icem.campaign.name"></th>
										<th ng-i18next="icem.segmentation.advertiser"></th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="p in tempSelectedCampaign | filter: {inUse: true}">
										<td>{{ p.name }}</td>
										<td>{{ p.siteId | siteIdFilter:this }}</td>
										<td>
											<button class="btn btn-xs btn-warning" ng-click="checkCampaign(p ,false)">
			                    		    	<span class="glyphicon glyphicon-trash"></span>
			                    			</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<!--col-lg-5-->
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" ng-click="ok('#advertiserModal',tempSelectedCampaign)" ng-i18next="icem.save"></button>
				<button class="btn btn-default" ng-click="cancelok('#advertiserModal',tempSelectedCampaign)" ng-i18next="icem.cancel"></button>
			</div>
		</div>
	</div>
</div>




<!-- Recommend Rule Modal -->
<!--<div class="modal fade" id="recommendRuleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="width:70%">
		<div class="modal-content">
			<div class="modal-body">

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" ng-click="ok('#recommendRuleModal',tempSelectedRules)" ng-i18next="icem.save"></button>
				<button class="btn btn-default" ng-click="cancelok('#recommendRuleModal',tempSelectedRules)" ng-i18next="icem.cancel"></button>
			</div>
		</div>
	</div>
</div>-->