<div id="page-wrapper">
    <div class="row toggleBtn" ng-click="CommonService.toggleBtn()"><i class="fa fa-angle-left fa-2x"></i></div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <!-- /.panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-lg-12" ng-hide="isShowMember">
                            <button class="btn btn-primary " ng-click="newMember()" ng-i18next="icem.add"></button>
                            <button type="submit" class="btn btn-default pull-right" ng-file-select ng-model="batchFile" ng-file-change="uploadMember($files)"
                                ng-multiple="false" allow-dir="false" accept="*.xlsx,*.csv">
                                    <i class="fa fa-upload" aria-hidden="true"></i>
                                    &nbsp;&nbsp;{{"icem.memberAttribute.uploadMember" | i18next}}
                                </button>
                        </div>
                        <div class="col-lg-12" ng-show="isShowMember">
                            <div class="modal-header">
                                <button type="button" class="close" ng-click="closeMember()">&times;</button>
                                <h3 class="modal-title" ng-i18next="icem.add"></h3>
                            </div>
                            <div class="modal-body">
                                <label ng-i18next="icem.member.name"></label>
                                <input class="form-control" type="text" ng-model="newModal.name" maxlength="30" />
                                <label ng-i18next="icem.member.phone"></label>
                                <input class="form-control" type="text" ng-model="newModal.phoneNumber" maxlength="15" only-number/>
                                <label ng-i18next="icem.member.email"></label>
                                <input class="form-control" type="email" ng-model="newModal.email" maxlength="50" />
                                <label ng-i18next="icem.member.account"></label>
                                <input class="form-control" type="text" ng-model="newModal.accountName" maxlength="30" />
                                <label ng-i18next="icem.member.remain.point"></label>
                                <input class="form-control" type="text" ng-model="newModal.availablePoints" ng-init="newModal.availablePoints=0" maxlength="9"
                                    only-number/>
                                <label ng-i18next="icem.member.total.point"></label>
                                <input class="form-control" type="text" ng-model="newModal.allPoints" ng-init="newModal.allPoints=0" maxlength="9" only-number/>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" click-once input-data1="newModal" api-method="saveMember" ng-i18next="icem.save"></button>
                                <button type="button" class="btn btn-default" ng-click="closeMember()" ng-i18next="icem.close"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="sk-fading-circle" ng-show="isLoading">
                            <div class="sk-circle1 sk-circle"></div>
                            <div class="sk-circle2 sk-circle"></div>
                            <div class="sk-circle3 sk-circle"></div>
                            <div class="sk-circle4 sk-circle"></div>
                            <div class="sk-circle5 sk-circle"></div>
                            <div class="sk-circle6 sk-circle"></div>
                            <div class="sk-circle7 sk-circle"></div>
                            <div class="sk-circle8 sk-circle"></div>
                            <div class="sk-circle9 sk-circle"></div>
                            <div class="sk-circle10 sk-circle"></div>
                            <div class="sk-circle11 sk-circle"></div>
                            <div class="sk-circle12 sk-circle"></div>
                        </div>
                        <div class="col-lg-12" ng-hide="isLoading">
                            <div class="table-responsive">
                                <table ng-table="memberTableParams" show-filter="true" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th ng-i18next="icem.member.name"></th>
                                            <th ng-i18next="icem.member.phone"></th>
                                            <th ng-i18next="icem.member.email"></th>
                                            <th ng-i18next="icem.member.id"></th>
                                            <th ng-i18next="icem.member.bindstatus"></th>
                                            <th ng-i18next="icem.member.remain.point"></th>
                                            <th ng-i18next="icem.member.total.point"></th>
                                            <th ng-repeat="attr in displayAttrList">
                                                {{attr.name}}
                                            </th>
                                            <th ng-i18next="icem.operation"></th>
                                        </tr>
                                    </thead>
                                    <tbody id="recordBody">
                                        <tr>
                                            <td width="10%">
                                                <div class="input-group input-group-sm search-control dropdown-menu header-drop-search">
                                                    <span class="input-group-addon header-drop-search">
										                <span class="glyphicon glyphicon-search"></span>
                                                    </span>
                                                    <input class="form-control" type="text" ng-model="memberFilter.name" ng-change="filterMember()" maxlength="30"/>
                                                </div>
                                            </td>
                                            <td width="10%"><input class="form-control" type="text" ng-model="memberFilter.phoneNumber" ng-change="filterMember()"
                                                    maxlength="15"/></td>
                                            <td width="15%"><input class="form-control" type="text" ng-model="memberFilter.email" ng-change="filterMember()"
                                                    maxlength="30"/></td>
                                            <td width="10%"><input class="form-control" type="text" ng-model="memberFilter.accountName" ng-change="filterMember()"
                                                    maxlength="30"/></td>
                                            <td width="10%">
                                                <select class="form-control" ng-change="filterMember()" ng-model="memberFilter.memberBinding">
                                                        <option value="" >---</option>
                                                        <option value="true" ng-i18next="icem.member.bind"></option>
                                                        <option value="false" ng-i18next="icem.member.unbound"></option>
                                                    </select>
                                            </td>
                                            <td width="5%"></td>
                                            <td width="5%"></td>
                                            <td ng-repeat="attr in displayAttrList"></td>
                                            <td width="10%">
                                            </td>
                                        </tr>
                                        <tr ng-repeat="x in tempMemberList">
                                            <td width="10%" data-title="getTitle('icem.member.name')" filter="{ 'name': 'text' }">
                                                <span ng-if="!x.$$edit">{{x.name}}</span>
                                                <div ng-if="x.$$edit"><input class="form-control" type="text" ng-model="x.name" maxlength="30"
                                                    /></div>
                                            </td>
                                            <td width="10%" data-title="getTitle('icem.member.phone')" filter="{ 'phone': 'text' }">
                                                <span ng-if="!x.$$edit">{{x.phoneNumber}}</span>
                                                <div ng-if="x.$$edit"><input class="form-control" type="text" ng-model="x.phoneNumber" maxlength="15"
                                                        only-number /></div>
                                            </td>
                                            <td width="15%" data-title="getTitle('icem.member.email')" filter="{ 'email': 'text' }">
                                                <span ng-if="!x.$$edit">{{x.email}}</span>
                                                <div ng-if="x.$$edit"><input class="form-control" type="email" ng-model="x.email" maxlength="50"
                                                    /></div>
                                            </td>
                                            <td width="10%" data-title="getTitle('icem.member.id')" filter="{ 'member': 'text' }">
                                                <a ng-if="!x.$$edit" href="" ng-click="clickMember(x.memberId)">
                                                    <img width="16" height="16" ng-src="images/photo.png"> {{x.accountName}}
                                                </a>
                                                <div ng-if="x.$$edit"><input class="form-control" type="text" ng-model="x.accountName" maxlength="30"
                                                    /></div>
                                            </td>
                                            <td width="10%" data-title="getTitle('icem.member.bindstatus')" filter="{ 'bindstatus': 'select' }" filter-data="bindings([{'id':0, 'title':getTitle('icem.member.unbound')},{'id':1,'title':getTitle('icem.member.bind')}])">
                                                <img ng-if="!x.memberBinding" ng-src="images/bind.png" align="center" />
                                            </td>
                                            <td width="5%" data-title="getTitle('icem.member.remain.point')" align="center">
                                                <span ng-if="!x.$$edit">{{x.availablePoints}}</span>
                                                <div ng-if="x.$$edit"><input class="form-control" type="text" ng-model="x.availablePoints" maxlength="9"
                                                        only-number /></div>
                                            </td>
                                            <td width="5%" data-title="getTitle('icem.member.total.point')" align="center">
                                                <span ng-if="!x.$$edit">{{x.allPoints}}</span>
                                                <div ng-if="x.$$edit"><input class="form-control" type="text" ng-model="x.allPoints" maxlength="9"
                                                        only-number /></div>
                                            </td>

                                            <td width="5%" ng-if="!x.$$edit" ng-repeat="ma in x.customerValues track by $index" style="word-break:break-all;">
                                                <span ng-if="!(ma.attributeValue === null)">{{ma.attributeValue}}</span>
                                                <span ng-if="ma.attributeValue === null" ng-repeat="attr in displayAttrList">
                                                        <span ng-repeat="op in attr.valueOptions | filter:{'valueOptionId':ma.valueOptionId}:attrIdFilter">{{ op.optionName }}</span>
                                                </span>
                                            </td>
                                            <td width="5%" ng-if="x.$$edit" ng-repeat="ma in x.customerValues track by $index">
                                                <div ng-repeat="a in displayAttrList">
                                                    <textarea ng-if="ma.customAttributeId == a.attributeId && a.valueOptions.length == 0" class="form-control" ng-model="ma.attributeValue"
                                                        maxlength="100"></textarea>
                                                    <select ng-model="ma.valueOptionId" ng-if="ma.customAttributeId == a.attributeId && a.valueOptions.length > 0">
                                                            <option ng-repeat="b in a.valueOptions" value="{{b.valueOptionId}}" ng-selected="{{ma.valueOptionId == b.valueOptionId}}">{{b.optionName}}</option>
                                                        </select>
                                                </div>
                                            </td>

                                            <td width="10%" data-title="getTitle('icem.operation')" style="white-space:nowrap;">
                                                <button ng-if="!x.$$edit" type="button" class="btn btn-primary btn-circle" ng-click="editMember(x)"><i class="fa fa-list"></i></button>
                                                <button ng-if="x.$$edit" type="button" class="btn btn-success btn-circle" click-once input-data1="x" api-method="updateMember"><i class="fa fa-check"></i></button>
                                                <button ng-if="x.$$edit" type="button" class="btn btn-warning btn-circle" ng-click="cancelSaveMember(x)"><i class="fa fa-times"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.col-lg-8 (nested) -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-8 -->
    </div>
    <!-- /.row -->
</div>

<!-- memberModal -->
<div class="modal fade" id="memberModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 800px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" ng-i18next="icem.member.detail"></h4>
            </div>
            <div class="modal-body">
                <!-- member basic info -->
                <div class="row">
                    <div class="col-md-3 col-lg-3 " align="center">
                        <img ng-src="{{memberDetail.headimgurl != null ? memberDetail.headimgurl : 'images/photo.png'}}" class="img-circle img-fit">
                        <h4>{{memberDetail.accountName}}</h4>
                    </div>
                    <div class=" col-md-9 col-lg-9 ">
                        <table class="table table-user-information">
                            <thead>
                                <tr>
                                    <th colspan="2" ng-i18next="icem.member.basic.info"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td ng-i18next="icem.member.name"></td>
                                    <td>{{memberDetail.name}}</td>
                                </tr>
                                <tr>
                                    <td ng-i18next="icem.member.phone"></td>
                                    <td>{{memberDetail.phoneNumber}}</td>
                                </tr>
                                <tr>
                                    <td ng-i18next="icem.member.email"></td>
                                    <td>{{memberDetail.email}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- member tracking info -->
                <div class="row">
                    <div class="col-md-3 col-lg-3 " align="center">
                    </div>
                    <div class=" col-md-9 col-lg-9 ">
                        <table class="table table-user-information">
                            <thead>
                                <tr>
                                    <th colspan="2" ng-i18next="icem.member.tracking.info"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td ng-i18next="icem.member.visit"></td>
                                    <td>{{memberDetail.visit}}</td>
                                </tr>
                                <tr>
                                    <td ng-i18next="icem.member.pageView"></td>
                                    <td>{{memberDetail.pageView}}</td>
                                </tr>
                                <tr>
                                    <td ng-i18next="icem.member.visitInterval"></td>
                                    <td>{{memberDetail.visitIntervalDays}}</td>
                                </tr>
                                <tr>
                                    <td ng-i18next="icem.member.lastVisited"></td>
                                    <td>{{memberDetail.lastVisited | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                                </tr>
                                <tr>
                                    <td ng-i18next="icem.member.firstVisited"></td>
                                    <td>{{memberDetail.firstVisited | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                                </tr>
                                <tr>
                                    <td ng-i18next="icem.member.lastAccessed"></td>
                                    <td>{{memberDetail.lastAccessed | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                                </tr>
                                <tr>
                                    <td ng-i18next="icem.member.lastReferringSite"></td>
                                    <td>{{memberDetail.lastReferringSite}}</td>
                                </tr>
                                <tr>
                                    <td ng-i18next="icem.member.lastReferringPage"></td>
                                    <td>{{memberDetail.lastReferringPage}}</td>
                                </tr>
                                <tr>
                                    <td ng-i18next="icem.member.landingKeyword"></td>
                                    <td>{{memberDetail.landingKeyword}}</td>
                                </tr>
                                <tr>
                                    <td ng-i18next="icem.member.landingSite"></td>
                                    <td>{{memberDetail.landingSite}}</td>
                                </tr>
                                <tr>
                                    <td ng-i18next="icem.member.landingPage"></td>
                                    <td>{{memberDetail.landingPage}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- member attribute info -->
                <div class="row">
                    <div class="col-md-3 col-lg-3 "></div>
                    <div class=" col-md-9 col-lg-9 ">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th ng-i18next="icem.member.attributeName"></th>
                                        <th colspan="2"> <input type="checkbox" ng-model="attrCheckbox" />
                                            <span ng-i18next="icem.member.attributevalue"></span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="attribute in attributeList">
                                        <td ng-show="attribute.value.length > 0 || attrCheckbox || attribute.$$edit">{{attribute.key}} </td>
                                        <td ng-show="attribute.value.length > 0 || attrCheckbox || attribute.$$edit">
                                            <span ng-if="!attribute.$$edit">{{attribute.value}}</span>
                                            <span ng-if="attribute.$$edit && !attribute.ignoreByRule && attribute.$$hasValue">
                                               <select ng-model="attribute.value" class="form-control custom">
                                                    <option ng-repeat="x in attributeValueList" ng-selected="attribute.value === x.name" value="{{x.name}}">{{x.name}}</option>
                                               </select>
                                          </span>
                                            <div ng-if="attribute.$$edit && !attribute.ignoreByRule && !attribute.$$hasValue"><input class="form-control" type="text" ng-model="attribute.value" maxlength="20"
                                                    only-number /></div>
                                            <div ng-if="attribute.$$edit && attribute.ignoreByRule"><input class="form-control" type="text" ng-model="attribute.value" maxlength="20"
                                                /></div>
                                        </td>
                                        <td width="10%" data-title="getTitle('icem.operation')" style="white-space:nowrap;" ng-show="attribute.value.length > 0 || attrCheckbox || attribute.$$edit">
                                            <button ng-if="!attribute.$$edit" type="button" class="btn btn-primary btn-circle" ng-click="editAttribute(attribute)" ng-disabled="isOtherAttributeEdit() || auth.USER_VIEW != 'EDITABLE'"><i class="fa fa-list"></i></button>
                                            <button ng-if="attribute.$$edit" type="button" class="btn btn-success btn-circle" ng-click="updateAttribute(attribute)"><i class="fa fa-check"></i></button>
                                            <button ng-if="attribute.$$edit" type="button" class="btn btn-warning btn-circle" ng-click="cancelSaveAttribute(attribute)"><i class="fa fa-times"></i></button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- member behavior info -->
                <div class="row">
                    <div class="col-md-3 col-lg-3 "></div>
                    <div class=" col-md-9 col-lg-9 ">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th ng-i18next="icem.member.scoring.info"></th>
                                        <th colspan="3"> <input type="checkbox" ng-model="scoreCheckbox" />
                                            <span ng-i18next="icem.member.score.show.all"></span>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th ng-i18next="icem.member.score.group"></th>
                                        <th ng-i18next="icem.member.score.name"></th>
                                        <th ng-i18next="icem.member.score.session"></th>
                                        <th ng-i18next="icem.member.score.accumulated"></th>
                                        <th ng-i18next="icem.member.score.lastupdated"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="score in scoreList">
                                        <td ng-show="score.currentValue > 0  || score.accumulatedValue > 0 || scoreCheckbox || score.$$edit">{{score.scoreGroupName}}</td>
                                        <td ng-show="score.currentValue > 0  || score.accumulatedValue > 0 || scoreCheckbox || score.$$edit">{{score.scoreKeyName}}</td>
                                        <td ng-show="score.currentValue > 0  || score.accumulatedValue > 0 || scoreCheckbox || score.$$edit">
                                            <span ng-if="!score.$$edit">{{score.currentValue}}</span>
                                            <div ng-if="score.$$edit"><input class="form-control" type="text" ng-model="score.currentValue" maxlength="20"
                                                /></div>
                                        </td>
                                        <td ng-show="score.currentValue > 0  || score.accumulatedValue > 0 || scoreCheckbox || score.$$edit">
                                            <span ng-if="!score.$$edit">{{score.accumulatedValue}}</span>
                                            <div ng-if="score.$$edit"><input class="form-control" type="text" ng-model="score.accumulatedValue" maxlength="20"
                                                /></div>
                                        </td>
                                        <td ng-show="score.currentValue > 0  || score.accumulatedValue > 0 || scoreCheckbox || score.$$edit">{{score.lastModified | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- view history info -->
                <div class="row">
                    <div class="col-md-3 col-lg-3 "></div>
                    <div class=" col-md-9 col-lg-9 ">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th colspan="5" ng-i18next="icem.member.history.info"></th>
                                    </tr>
                                    <tr>
                                        <th ng-i18next="icem.member.info.item.code"></th>
                                        <th ng-i18next="icem.member.info.item.name"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="hItem in historyItems">
                                        <td>{{hItem.code}}</td>
                                        <td>{{hItem.name}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- user external info -->
                <div class="row">
                    <div class="col-md-3 col-lg-3 "></div>
                    <div class=" col-md-9 col-lg-9 ">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th colspan="5" ng-i18next="icem.member.external.recommend.info"></th>
                                    </tr>
                                    <tr>
                                        <th ng-i18next="icem.member.info.item.code"></th>
                                        <th ng-i18next="icem.member.info.item.name"></th>
                                        <th ng-i18next="icem.member.info.item.score"></th>
                                        <th ng-i18next="icem.member.info.item.start.date"></th>
                                        <th ng-i18next="icem.member.info.item.end.date"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="rItem in recommendItems">
                                        <td>{{rItem.itemCode}}</td>
                                        <td>{{rItem.itemName}}</td>
                                        <td>{{rItem.score}}</td>
                                        <td>{{rItem.effective | date:'yyyy-MM-dd' }}</td>
                                        <td>{{rItem.expires | date:'yyyy-MM-dd' }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- user cart items -->
                <div class="row">
                    <div class="col-md-3 col-lg-3 "></div>
                    <div class=" col-md-9 col-lg-9 ">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th colspan="5" ng-i18next="icem.member.cart.item.info"></th>
                                    </tr>
                                    <tr>
                                        <th ng-i18next="icem.member.info.item.code"></th>
                                        <th ng-i18next="icem.member.info.item.name"></th>
                                        <th ng-i18next="icem.member.info.item.start.date"></th>
                                        <th ng-i18next="icem.member.info.item.end.date"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="cItem in cartItems">
                                        <td>{{cItem.itemCode}}</td>
                                        <td>{{cItem.itemName}}</td>
                                        <td>{{cItem.effective | date:'yyyy-MM-dd' }}</td>
                                        <td>{{cItem.expires | date:'yyyy-MM-dd' }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-i18next="icem.close"></button>
            </div>
            <div ng-show="debug" class="debug-info">
                <pre>form = {{memberDetail | json}}</pre>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>