<div id="page-wrapper">
	<div class="row toggleBtn" ng-click="CommonService.toggleBtn()"><i class="fa fa-angle-left fa-2x"></i></div>
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<button class="btn btn-primary" ng-disabled="!tempRecommendContentList" ng-click="addRecommendContent()" ng-i18next="icem.add"
						ng-show="!isShowRecommendContent"></button>
					<div class="row">
						<div class="col-lg-12" ng-show="isShowRecommendContent">
							<div class="modal-header">
								<h3 class="modal-title" ng-i18next="{{newRecommendContent.id ? 'icem.edit' : 'icem.add'}}"></h3>
							</div>
							<div class="modal-body">
								<div class="row">
									<div class="col-lg-12">
										<div class="col-lg-4">
											<label ng-i18next="icem.recommendContent.name"></label>
											<span class="label label-danger  label-danger-mandatory" ng-i18next="icem.mandatory"></span>
											<input class="form-control" type="text" ng-model="newRecommendContent.name" maxlength="30" />
											<label ng-i18next="icem.recommendContent.memo"></label>
											<input class="form-control" type="text" ng-model="newRecommendContent.memo" maxlength="30" />
											<label ng-i18next="icem.template.availableFields"></label>
											<ul style="list-style: none;background-color:#FFFACD;">
												<li ng-repeat="alias in fieldList track by $index">{{alias}}</li>
											</ul>
										</div>
										<div class="col-lg-8">
											<label ng-i18next="icem.template.html"></label>
											<span class="label label-danger label-danger-mandatory" ng-i18next="icem.mandatory"></span>
											<textarea class="form-control" ng-model="newRecommendContent.item.html" maxlength="4000" rows="15"></textarea>
										</div>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<div class="col-lg-12">
									<button type="button" class="btn btn-primary" click-once api-method="saveRecommendContent" input-data1="newRecommendContent"
										ng-i18next="icem.save"></button>
									<button type="button" class="btn btn-default" ng-click="closeRecommendContent()" ng-i18next="icem.close"></button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /.panel-heading -->
				<div class="panel-body">
					<div class="row">
						<div class="sk-fading-circle" ng-show="isLoading">
							<div class="sk-circle1 sk-circle"></div>
							<div class="sk-circle2 sk-circle"></div>
							<div class="sk-circle3 sk-circle"></div>
							<div class="sk-circle4 sk-circle"></div>
							<div class="sk-circle5 sk-circle"></div>
							<div class="sk-circle6 sk-circle"></div>
							<div class="sk-circle7 sk-circle"></div>
							<div class="sk-circle8 sk-circle"></div>
							<div class="sk-circle9 sk-circle"></div>
							<div class="sk-circle10 sk-circle"></div>
							<div class="sk-circle11 sk-circle"></div>
							<div class="sk-circle12 sk-circle"></div>
						</div>
						<div class="col-lg-12" ng-hide="isLoading">
							<div class="table-responsive">
								<table ng-table="recommendContentTableParams" class="table table-bordered table-hover">
									<thead>
										<tr>
											<th ng-i18next="icem.recommendContent.name"></th>
											<th ng-i18next="icem.recommendContent.memo"></th>
											<th ng-i18next="icem.recommendContent.content"></th>
											<th ng-i18next="icem.status"></th>
											<th ng-i18next="icem.operation"></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="x in tempRecommendContentList">
											<td width="10%">
												<span>{{x.name}}</span>
											</td>
											<td width="10%">
												<span>{{x.memo}}</span>
											</td>
											<td width="10%">
												<i ng-if="isShowPreview(x.item.html)" class="fa fa-search" popover-html-unsafe="{{x.item.html}}" popover-trigger="mouseenter"
													popover-placement="right"></i>
												<div ng-if="!isShowPreview(x.item.html)">{{ "icem.recommendContent.notPreview" | i18next }}</div>
											</td>
											<td width="10%">
												<div>{{x.status}}</div>
											</td>
											<td width="10%" style="white-space:nowrap;">
												<button type="button" class="btn btn-primary btn-circle" ng-click="editRecommendContent(x)"><i class="fa fa-list"></i></button>
												<button type="button" class="btn btn-danger btn-circle" ng-click="deleteRecommendContent(x.id)"><i class="fa fa-times"></i></button>
												<!-- <button type="button" class="btn btn-default btn-circle" ng-click="undoRecommendContent(x)"><i class="fa fa-undo"></i></button> -->
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<!-- /.col-lg-8 (nested) -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-8 -->
	</div>
	<!-- /.row -->
</div>

<!-- Angular Template -->
<script type="text/ng-template" id="popover-html-unsafe-popup.html">
    <div class="popover {{placement}}" ng-class="{ in: isOpen(), fade: animation() }">
		<div class="arrow"></div>
		<div class="popover-inner">
			<h3 class="popover-title" ng-bind="title" ng-show="title"></h3>
			<!--<div class="popover-content" bind-html-unsafe="content"></div>-->
			<div class="popover-content" ng-bind-html="content"></div>
		</div>
	</div>
</script>