<div id="page-wrapper">
    <div class="row toggleBtn" ng-click="CommonService.toggleBtn()"><i class="fa fa-angle-left fa-2x"></i></div>
    <div class="row">
        <div class="col-lg-12">
            <!-- /.panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <button class="btn btn-primary" ng-click="isEditItemGroup(true,initItemGroupObj)" ng-i18next="icem.add" ng-show="!isShowItemGroup"></button>

                    <!--  Recommend Set List  -->
                    <div class="row">
                        <div class="col-lg-12" ng-if="isShowItemGroup">
                            <div class="modal-header">
                                <h3 class="modal-title" ng-i18next="{{itemGroupContainer.itemGroupId ? 'icem.edit' : 'icem.add'}}"></h3>
                                <h4 class="modal-title" ng-if="currentItemGroup.itemGroupName">{{'icem.recommendItem.list.name' | i18next }} : {{currentItemGroup.itemGroupName}}</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-12 bottom-expand">
                                                <div class="row">
                                                    <div class="col-lg-12 bottom-expand">
                                                        <label>{{ 'icem.recommendItem.list.name' | i18next}}</label>
                                                        <span class="label label-danger label-danger-mandatory" ng-i18next="icem.mandatory"></span>
                                                        <input class="form-control" type="text" ng-model="itemGroupContainer.name" />
                                                    </div>
                                                    <div class="col-lg-12 bottom-expand">
                                                        <label>{{ 'icem.recommendItem.selectionMethod' | i18next}}</label>
                                                        <select class="form-control" ng-model="itemGroupContainer.displayType" ng-options="x.name as (x.name | i18next) for x in displayTypes">
                                                            </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 bottom-expand">
                                                <label>{{ 'icem.recommendItem.list.memo' | i18next}}</label>
                                                <textarea class="form-control" ng-model="itemGroupContainer.memo" maxlength="1000" rows="5"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="row">
                                            <div class="sk-fading-circle" ng-if="isLoadingItemList">
                                                <div class="sk-circle1 sk-circle"></div>
                                                <div class="sk-circle2 sk-circle"></div>
                                                <div class="sk-circle3 sk-circle"></div>
                                                <div class="sk-circle4 sk-circle"></div>
                                                <div class="sk-circle5 sk-circle"></div>
                                                <div class="sk-circle6 sk-circle"></div>
                                                <div class="sk-circle7 sk-circle"></div>
                                                <div class="sk-circle8 sk-circle"></div>
                                                <div class="sk-circle9 sk-circle"></div>
                                                <div class="sk-circle10 sk-circle"></div>
                                                <div class="sk-circle11 sk-circle"></div>
                                                <div class="sk-circle12 sk-circle"></div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 bottom-expand" ng-if="!isLoadingItemList">
                                                <div class="table-responsive">
                                                    <table ng-table="itemListTableParams" class="table table-bordered table-hover text-center">
                                                        <thead>
                                                            <tr>
                                                                <th ng-i18next="icem.items.code"></th>
                                                                <th ng-i18next="icem.items.name"></th>
                                                                <th ng-i18next="icem.add"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <!--Item Filter-->
                                                            <tr>
                                                                <td width="5%">
                                                                    <div class="input-group input-group-sm search-control dropdown-menu header-drop-search search-width">
                                                                        <span class="input-group-addon header-drop-search">
										                                    <span class="glyphicon glyphicon-search"></span>
                                                                        </span>
                                                                        <input class="form-control" type="text" ng-model="items.code" ng-change="filterChange(items)" maxlength="30" />
                                                                    </div>
                                                                </td>
                                                                <td width="10%"><input class="form-control" type="text" ng-model="items.name"
                                                                        ng-change="filterChange(items)" maxlength="30" /></td>
                                                                <td width="8%"></td>
                                                            </tr>
                                                            <!--Item List-->
                                                            <tr ng-repeat="i in tempItemList">
                                                                <td width="10%">{{i.code}}</td>
                                                                <td width="10%">{{i.name}}</td>
                                                                <td width="3%">
                                                                    <button type="button" class="btn btn-info btn-circle" ng-click="addToList(i)"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 bottom-expand" ng-if="!isLoadingItemList">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-hover text-center">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-center" ng-i18next="icem.items.name"></th>
                                                                <th class="text-center" ng-i18next="icem.recommendItem.list.itemScore"></th>
                                                                <th class="text-center" ng-i18next="icem.delete"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="y in detailVOContainer">
                                                                <td width="10%">{{y.itemName}}</td>
                                                                <td width="10%">
                                                                    <input class="form-control" type="text" ng-disabled="itemGroupContainer.displayType === 'AUTO' || itemGroupContainer.displayType === 'RANDOM'"
                                                                        ng-model="detailVOContainer[$index].score" maxlength="10"
                                                                    />
                                                                </td>
                                                                <td width="3%">
                                                                    <button type="button" class="btn btn-danger btn-circle" ng-click="removeFromList(y.itemId,$index)"><i class="fa fa-minus" aria-hidden="true"></i></button>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="col-lg-12">
                                    <button type="button" class="btn btn-primary" click-once api-method="saveItemGroup" input-data1="itemGroupContainer" input-data2="detailVOContainer"
                                        ng-i18next="icem.save"></button>
                                    <button type="button" class="btn btn-default" ng-click="isEditItemGroup(false)" ng-i18next="icem.close"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.panel-heading -->

                <div class="panel-body">
                    <div class="row">
                        <div class="sk-fading-circle" ng-show="isLoading">
                            <div class="sk-circle1 sk-circle"></div>
                            <div class="sk-circle2 sk-circle"></div>
                            <div class="sk-circle3 sk-circle"></div>
                            <div class="sk-circle4 sk-circle"></div>
                            <div class="sk-circle5 sk-circle"></div>
                            <div class="sk-circle6 sk-circle"></div>
                            <div class="sk-circle7 sk-circle"></div>
                            <div class="sk-circle8 sk-circle"></div>
                            <div class="sk-circle9 sk-circle"></div>
                            <div class="sk-circle10 sk-circle"></div>
                            <div class="sk-circle11 sk-circle"></div>
                            <div class="sk-circle12 sk-circle"></div>
                        </div>
                        <div class="col-lg-12" ng-hide="isLoading">
                            <div class="table-responsive">
                                <table ng-table="itemGroupTableParams" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th ng-i18next="icem.recommendItem.list.name"></th>
                                            <th ng-i18next="icem.recommendItem.list.memo"></th>
                                            <th ng-i18next="icem.recommendItem.selectionMethod"></th>
                                            <th ng-i18next="icem.status"></th>
                                            <th ng-i18next="icem.operation"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="x in tempItemGroupList">
                                            <td width="10%">
                                                <span>{{x.name}}</span>
                                            </td>
                                            <td width="10%">
                                                <span>{{x.memo}}</span>
                                            </td>
                                            <td width="10%">
                                                <span>{{x.displayType | i18next}}</span>
                                            </td>
                                            <td width="10%">
                                                <div>{{x.status}}</div>
                                            </td>
                                            <td width="10%" style="white-space:nowrap;">
                                                <button type="button" class="btn btn-primary btn-circle" ng-click="isEditItemGroup(true,x)"><i class="fa fa-list"></i></button>
                                                <button type="button" class="btn btn-danger btn-circle" ng-click="deleteItemGroup(x.itemGroupId)"><i class="fa fa-times"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.col-lg-8 (nested) -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-8 -->
    </div>
    <!-- /.row -->
</div>