<div id="page-wrapper">
	<div class="row toggleBtn" ng-click="CommonService.toggleBtn()"><i class="fa fa-angle-left fa-2x"></i></div>
	<div class="row">
		<div class="col-lg-12">
			<!-- /.panel -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-bar-chart-o fa-fw"></i> <span ng-i18next="icem.tag.manager"></span>
				</div>
				<!-- /.panel-heading -->
				<div class="panel-body panel-body-left">
					<div class="row">
						<div class="sk-fading-circle" ng-show="isLoading">
							<div class="sk-circle1 sk-circle"></div>
							<div class="sk-circle2 sk-circle"></div>
							<div class="sk-circle3 sk-circle"></div>
							<div class="sk-circle4 sk-circle"></div>
							<div class="sk-circle5 sk-circle"></div>
							<div class="sk-circle6 sk-circle"></div>
							<div class="sk-circle7 sk-circle"></div>
							<div class="sk-circle8 sk-circle"></div>
							<div class="sk-circle9 sk-circle"></div>
							<div class="sk-circle10 sk-circle"></div>
							<div class="sk-circle11 sk-circle"></div>
							<div class="sk-circle12 sk-circle"></div>
						</div>
						<div class="col-lg-12" ng-hide="isLoading">
							<div class="row">
								<div class="col-lg-12 bottom-expand">
									<div class="col-lg-4 col-md-4">
										<label ng-i18next="icem.tag.available"></label>
										<div class="list-group">
											<a ng-click="openRightPanel(tag)" ng-repeat="tag in tempTagList" class="list-group-item" ng-class="{'active':tagItem.tagType == tag.tagType}">
												<h4 class="list-group-item-heading">{{'icem.tag.' + tag.tagType | i18next}}</h4>
												<span class="badge">{{tag.status}}</span>
												<p class="list-group-item-heading">{{tag.name}}</p>
												<p class="list-group-item-text">{{tag.memo}}</p>
												<p class="list-group-item-heading" ng-if="tag.tagType=='tagExternalVOList'">{{'icem.tag.tagExternalVOList.des' | i18next}}</p>
												<p class="list-group-item-heading" ng-if="tag.tagType=='tagPixelVOList'">{{'icem.tag.tagPixelVOList.des' | i18next}}</p>
											</a>
										</div>
										<div class="bottom-expand">
											<label ng-i18next="icem.tag.retUrlPrefix"></label>
											<input class="form-control bottom-expand" ng-model="tempAllTag.retUrlPrefix" type="text" maxlength="60" />
										</div>
									</div>
									<div class="col-lg-8 col-md-8" ng-if="rightPanel">
										<div class="panel panel-default">
											<!-- TrackVO / ClickVO / RecommendVO Panel -->
											<div class="panel-heading" ng-if="!(tagItem.tagType=='tagExternalVOList') && !(tagItem.tagType=='tagPixelVOList')">
												<div class="modal-header">
													<h3 class="modal-title">{{'icem.tag.' + tagItem.tagType | i18next}}</h3>
													<div class="alert alert-success" role="alert" ng-if="saveAlert">{{ "icem.tag.saveSuccess" | i18next}}</div>
													<div class="bottom-expand pull-right">
														<!--<button type="button" class="btn btn-primary" ng-click="saveCurrentTag(tagItem.tagType,tempAllTag)" ng-i18next="icem.save"></button>-->
														<button type="button" class="btn btn-primary" click-once api-method="saveCurrentTag" input-data1="tagItem.tagType" input-data2="tempAllTag"
															ng-i18next="icem.save"></button>
													</div>
												</div>
												<div class="modal-body">
													<!-- VO common part  -->
													<div class="bottom-expand">
														<label ng-i18next="icem.tag.name"></label>
														<input class="form-control" ng-model="tagItem.name" type="text" maxlength="30" />
														<label ng-i18next="icem.tag.memo"></label>
														<textarea class="form-control" rows="3" ng-model="tagItem.memo" maxlength="4000"></textarea>
													</div>
													<div class="bottom-expand">
														<label ng-i18next="icem.tag.status"></label>
														<div class="btn-group">
															<label class="btn btn-default" ng-model="tagItem.status" btn-radio="'ON'">ON</label>
															<label class="btn btn-default" ng-model="tagItem.status" btn-radio="'OFF'">OFF</label>
														</div>
													</div>

													<div ng-if="tagItemPairList">
														<div class="bottom-expand">
															<button class="btn btn-default" ng-if="tagItem.tagType == 'tagTrackVO'" ng-click="addPair(tagItem.tagType)">{{ "icem.add" | i18next }}&nbsp{{ "icem.tag.cookieTag" | i18next }}</button>
															<button class="btn btn-default" ng-if="tagItem.tagType !== 'tagTrackVO'" ng-click="addPair(tagItem.tagType)">{{ "icem.add" | i18next }}&nbsp{{ "icem.tag.dompair" | i18next }}</button>
															<table class="table" ng-if="tagItemPairList && tagItemPairList.length > 0">
																<thead>
																	<tr>
																		<th ng-if="tagItem.tagType=='tagTrackVO'" ng-i18next="icem.tag.cookieTag"></th>
																		<th ng-if="tagItem.tagType=='tagTrackVO'" ng-i18next="icem.tag.cookieName"></th>
																		<th ng-if="tagItem.tagType=='tagClickVO'" ng-i18next="icem.tag.pairKey"></th>
																		<th ng-if="tagItem.tagType=='tagClickVO'" ng-i18next="icem.tag.pairValue"></th>
																		<th ng-if="tagItem.tagType=='tagRecommendVO'" ng-i18next="icem.tag.pairKey"></th>
																		<th ng-if="tagItem.tagType=='tagRecommendVO'" ng-i18next="icem.tag.recommendId"></th>
																		<th ng-i18next="icem.edit"></th>
																	</tr>
																</thead>
																<tbody>
																	<tr ng-repeat="tag in tagItemPairList">
																		<td><input class="form-control" ng-model="tag.pairKey" type="text" maxlength="30" ng-change="convertPair()"
																			/></td>
																		<td ng-if="tagItem.tagType=='tagTrackVO'">
																			<select class="form-control" ng-model="tag.pairValue" ng-change="convertPair()">
																					<option ng-repeat="co in cookiePair" value="{{co.name}}" ng-selected="{{tag.pairValue == co.name}}" >{{'icem.tag.' +co.name | i18next}}</option>
																				</select>
																		</td>
																		<td ng-if="tagItem.tagType=='tagClickVO'">
																			<input class="form-control" ng-model="tag.pairValue" type="text" maxlength="30" ng-change="convertPair()" />
																		</td>
																		<td ng-if="tagItem.tagType=='tagRecommendVO'">
																			<select class="form-control" ng-init="convertToString(tag)" ng-model="tag.pairValue" ng-change="convertPair()">
																					<option ng-repeat="re in recommendSetList" value="{{re.id}}" ng-selected="tag.pairValue == re.id" >{{re.name}}</option>
																				</select>
																		</td>
																		<td><button type="button" class="btn btn-danger btn-circle" ng-click="deletePair($index)"><i class="fa fa-times"></i></button></td>
																	</tr>
																</tbody>
															</table>
														</div>
														<!--  tagTrackVO urlFetchMap -->
														<div class="bottom-expand" ng-if="tagItem.tagType=='tagTrackVO'">
															<div class="bottom-expand">
																<button class="btn btn-default" ng-click="addToArray('trackUrlMap',tagItem.urlFetchMap.URL_PARAM)">{{ "icem.add" | i18next }}&nbsp{{ "icem.tag.track.URL_PARAM" | i18next }}</button>
																<table class="table" ng-if="tagItem.urlFetchMap.URL_PARAM && tagItem.urlFetchMap.URL_PARAM.length > 0">
																	<thead>
																		<tr>
																			<th ng-i18next="icem.tag.track.URL_PARAM"></th>
																			<th ng-i18next="icem.edit"></th>
																		</tr>
																	</thead>
																	<tbody>
																		<tr ng-repeat="param in tagItem.urlFetchMap.URL_PARAM track by $index">
																			<td>
																				<input class="form-control" ng-model="tagItem.urlFetchMap.URL_PARAM[$index]" type="text" maxlength="30" />
																			</td>
																			<td>
																				<button type="button" class="btn btn-danger btn-circle" ng-click="deleteFromArray('trackUrlMap',tagItem.urlFetchMap.URL_PARAM,$index)"><i class="fa fa-times"></i></button>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</div>
															<div class="bottom-expand">
																<label ng-i18next="icem.tag.track.URL_LAST_PATH"></label>
																<div class="btn-group btn-group">
																	<button class="btn btn-default" ng-model="tagItem.urlFetchMap.URL_LAST_PATH" ng-class="{'active':tagItem.urlFetchMap.URL_LAST_PATH === 'ON'}"
																		btn-radio="'ON'">ON</button>
																	<button class="btn btn-default" ng-model="tagItem.urlFetchMap.URL_LAST_PATH" ng-class="{'active':tagItem.urlFetchMap.URL_LAST_PATH === 'OFF'}"
																		btn-radio="'OFF'">OFF</button>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>

											<!-- tagExternalVOList/tagPixelVOList Panel -->
											<div class="panel-heading" ng-if="tagItem.tagType === 'tagExternalVOList' || tagItem.tagType === 'tagPixelVOList'">
												<div class="modal-header">
													<h3 class="modal-title" ng-if="tagItem.tagType === 'tagExternalVOList'">{{'icem.tag.tagExternalVOList' | i18next}}</h3>
													<h3 class="modal-title" ng-if="tagItem.tagType === 'tagPixelVOList'">{{'icem.tag.tagPixelVOList' | i18next}}</h3>
													<div class="alert alert-success" role="alert" ng-if="saveAlert">{{ "icem.tag.saveSuccess" | i18next}}</div>
												</div>
												<div class="modal-body">
													<button class="btn btn-primary" ng-if="!isShowTagExternal && !isShowTrigger && tagItem.tagType === 'tagExternalVOList'" ng-click="isOpenTagExternal(true,initExternalVO)"
														ng-i18next="icem.add"></button>
													<button class="btn btn-primary" ng-if="!isShowTagExternal && !isShowTrigger && tagItem.tagType === 'tagPixelVOList'" ng-click="isOpenTagExternal(true,initPixelVO)"
														ng-i18next="icem.add"></button>
													<!-- Tag External Panel -->
													<div ng-if="isShowTagExternal">
														<div class="bottom-expand">
															<label ng-i18next="icem.tag.name"></label>
															<input class="form-control" ng-model="tagExternalItem.name" type="text" maxlength="30" />
															<label ng-i18next="icem.tag.label" ng-if="tagItem.tagType === 'tagPixelVOList'"></label>
															<input class="form-control" ng-model="tagExternalItem.label" ng-if="tagItem.tagType === 'tagPixelVOList'" type="text" maxlength="30"
															/>
															<label ng-i18next="icem.tag.memo"></label>
															<textarea class="form-control" rows="2" ng-model="tagExternalItem.memo" maxlength="4000"></textarea>
														</div>
														<div class="bottom-expand">
															<label ng-i18next="icem.tag.status"></label>
															<div class="btn-group">
																<label class="btn btn-default" ng-model="tagExternalItem.status" btn-radio="'ON'">ON</label>
																<label class="btn btn-default" ng-model="tagExternalItem.status" btn-radio="'OFF'">OFF</label>
															</div>
														</div>
														<div class="bottom-expand" ng-if="tagItem.tagType === 'tagExternalVOList'">
															<label ng-i18next="icem.tag.externalType"></label>
															<select class="form-control" ng-model="tagExternalItem.type">
																	<option ng-repeat="type in externalTypeList" value="{{type.name}}" >{{'icem.tag.externalType.' +type.name | i18next}}</option>
																</select>
														</div>
														<div class="bottom-expand" ng-if="tagItem.tagType === 'tagExternalVOList'">
															<label ng-i18next="icem.tag.codeSnippet"></label>
															<textarea class="form-control" rows="5" ng-model="tagExternalItem.codeSnippet"></textarea>
														</div>
														<div class="bottom-expand">
															<button type="button" class="btn btn-primary" ng-if="tagItem.tagType === 'tagExternalVOList'" ng-click="saveExternal(tagExternalItem,false,'setTagExternal')"
																ng-i18next="icem.save"></button>
															<button type="button" class="btn btn-primary" ng-if="tagItem.tagType === 'tagPixelVOList'" ng-click="saveExternal(tagExternalItem,false,'setTagPixel')"
																ng-i18next="icem.save"></button>
															<button type="button" class="btn btn-default" ng-click="isOpenTagExternal(false)" ng-i18next="icem.close"></button>
														</div>
													</div>
													<!-- End of Tag External Panel -->

													<!-- trigger Panel -->
													<div ng-if="isShowTrigger">
														<div class="form-inline">
															<label>{{'icem.tag.externalType.name' | i18next}}&nbsp:</label>
															<span>{{currentTagExternal.name}}</span>
														</div>
														<button class="btn btn-default" ng-if="!isShowTriggerItem && tagItem.tagType === 'tagExternalVOList'" ng-click="addNewTrigger(true,1)">{{ "icem.add" | i18next }}&nbsp{{'icem.tag.Trigger' | i18next}}</button>
														<button class="btn btn-default" ng-if="!isShowTriggerItem && tagItem.tagType === 'tagPixelVOList'" ng-click="addNewTrigger(true,2)">{{ "icem.add" | i18next }}&nbsp{{'icem.tag.Trigger' | i18next}}</button>
														<div class="bottom-expand" ng-if="!isShowTriggerItem && tagExternalItem.triggerVOList.length > 0">
															<table class="table">
																<thead>
																	<tr>
																		<th>{{'icem.tag.Trigger.type' | i18next}}</th>
																		<th ng-i18next="icem.edit"></th>
																	</tr>
																</thead>
																<tbody>
																	<tr ng-repeat="h in tagExternalItem.triggerVOList">
																		<td>{{'icem.tag.Trigger.' + h.type | i18next}}</td>
																		<td>
																			<button type="button" class="btn btn-primary btn-circle" ng-click="addNewTrigger(false,null,h)"><i class="fa fa-list"></i></button>
																			<button type="button" class="btn btn-danger btn-circle" ng-click="deleteTriggerItem($index)"><i class="fa fa-times"></i></button>
																		</td>
																	</tr>
																</tbody>
															</table>
														</div>
														<div ng-if="isShowTriggerItem">
															<div class="bottom-expand form-inline">
																<label ng-i18next="icem.tag.Trigger"></label>&nbsp;&nbsp;
																<select class="form-control" ng-model="triggerItem.type">
																		<option ng-if="tagItem.tagType === 'tagExternalVOList'" ng-repeat="tri in externalTriggerList" value="{{tri.name}}" >{{'icem.tag.Trigger.' + tri.name | i18next}}</option>
																		<option ng-if="tagItem.tagType === 'tagPixelVOList'" ng-repeat="pix in pixelTriggerList" value="{{pix.name}}" >{{'icem.tag.Trigger.' + pix.name | i18next}}</option>
																	</select>
															</div>
															<div class="bottom-expand">
																<button class="btn btn-default" ng-if="tagItem.tagType === 'tagExternalVOList'" ng-click="addTriggerItem(triggerItem.type)">{{ "icem.add" | i18next }}&nbsp{{'icem.tag.Trigger.' + triggerItem.type  | i18next}}</button>
																<button class="btn btn-default" ng-if="tagItem.tagType === 'tagPixelVOList'" ng-click="addTriggerItem(triggerItem.type)">{{ "icem.add" | i18next }}&nbsp{{'icem.tag.Trigger.' + triggerItem.type  | i18next}}</button>
																<table class="table">
																	<thead>
																		<tr>
																			<th ng-if="triggerItem.type === 'PAGE_VIEW_PIXEL_TRACK'">{{'icem.tag.Trigger.PAGE_VIEW_PIXEL_TRACK' | i18next}}</th>
																			<th ng-if="triggerItem.type === 'PAGE_VIEW_PIXEL_CONVERT'">{{'icem.tag.Trigger.PAGE_VIEW_PIXEL_CONVERT' | i18next}}</th>
																			<th ng-if="triggerItem.type === 'CLICK'">{{'icem.tag.Trigger.domId' | i18next}}</th>
																			<th ng-if="triggerItem.type === 'PAGE_VIEW'">{{'icem.tag.Trigger.url' | i18next}}</th>
																			<th ng-i18next="icem.edit"></th>
																		</tr>
																	</thead>
																	<tbody>
																		<!-- CLICK  -->
																		<tr ng-if="triggerItem.type === 'CLICK'" ng-repeat="dom in triggerItem.triggerDomList track by $index">
																			<td>
																				<input class="form-control" ng-model="triggerItem.triggerDomList[$index]" type="text" maxlength="30" />
																			</td>
																			<td>
																				<button type="button" class="btn btn-danger btn-circle" ng-click="deleteTriggerItemUnit($index,triggerItem.type)"><i class="fa fa-times"></i></button>
																			</td>
																		</tr>
																		<!-- PAGE_VIEW & PAGE_VIEW_PIXEL_TRACK & PAGE_VIEW_PIXEL_CONVERT -->
																		<tr ng-if="triggerItem.type === 'PAGE_VIEW' || triggerItem.type === 'PAGE_VIEW_PIXEL_TRACK' || triggerItem.type === 'PAGE_VIEW_PIXEL_CONVERT'"
																			ng-repeat="url in triggerItem.urlPatternList track by $index">
																			<td>
																				<input class="form-control" ng-model="triggerItem.urlPatternList[$index]" type="text" maxlength="30" />
																			</td>
																			<td>
																				<button type="button" class="btn btn-danger btn-circle" ng-click="deleteTriggerItemUnit($index,triggerItem.type)"><i class="fa fa-times"></i></button>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</div>
															<div class="bottom-expand">
																<button type="button" class="btn btn-primary" ng-click="saveExternalTrigger(triggerItem,true)" ng-i18next="icem.save"></button>
																<button type="button" class="btn btn-default" ng-click="cancelExternalTrigger()" ng-i18next="icem.close"></button>
															</div>
														</div>
													</div>
													<!-- End of trigger Panel -->

													<hr>

													<table class="table" ng-if="tagItem.tagType === 'tagExternalVOList'">
														<thead>
															<tr>
																<th ng-i18next="icem.tag.name"></th>
																<th ng-i18next="icem.tag.externalType"></th>
																<th ng-i18next="icem.status"></th>
																<th ng-i18next="icem.edit"></th>
															</tr>
														</thead>
														<tbody>
															<tr ng-repeat="ext in externalList">
																<td>{{ext.name}}</td>
																<td>{{'icem.tag.externalType.' + ext.type | i18next}}</td>
																<td>{{ext.status}}</td>
																<td>
																	<button type="button" class="btn btn-primary btn-circle" ng-click="isOpenTagExternal(true, ext)"><i class="fa fa-list"></i></button>
																	<button type="button" popover="{{'icem.add' | i18next}}&nbsp;{{'icem.tag.Trigger' | i18next}}" popover-trigger="mouseenter"
																		popover-placement="top" class="btn btn-info btn-circle" ng-click="isOpenTrigger(true, ext)">
																			<i class="fa fa-cubes"></i>
																		</button>
																	<button type="button" class="btn btn-danger btn-circle" ng-click="deleteTagExternal($index)"><i class="fa fa-times"></i></button>
																</td>
															</tr>
														</tbody>
													</table>

													<table class="table" ng-if="tagItem.tagType === 'tagPixelVOList'">
														<thead>
															<tr>
																<th colspan="1" ng-i18next="icem.tag.name"></th>
																<th colspan="1" ng-i18next="icem.tag.label"></th>
																<th colspan="1" ng-i18next="icem.status"></th>
																<th colspan="1" ng-i18next="icem.edit"></th>
															</tr>
														</thead>
														<tbody ng-repeat="pi in pixelList">
															<tr>
																<td colspan="1">{{pi.name}}</td>
																<td colspan="1">{{pi.label}}</td>
																<td colspan="1">{{pi.status}}</td>
																<td colspan="1">
																	<button type="button" class="btn btn-primary btn-circle" ng-click="isOpenTagExternal(true, pi)"><i class="fa fa-list"></i></button>
																	<button type="button" popover="{{'icem.add' | i18next}}&nbsp;{{'icem.tag.Trigger' | i18next}}" popover-trigger="mouseenter"
																		popover-placement="top" class="btn btn-info btn-circle" ng-click="isOpenTrigger(true, pi)">
																			<i class="fa fa-cubes"></i>
																		</button>
																	<button type="button" class="btn btn-danger btn-circle" ng-click="deleteTagExternal($index)"><i class="fa fa-times"></i></button>
																	<button type="button" class="btn btn-default btn-circle" ng-init="showHtmlCode = false" ng-click="showHtmlCode = !showHtmlCode"><i class="fa fa-info"></i></button>
																</td>
															</tr>
															<tr ng-if="showHtmlCode">
																<td colspan="2">
																	<label ng-i18next="icem.tag.htmlConversion"></label>
																	<textarea class="form-control" rows="6" ng-model="pi.htmlConversion" ng-disabled="true"></textarea>
																</td>
																<td colspan="2">
																	<label ng-i18next="icem.tag.htmlTracking"></label>
																	<textarea class="form-control" rows="6" ng-model="pi.htmlTracking" ng-disabled="true"></textarea>
																</td>
																<td></td>
																<td></td>
															</tr>
														</tbody>
													</table>
												</div>
												<div class="modal-footer">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-12">
							<label ng-i18next="icem.code.basic"></label>
							<textarea class="form-control" rows="14" ng-model="snippet" ng-disabled="true"></textarea>
						</div>
						<!-- </div> -->
					</div>
					<!-- /.col-lg-8 (nested) -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-8 -->
</div>