<a class="dropdown-toggle headertext" data-toggle="dropdown" href="" ng-click="applyBtn()"> <i id="applyBell" class="fa fa-lg fa-bell-o fa-fw"></i></a>
<script type="text/ng-template" id="applyList.html">
			<div class="modal-header">
				<h3 class="modal-title" ng-i18next="icem.applyConfig"></h3>
			</div>
			<div class="modal-body">
				<tabset>
				    <tab ng-repeat="apply in tempApplyList" heading="{{apply.name|i18next}}" active="tab.active" disable="tab.disabled">
						<div ng-show="apply.name != 'supervisorConfig'" >
				    	<button type="button" class="btn btn-primary" ng-click="allBtn(apply.changes,'')" ng-i18next="icem.onHoldAll" style="margin-top:5px;margin-bottom:5px"></button>
				    	<button type="button" class="btn btn-primary" ng-click="allBtn(apply.changes,'ACCEPT')" ng-i18next="icem.acceptAll" style="margin-top:5px;margin-bottom:5px"></button>
				    	<button type="button" class="btn btn-primary" ng-click="allBtn(apply.changes,'DECLINE')" ng-i18next="icem.declineAll" style="margin-top:5px;margin-bottom:5px"></button>
				    	<button type="button" class="btn btn-primary" ng-click="allBtn(apply.changes,'REVOKE')" ng-i18next="icem.undoAll" style="margin-top:5px;margin-bottom:5px"></button>
						</div>
				    	<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<th ng-show="apply.name != 'supervisorConfig'" ng-i18next="icem.apply.select"></th>
									<th ng-i18next="icem.name"></th>
									<th ng-show="apply.name == 'supervisorConfig'" ng-i18next="icem.siteBasic.value"></th>
									<th ng-show="apply.name != 'supervisorConfig'" ng-i18next="icem.apply.different"></th>
									<th ng-show="apply.name != 'supervisorConfig'" ng-i18next="icem.editBy"></th>
									<th ng-show="apply.name != 'supervisorConfig'"></th>
								</tr>
							</thead>
							<tbody>	
								  <tr ng-repeat="x in apply.changes">
								  	<td width="7%" ng-show="apply.name != 'supervisorConfig'">
								  		<select class="form-control" ng-model="x.action">
										  <option value="" ng-i18next="icem.onHold"></option>
										  <option value="ACCEPT" ng-i18next="icem.accept"></option>
										  <option value="DECLINE" ng-i18next="icem.decline"></option>
										  <option value="REVOKE" ng-i18next="icem.undo"></option>
										</select>
								  	</td>
								    <td width="20%">
						                <span>{{apply.name != 'supervisorConfig' ? x.name : ('icem.siteBasic.' + x.name | i18next)}}</span>
						            </td>
						            <td width="15%">
						            	<ol ng-show="apply.name != 'supervisorConfig'">
						                	<li ng-repeat="c in x.changes">{{c}}</li>
						                </ol>
										<span ng-show="apply.name == 'supervisorConfig'" style="white-space: pre-wrap;">{{toValueString(x.value)}}</span>										
						            </td>
						            <td width="10%" ng-show="apply.name != 'supervisorConfig'">
						            	{{x.editedBy}}
						            </td>
								    <td width="3%" style="white-space:nowrap;" ng-show="apply.name != 'supervisorConfig'">
								    	<button type="button" class="btn btn-info btn-circle" ng-click="previewApply(x.id,apply.name)"><i class="fa fa-search"></i></button>
								    </td>
								  </tr>
							</tbody>
						</table>
				    </tab>
				</tabset>	
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" ng-click="saveApply(tempApplyList)" ng-i18next="icem.apply"></button>
				<button type="button" class="btn btn-default" ng-click="cancel()" ng-i18next="icem.close"></button>	
			</div>
</script>
<script type="text/ng-template" id="applyPreview.html">
			<div class="modal-header">
				<h3 class="modal-title" ng-i18next="icem.apply.preview"></h3>
			</div>
			<div class="modal-body">
				    	<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<th ng-i18next="icem.name"></th>
									<th ng-i18next="icem.apply.before"></th>
									<th ng-i18next="icem.apply.after"></th>
								</tr>
							</thead>
							<tbody>
									<input type="checkbox" ng-model="showCheckbox"/>
									<label ng-i18next="icem.showAll"></label>
								  <tr ng-if="ad.changed || showCheckbox" ng-repeat="ad in tempApplyDetail">
								    <td width="10%">
						                <span>{{ad.name}}</span>
						            </td>
						             <td width="20%" ng-switch on="ad.type">
									 	<div ng-switch-when="array"  ng-repeat="b in ad.before">
										   {{b}}
										</div>
									 	<div ng-switch-when="objectArray" ng-repeat="b in ad.before">
									        <div ng-if="value" ng-repeat="(key, value) in b">
										        {{key}} : {{value}}
										    </div>
									 	</div>
									 	<div ng-switch-when="string">{{ad.before | i18next}} </div>
						            </td>
						            <td width="20%" ng-switch on="ad.type">
									 	<div ng-switch-when="array"  ng-repeat="b in ad.after">
										   {{b}}
										</div>
									 	<div ng-switch-when="objectArray" ng-repeat="b in ad.after">
									        <div ng-if="value" ng-repeat="(key, value) in b">
										        {{key}} : {{value}}
										    </div>
									 	</div>
									 	<div ng-switch-when="string">{{ad.after | i18next}} </div>
						            </td>
								  </tr>
							</tbody>
						</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="cancel()" ng-i18next="icem.close"></button>	
			</div>
</script>