<div>
	<div class="col-lg-12 bottom-expand" ng-show="!showAttributeEdit" style="text-align: left;">
		<button type="button" class="btn btn-primary" ng-click="openRuleAttribute(true)" ng-i18next="icem.add"></button>
	</div>

	<div ng-if="showAttributeEdit">
		<div class="col-lg-4">
			<label ng-i18next="icem.recommend.rule.attribute"></label>
		</div>
		<div class="col-lg-4 bottom-expand">
			<select class="form-control" ng-options="x.attributeId as x.name for x in attributeList" ng-model="ruleAttributeEdit.memberCustomAttrId"
				ng-change="changeRuleAttribute(ruleAttributeEdit.memberCustomAttrId)">
			</select>
		</div>
		<div class="col-lg-4 bottom-expand empty-label">
			<label class="form-control">&nbsp;</label>
		</div>


		<div class="col-lg-4 ">
			<label ng-i18next="icem.recommend.rule.attribute.value"></label>
		</div>
		<div class="col-lg-8 bottom-expand">
			<!-- input number value -->
			<input class="col-lg-4 form-control" type="text" ng-model="ruleAttributeEdit.memberCustomAttrValue" ng-change="checkOperator(ruleAttributeEdit.memberCustomAttrValue)" ng-hide="memberAttrOptions.length > 0"
				maxlength="30" />
			<!-- input options -->
			<div class="form-group" ng-show="memberAttrOptions.length > 0">
				<label class="checkbox-inline" ng-repeat="y in memberAttrOptions"> {{y.optionName}}
					<input type="radio" ng-model="ruleAttributeEdit.memberCustomAttrValue"
					 value="{{y.optionName}}" name="{{y.optionName}}">
				</label>
			</div>
		</div>

		<div class="col-lg-4 bottom-expand empty-label">
			<label class="form-control">&nbsp;</label>
		</div>
		<div class="col-lg-4 bottom-expand">
			<select ng-if="memberAttrOptions.length" class="form-control" ng-model="ruleAttributeEdit.operator" >
				<option ng-if="memberAttrOptions.length"
					ng-repeat="x in optionOperator"
					value="{{x}}">{{ 'icem.rule.operator.' + x | i18next}}</option>
			</select>
			<select ng-if="!memberAttrOptions.length" class="form-control" ng-model="ruleAttributeEdit.operator" 
			        ng-options="x.name as ('icem.rule.operator.' + x.name | i18next) for x in mixOperator | filter:{isShow:true}">
            </select>
		</div>
		<div class="col-lg-4 bottom-expand empty-label">
			<label class="form-control">&nbsp;</label>
		</div>

		<div class="col-lg-4 bottom-expand empty-label">
			<label class="form-control">&nbsp;</label>
		</div>

		<div class="right col-lg-12 bottom-expand">
			<button type="button" class="right btn btn-primary" ng-click="saveRuleAttribute(ruleAttributeEdit)" ng-i18next="icem.save"></button>
			<button type="button" class="right btn btn-default" ng-click="openRuleAttribute(false)" ng-i18next="icem.cancel"></button>
		</div>

	</div>

	<div class="col-lg-12 table-responsive">
		<!--<table class="table table-bordered table-hover" >-->
		<table class="table table-bordered table-hover" ng-if="attributeList.length > 0">
			<thead>
				<tr>
					<th ng-i18next="icem.recommend.rule.attribute.name"></th>
					<th ng-i18next="icem.recommend.rule.attribute.value"></th>
					<th ng-i18next="icem.recommend.rule.operator"></th>
					<th ng-i18next="icem.operation"></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="x in loadContainer">
					<!--<td width="30%"><span>{{x.memberCustomAttrId | attrNameFilter:this}}</span></td>-->
					<td width="30%"><span>{{x.memberCustomAttrName}}</span></td>
					<td width="20%">
						<span>{{x.memberCustomAttrValue}}</span>
					</td>
					<td width="30%"><span>{{ 'icem.rule.operator.' +
							x.operator | i18next}}</span></td>
					<td width="20%" style="white-space: nowrap;">
						<button type="button" class="btn btn-primary btn-circle" ng-click="editRuleAttribute(x)">
							<i class="fa fa-list"></i>
						</button>
						<button type="button" class="btn btn-danger btn-circle" ng-click="deleteRuleAttribute(x)">
							<i class="fa fa-times"></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>