<div class="col-lg-12 col-md-12 col-sm-12">
    <!--<div class="row">
            loadContainer : {{loadContainer}}<br>
    </div>-->
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12">
            <label ng-i18next="icem.recommend.rule.referrer.site"></label>
        </div>
        <div class="col-lg-5 col-md-4 col-sm-12">
            <input class="col-lg-4 form-control" type="text" ng-model="loadContainer.referSite" maxlength="300" />
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <select class="form-control" ng-model="loadContainer.referSiteOperator" ng-options="x as ('icem.rule.operator.' + x | i18next) for x in stringOperator">
	        </select>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12">
            <label ng-i18next="icem.recommend.rule.referrer.page"></label>
        </div>
        <div class="col-lg-5 col-md-4 col-sm-12">
            <input class="col-lg-4 form-control" type="text" ng-model="loadContainer.referPage" maxlength="300" />
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <select class="form-control" ng-model="loadContainer.referPageOperator" ng-options="x as ('icem.rule.operator.' + x | i18next) for x in stringOperator">
	        </select>
        </div>
    </div>
</div>