<div class="col-lg-12">
	<div ng-if="!useDatepicker">
		<div class="col-lg-4">
			<label ng-i18next="icem.recommend.rule.schedule.start"></label>
		</div>
		<div class="col-lg-8 bottom-expand">
			<p class="input-group">
				<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="loadSchedule.startDate" ng-click="openedStart = true"
					is-open="openedStart" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" />
			</p>
		</div>

		<div class="col-lg-4">
			<label ng-i18next="icem.recommend.rule.schedule.end"></label>
		</div>
		<div class="col-lg-8 bottom-expand">
			<p class="input-group">
				<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="loadSchedule.endDate" ng-click="openedEnd = true"
					is-open="openedEnd" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" />
			</p>
		</div>
	</div>

	<!--<div class="col-lg-4">
		<label ng-i18next="icem.recommend.rule.schedule.month"></label>
	</div>-->
	<!--<div class="col-lg-8 bottom-expand">
		<div class="btn-group" ng-repeat="x in monthOfYear">
			<label class="btn btn-primary schedule-button btn-calendar" ng-click="x.selected = !x.selected;booFilter(x, loadSchedule.month)" ng-class="{'active' : x.selected}">{{x.name}}</label>
		</div>
	</div>-->

	<!--<div class="col-lg-4">
		<label ng-i18next="icem.recommend.rule.schedule.day"></label>
	</div>
	<div class="col-lg-8 bottom-expand">
		<div class="btn-group">
			<label class="btn btn-primary schedule-button btn-calendar" ng-repeat="x in dayOfMonth" ng-click="x.selected = !x.selected;booFilter(x,loadSchedule.day)" ng-class="{'active' : x.selected}">{{x.name}}</label>
		</div>
	</div>-->

	<!--<div class="col-lg-4">
		<label ng-i18next="icem.recommend.rule.schedule.dow"></label>
	</div>
	<div class="col-lg-8 bottom-expand">
		<div class="btn-group">
			<label class="btn btn-primary schedule-button btn-calendar" ng-repeat="x in dayOfWeek" ng-click="x.selected = !x.selected;booFilter(x,loadSchedule.week)" ng-class="{'active' : x.selected}">{{x.name | i18next}}</label>
		</div>
	</div>-->

	<div class="col-lg-4">
		<label ng-i18next="icem.recommend.rule.schedule.time"></label>
	</div>
	<div class="col-lg-4">
		<p class="input-group">
			<select class="form-control" ng-model="loadSchedule.fromHour" ng-options="opt for opt in hourOfDayList">
				<option value="">---</option>
			</select>
		</p>
	</div>
	<div class="col-lg-4 bottom-expand btn-cleardate">
		<p class="input-group">
			<select class="form-control" ng-model="loadSchedule.toHour" ng-options="opt for opt in hourOfDayList">
				<option value="">---</option>
			</select>
		</p>
		<button type="button" class="btn btn-default pull-right" ng-click="clearAllDate()" ng-i18next="icem.clear"></button>
	</div>
</div>