<div class="col-lg-12 col-md-12 col-sm-12">
	<div>
			<!--loadContainer : {{loadContainer}}<br>-->
		<div class="row" ng-if="scoreList.length === 0">
			<div class="alert alert-warning" role="alert">{{ "icem.recommend.rule.score.no" | i18next}}</div>
		</div>
	</div>
	<div ng-if="scoreList.length > 0">
		<div class="row bottom-expand">
			<div class="col-lg-3 col-md-4 col-sm-12">
				<label ng-i18next="icem.recommend.rule.score.rule"></label>
			</div>
			<div class="col-lg-9 col-md-8 col-sm-12">
				<select class="form-control" ng-model="loadContainer.scoreRuleId" ng-options="x.id as x.name for x in scoreList">
	        </select>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-12">
				<label ng-i18next="icem.recommend.rule.score.value"></label>
			</div>
			<div class="col-lg-5 col-md-4 col-sm-12">
				<input class="col-lg-4 form-control" type="text" ng-model="loadContainer.score" maxlength="300" only-number />
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12">
				<select class="form-control" ng-model="loadContainer.scoreOperator" ng-options="x as ('icem.rule.operator.' + x | i18next) for x in scoreOperator">
	        </select>
			</div>
		</div>
		<div class="row bottom-expand">
			<div class="col-lg-3 col-md-4 col-sm-12">
				<label ng-i18next="icem.recommend.rule.score.percentage"></label>
			</div>
			<div class="col-lg-5 col-md-4 col-sm-12">
				<input class="col-lg-4 form-control" type="text" ng-model="loadContainer.percent" maxlength="300" only-number />
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12">
				<select class="form-control" ng-model="loadContainer.percentOperator" ng-options="x as ('icem.rule.operator.' + x | i18next) for x in scoreOperator">
	        </select>
			</div>
		</div>
		<div class="row bottom-expand">
			<div class="col-lg-3 col-md-4 col-sm-12">
				<label ng-i18next="icem.recommend.rule.score.rank"></label>
			</div>
			<div class="col-lg-5 col-md-4 col-sm-12">
				<input class="col-lg-4 form-control" type="text" ng-model="loadContainer.ranking" maxlength="300" only-number />
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12">
				<select class="form-control" ng-model="loadContainer.rankingOperator" ng-options="x as ('icem.rule.operator.' + x | i18next) for x in scoreOperator">
	        </select>
			</div>
		</div>
		<div class="row bottom-expand" ng-if="false">
			<div class="col-lg-3 col-md-4 col-sm-12 bottom-expand"></div>
			<div class="col-lg-9 col-md-8 col-sm-12 bottom-expand" style="clear: left;">
				<!--<label ng-i18next="icem.status"></label>-->
				<div class="btn-group btn-group">
					<button class="btn btn-default" ng-model="loadContainer.exist" ng-class="{'active':loadContainer.exist === true}" btn-radio="'true'"
						ng-i18next="icem.recommend.rule.score.type.exist"></button>
					<button class="btn btn-default" ng-model="loadContainer.exist" ng-class="{'active':loadContainer.exist === false}" btn-radio="'false'">{{ "icem.recommend.rule.score.type.not.exist" | i18next }}</button>
				</div>
			</div>
		</div>
	</div>
</div>