<div id="page-wrapper">
	<div id="toggleBtn" ng-click="CommonService.toggleBtn()" class="row" style="position:absolute;top:50%;z-index:10;height:100%"><i class="fa fa-angle-left fa-2x"></i></div>
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div popover="{{'icem.dynamic.field.name.no.memberAttr' | i18next}}" popover-enable="userAttributes.length === 0 || attributeCount >= attributeLimit"
						popover-trigger="mouseenter" popover-placement="bottom-left">
						<button type="button" class="btn btn-primary" ng-click="newLoginField()" ng-i18next="icem.add" ng-disabled="userAttributes.length === 0 || attributeCount >= attributeLimit"></button>
					</div>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="sk-fading-circle" ng-show="isLoading">
							<div class="sk-circle1 sk-circle"></div>
							<div class="sk-circle2 sk-circle"></div>
							<div class="sk-circle3 sk-circle"></div>
							<div class="sk-circle4 sk-circle"></div>
							<div class="sk-circle5 sk-circle"></div>
							<div class="sk-circle6 sk-circle"></div>
							<div class="sk-circle7 sk-circle"></div>
							<div class="sk-circle8 sk-circle"></div>
							<div class="sk-circle9 sk-circle"></div>
							<div class="sk-circle10 sk-circle"></div>
							<div class="sk-circle11 sk-circle"></div>
							<div class="sk-circle12 sk-circle"></div>
						</div>
						<div class="col-lg-12" ng-hide="isLoading">
							<label>{{('icem.row.limit'| i18next) + ': ' +  attributeCount + '/' + attributeLimit}}</label>
							<div class="table-responsive">
								<table ng-table="dynamicFieldTableParams" class="table table-bordered table-hover">
									<thead>
										<tr>
											<th ng-i18next="icem.dynamic.field.name"></th>
											<th ng-i18next="icem.dynamic.field.attribute"></th>
											<th ng-i18next="icem.dynamic.field.required"></th>
											<th ng-i18next="icem.dynamic.field.type"></th>
											<th ng-i18next="icem.operation"></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-show="isShowAdd">
											<td>
												<input class="form-control" ng-i18next="[placeholder]icem.dynamic.field.name.placeholder" maxlength="32" ng-model="loginField.name">
											</td>
											<td>
												<select class="form-control" ng-model="loginField.attributeName" ng-options="attr.name as (attr.name | i18next)  for attr in userAttributes">
													</select>
											</td>
											<td>
												<input type="checkbox" ng-model="loginField.required" />
											</td>
											<td>
												<select class="form-control" ng-model="loginField.type" ng-options="type as (type | i18next) for type in loginFieldTypes">
													</select>
											</td>
											<td>
												<button type="button" class="btn btn-success btn-circle" click-once api-method="saveLoginField" input-data1="loginField"><i class="fa fa-check"></i></button>
												<button type="button" class="btn btn-warning btn-circle" ng-click="clearLoginField(loginField)" popover="{{'icem.cancel' | i18next}}"
													popover-trigger="mouseenter"><i class="fa fa-times"></i></button>
											</td>
										</tr>
										<tr ng-repeat="x in $data">
											<td>
												<div ng-if="!x.$$edit">{{x.name}}</div>
												<input ng-if="x.$$edit" class="form-control" type="text" ng-model="x.name" maxlength=30/>
											</td>
											<td>
												<div>{{x.attributeName}}</div>
											</td>
											<td>
												<div ng-if="!x.$$edit">
													<span ng-show="x.required" ng-i18next="icem.dynamic.field.required"></span>
												</div>
												<input ng-if="x.$$edit" type="checkbox" ng-model="x.required" />
											</td>
											<td>
												<div ng-if="!x.$$edit">{{x.type}}</div>
												<select ng-if="x.$$edit" class="form-control" ng-model="x.type" ng-options="type as (type | i18next) for type in loginFieldTypes">
													</select>
											</td>
											<td style="white-space:nowrap;">
												<button ng-if="!x.$$edit" type="button" class="btn btn-primary btn-circle" ng-click="x.$$edit = true"><i class="fa fa-list"></i></button>
												<button ng-if="x.$$edit" type="button" class="btn btn-success btn-circle" click-once api-method="saveLoginField" input-data1="x"><i class="fa fa-check"></i></button>
												<button ng-if="x.$$edit" type="button" class="btn btn-warning btn-circle" ng-click="clearLoginField(x)"><i class="fa fa-times"></i></button>
												<button ng-if="!x.$$edit" type="button" class="btn btn-danger btn-circle" ng-click="deleteLoginField(x)"><i class="fa fa-times"></i></button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<!-- /.col-lg-8 (nested) -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-8 -->
	</div>
	<!-- /.row -->
</div>