<div id="page-wrapper">
	<div id="toggleBtn" ng-click="CommonService.toggleBtn()" class="row" style="position: absolute; top: 50%; z-index: 10; height: 100%">
		<i class="fa fa-angle-left fa-2x"></i>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-lg-3 text-right">
							<label ng-i18next="icem.orderEntry.SearchUser"></label>
						</div>
						<div class="col-lg-3">
							<select class="form-control" ng-model="search.type" ng-change="changeSearchType()">
									<option ng-repeat="x in memberProperties" value="{{x}}">{{ 'icem.member.' + x | i18next}}</option>
								</select>
						</div>
						<div class="col-lg-3">
							<input class="form-control" type="text" ng-model="search.text" maxlength="30" />
						</div>
						<div class="col-lg-3">
							<button class="btn btn-primary " ng-click="searchUser(search)" ng-i18next="icem.search"></button>
							<button class="btn btn-default " ng-click="clearSearch()" ng-i18next="icem.clear"></button>
						</div>
					</div>
					<div class="wrapper" id="rt_discount" style="display:none"> </div>
				</div>
				<!-- /.panel-heading -->
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12 column">
							<div class="col-md-6 column">
								<div class="table-responsive">
									<table ng-table="memberListTableParams" class="table table-bordered table-hover">
										<thead>
											<tr>
												<th ng-i18next="icem.member.name"></th>
												<th ng-i18next="icem.member.phone"></th>
												<th ng-i18next="icem.member.email"></th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="x in $data" ng-click="clickMember(x)">
												<td>{{x.name}}</td>
												<td>{{x.phoneNumber}}</td>
												<td>{{x.email}}</td>
											</tr>
										</tbody>
									</table>
								</div>
								<!-- table-responsive -->
							</div>
							<div class="col-md-6 column">
								<div class="panel panel-info">
									<div class="panel-heading">
										<h3 class="panel-title" id="userInformationLabel" ng-i18next="icem.orderEntry.member.info"></h3>
									</div>
									<div class="panel-body">
										<div class="row">
											<div class="col-md-3 col-lg-3 " align="center">
												<img id="memberHeadingImg" alt="User Pic" ng-src="{{choosenMember.headimgurl != null ? choosenMember.headimgurl : 'images/photo.png'}}"
													class="img-circle" style="width: 80%;">
											</div>
											<div class=" col-md-9 col-lg-9 ">
												<table class="table table-user-information">
													<tbody>
														<tr>
															<td ng-i18next="icem.member.name"></td>
															<td>{{choosenMember.name}}</td>
														</tr>
														<tr>
															<td ng-i18next="icem.member.phone"></td>
															<td>{{choosenMember.phoneNumber}}</td>
														</tr>
														<tr></tr>
														<tr>
															<td ng-i18next="icem.member.email"></td>
															<td>{{choosenMember.email}}</td>
														</tr>
														<tr>
															<td ng-i18next="icem.member.remain.point"></td>
															<td>{{choosenMember.availablePoints != null ? choosenMember.availablePoints : "0"}}</td>
														</tr>
														<tr>
															<td ng-i18next="icem.member.total.point"></td>
															<td>{{choosenMember.allPoints != null ? choosenMember.allPoints : "0"}}</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- col-md-12 -->
					</div>
					<!-- /.row -->
					<div class="row" ng-show="showMemberOrder">
						<div class="col-sm-12 col-md-12 col-lg-12">
							<div class="col-lg-2 col-md-2">
								<h3 ng-i18next="icem.orderEntry.points.trade.record"></h3>
							</div>
							<div class="col-lg-10 col-md-10">
								<div class="table-responsive">
									<table ng-table="TradeListTableParams" class="table table-bordered table-hover">
										<thead>
											<tr>
												<th ng-i18next="icem.orderEntry.trade.user.date"></th>
												<th ng-i18next="icem.orderEntry.trade.user.total"></th>
												<th ng-i18next="icem.orderEntry.trading.discount"></th>
												<th ng-i18next="icem.orderEntry.trading.acc.points"></th>
												<th ng-i18next="icem.orderEntry.trading.dec.points"></th>
												<th ng-i18next="icem.orderEntry.transaction.remark"></th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="y in tempTradeList">
												<td>{{y.orderDate | date:'yyyy-MM-dd'}}</td>
												<td><a href ng-click="getOrderItems(y.orderId)">{{y.total}}</a></td>
												<td>{{y.discountTotal ? y.discountTotal : 0 }}</td>
												<td>{{y.getPoints}}</td>
												<td>{{y.usedPoints}}</td>
												<td ng-bind-html="y.remark"></td>
											</tr>
										</tbody>
									</table>
								</div>
								<!-- table-responsive -->
							</div>
						</div>
					</div>
					<hr color="#00FF00" size="10px">
					<div class="row">
						<div class="col-lg-12 col-sm-12">
							<!-- Item Search-->
							<div class="row bg-info">
								<div class="col-lg-12 col-md-12 column">
									<div class="row clearfix">
										<div class="col-lg-2 col-md-2 column">
											<h5 class="text-right panel-heading" id="addItemLabel" ng-i18next="icem.orderEntry.add.item"></h5>
										</div>
										<div class="col-lg-10 col-md-10 column">
											<div class="col-lg-7 col-md-7 column panel-heading">
												<!-- search item -->
												<input ng-i18next="[placeholder]icem.search" ng-change="filterItem(searchItemName)" ng-model="searchItemName" class="form-control custom"
													style="width: 30%; display: inline">
												<select class="form-control" style="width: 60%; display: inline" ng-options="x as x.name for x in itemList track by x.itemId"
													ng-model="item"></select>
											</div>
											<div class="col-lg-3 col-md-3 column panel-heading">
												<label ng-i18next="icem.orderEntry.add.item.number"></label>
												<input ng-model="count" value="1" class="form-control custom" only-number maxlength="5" style="width: 30%; display: inline">
												<button class="btn btn-primary btn-md" ng-click="addItem(item, count)" ng-i18next="icem.orderEntry.add.item.button"></button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<br />
					<br />
					<div class="row">
						<!-- item Table -->
						<div class="col-lg-12 col-md-12">
							<table class="table table-striped table-hover">
								<thead>
									<tr>
										<th ng-i18next="icem.orderEntry.add.item.name"></th>
										<th ng-i18next="icem.orderEntry.add.item.number"></th>
										<th ng-i18next="icem.orderEntry.add.item.price"></th>
										<th ng-i18next="icem.orderEntry.add.item.discount"></th>
										<th ng-i18next="icem.orderEntry.add.item.total"></th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="i in cartList">
										<td>
											<h4>{{i.name}}</h4>
										</td>
										<td><input type="text" class="form-control" ng-model="i.number" ng-change="pointCalculator.allPointCal()" /></td>
										<td>{{i.price}}</td>
										<td>{{i.discount != null ? i.discount : "N/A"}}</td>
										<td ng-show="!i.attributes.discountPrice">{{i.price * i.number}}</td>
										<td ng-show="i.attributes.discountPrice">{{i.discount * i.number}}</td>
										<td>
											<button type="button" ng-click="removeItem(i.itemId)" ng-i18next="icem.delete" class="btn btn-danger remove" info="%s">
														<span class="glyphicon glyphicon-remove"></span>
													</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- checkout table -->
						<div class="col-sm-12 col-md-10 col-md-offset-1">
							<table class="table table-condensed">
								<tbody>
									<tr>
										<td class="col-md-5">
											<td class="col-md-2"></td>
											<td class="col-md-1"></td>
											<td class="col-md-1 text-right">
												<label id="totalPriceLabel" ng-i18next="icem.orderEntry.add.item.checkout.total"></label>
											</td>
											<td class="col-md-1 text-right">
												<!--<h3>$ {{ pointCalculator.originTotal() }}</h3>-->
												<h3>$ {{ pointCalculator.originTotalPrice }}</h3>
											</td>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- checkout table -->
						<div class="col-sm-12 col-md-10 col-md-offset-1">
							<table class="table table-condensed">
								<tbody>
									<tr>
										<td class="col-md-3">
											<div class="form-inline" ng-if="pointCalculator.reductionRule">
												<label>{{"icem.orderEntry.points.use.mes" | i18next}} {{pointCalculator.member.availablePoints}}</label><br>
												<div class="form-inline">
													<label ng-i18next="icem.orderEntry.points.use.mes1"></label>
													<input type="number" min="0" max="{{pointCalculator.member.maxUsefulPoints}}" ng-model="pointCalculator.costPoints" ng-change="pointCalculator.allPointCal()"
														class="form-control" style="display: inline">
												</div>
											</div>
										</td>
										<td class="col-md-3 text-right" style="text-align: left;">
											<div class="form-inline" ng-if="pointCalculator.reductionRule">
												<label>{{"icem.point.rule" | i18next}} : </label>
												<span>{{ pointCalculator.reductionRule.name }}</span>
											</div>
											<div class="form-inline" ng-if="pointCalculator.reductionRule">
												<label>{{"icem.point.channel" | i18next}} : </label>
												<span>{{ "icem.point." + pointCalculator.reductionRule.channel | i18next }}</span>
											</div>
										</td>
										<td class="col-md-3 text-left">
											<div class="form-inline pull-left" ng-if="pointCalculator.reductionRule">
												<label>{{ "icem.orderEntry.points.use.mes2" | i18next}}</label>
												<span>{{ pointCalculator.discountPrice}}</span>
											</div>
										</td>
										<td class="col-md-5 text-left">
											<div class="form-inline" ng-if="pointCalculator.accumulationRule">
												<div class="form-inline">
													<label>{{"icem.point.rule" | i18next}} : </label>
													<span>{{ pointCalculator.accumulationRule.name }}</span>
												</div>
												<div class="form-inline">
													<label>{{"icem.point.channel" | i18next}} : </label>
													<span>{{ "icem.point." + pointCalculator.accumulationRule.channel | i18next }}</span>
												</div>
												<label ng-i18next="icem.orderEntry.points.use.mes3"></label>
												<span>{{ pointCalculator.addedPoints }}</span>
											</div>
										</td>
									</tr>
									<tr>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td style="text-align:right">
											<button type="button" class="btn btn-success" click-once api-method="checkout" ng-i18next="icem.orderEntry.checkout.button"> <span class="glyphicon glyphicon-play"></span> </button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-8 -->
	</div>
	<!-- /.row -->
</div>

<!-- orderItem modal-dialog -->
<div class="modal fade" id="orderItemsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title" ng-i18next="icem.orderEntry.checkout.email.order.detail"></h3>
			</div>
			<div class="modal-body">
				<table class="table table-striped">
					<thead>
						<tr>
							<th ng-i18next="icem.orderEntry.add.item.name"></th>
							<th ng-i18next="icem.orderEntry.add.item.number"></th>
							<th ng-i18next="icem.orderEntry.add.item.price"></th>
							<th ng-i18next="icem.orderEntry.add.item.discount"></th>
							<th></th>
						</tr>
					</thead>
					<tbody ng-repeat="y in getOrderData">
						<tr>
							<td width="15%">{{y.name}}</td>
							<td width="10%">
								<span ng-if="!y.$$edit">{{y.quantity}}</span>
								<div ng-if="y.$$edit"><input class="form-control" type="text" ng-model="y.quantity" maxlength="9" only-number /></div>
							</td>
							<td width="10%">{{y.unitPrice}}</td>
							<td width="10%">{{y.discount ? y.discount : 'N/A' }}</td>
							<td width="10%">
								<button ng-if="!y.$$edit" type="button" class="btn btn-primary btn-circle" ng-click="editDetail(y)"><i class="fa fa-list"></i></button>
								<button ng-if="y.$$edit" type="button" class="btn btn-success btn-circle" ng-click="saveOrderDetail(y)"><i class="fa fa-check"></i></button>
								<button ng-if="y.$$edit" type="button" class="btn btn-warning btn-circle" ng-click="cancelSaveOrderDetail(y)"><i class="fa fa-times"></i></button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" ng-i18next="icem.close"></button>
			</div>
		</div>
	</div>
</div>