<div id="page-wrapper">
	<div id="toggleBtn" ng-click="CommonService.toggleBtn()" class="row" style="position: absolute; top: 50%; z-index: 10; height: 100%">
		<i class="fa fa-angle-left fa-2x"></i>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">

					<div class="row" ng-hide="isShowPointDetail">
						<div class="col-lg-12">
							<button class="btn btn-primary " ng-click="isEditRule(initPointRuleObj,true)" ng-i18next="icem.add"></button>
						</div>
					</div>
					<div class="row" ng-show="isShowPointDetail">
						<div class="modal-header">
							<div class="col-lg-12 bottom-expand">
								<h3 class="modal-title" ng-i18next="{{pointRuleContainer.id ? 'icem.edit' : 'icem.add'}}"></h3>
							</div>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-lg-12 bottom-expand">
									<div class="col-lg-6 col-md-6 col-sm-12">
										<div class="col-lg-12 bottom-expand">
											<label ng-i18next="icem.name"></label>
											<input class="form-control" type="text" ng-model="pointRuleContainer.name" maxlength="30" required/>
										</div>

										<div class="col-lg-12 bottom-expand">

										</div>
										<div class="col-lg-12 bottom-expand">
											<label ng-i18next="icem.point.acc.percent.rule"></label>
											<input class="form-control" type="text" ng-model="pointRuleContainer.percentage" maxlength="30" only-number/>
										</div>

										<div class="col-lg-12 bottom-expand">
											<label>{{ "icem.point.rule" | i18next}}</label>
											<select class="form-control" ng-model="pointRuleContainer.type" ng-options="x.name as ( 'icem.point.' + x.name | i18next ) for x in pointRuleType"></select>
										</div>
										<div class="col-lg-12 bottom-expand">
											<label>{{ "icem.point.channel" | i18next}}</label>
											<select class="form-control" ng-model="pointRuleContainer.channel" ng-options="x.name as ( 'icem.point.' + x.name | i18next ) for x in channels"></select>
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-12">
										<div class="col-lg-12 bottom-expand">
											<label ng-i18next="icem.recommend.rule.schedule.start"></label>
											<p class="input-group">
												<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="pointRuleContainer.startDate" ng-click="openedStart = true"
													is-open="openedStart" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close"
												/>
											</p>
											<label ng-i18next="icem.recommend.rule.schedule.end"></label>
											<p class="input-group">
												<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="pointRuleContainer.endDate" ng-click="openedEnd = true"
													is-open="openedEnd" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close"
												/>
											</p>
										</div>
										<div class="col-lg-12 bottom-expand">
											<label ng-i18next="icem.status"></label>
											<button class="btn btn-default" ng-model="pointRuleContainer.status" ng-class="{'active':pointRuleContainer.status === 'ACTIVATED'}"
												btn-radio="'ACTIVATED'">{{"icem.ACTIVATED" | i18next}}</button>
											<button class="btn btn-default" ng-model="pointRuleContainer.status" ng-class="{'active':pointRuleContainer.status === 'DEACTIVATED'}"
												btn-radio="'DEACTIVATED'">{{"icem.DEACTIVATED" | i18next}}</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary" click-once api-method="savePointRule" input-data1="pointRuleContainer" ng-i18next="icem.save"></button>
							<button type="button" class="btn btn-default" ng-click="isEditRule(null,false)" ng-i18next="icem.close "></button>
						</div>
					</div>
				</div>
				<div class="panel-body ">
					<div class="row ">
						<div class="sk-fading-circle " ng-show="isLoading ">
							<div class="sk-circle1 sk-circle "></div>
							<div class="sk-circle2 sk-circle "></div>
							<div class="sk-circle3 sk-circle "></div>
							<div class="sk-circle4 sk-circle "></div>
							<div class="sk-circle5 sk-circle "></div>
							<div class="sk-circle6 sk-circle "></div>
							<div class="sk-circle7 sk-circle "></div>
							<div class="sk-circle8 sk-circle "></div>
							<div class="sk-circle9 sk-circle "></div>
							<div class="sk-circle10 sk-circle "></div>
							<div class="sk-circle11 sk-circle "></div>
							<div class="sk-circle12 sk-circle "></div>
						</div>
						<div class="col-lg-12 " ng-hide="isLoading ">
							<div class="table-responsive ">
								<table ng-table="pointTableParams " class="table table-bordered table-hover ">
									<thead>
										<tr>
											<th ng-i18next="icem.point.rule.name "></th>
											<th ng-i18next="icem.point.rule.type "></th>
											<th ng-i18next="icem.point.acc.percent.rule "></th>
											<th ng-i18next="icem.startDate "></th>
											<th ng-i18next="icem.endDate "></th>
											<th ng-i18next="icem.point.channel "></th>
											<th ng-i18next="icem.point.rule.status "></th>
											<th ng-i18next="icem.menu.operation "></th>
										</tr>
									</thead>
									<tbody id="recordBody ">
										<tr ng-repeat="x in tempPointRuleList ">
											<td>{{x.name}}</td>
											<td>{{'icem.point.' + x.type | i18next}}</td>
											<td>{{x.percentage}} %</td>
											<td>{{x.startDate | date:'yyyy-MM-dd'}}</td>
											<td>{{x.endDate | date:'yyyy-MM-dd'}}</td>
											<td>{{'icem.point.' + x.channel | i18next}}</td>
											<td>{{'icem.' + x.status | i18next}}</td>
											<td>
												<button type="button " class="btn btn-primary btn-circle" ng-click="isEditRule(x,true)">
														<i class="fa fa-list "></i>
													</button>
												<button type="button " class="btn btn-danger btn-circle" ng-click="deleteRule(x.id)">
														<i class="fa fa-times "></i>
													</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<!-- /.col-lg-8 (nested) -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-8 -->
	</div>
	<!-- /.row -->
</div>