<div id="page-wrapper">
	<div class="row toggleBtn" ng-click="CommonService.toggleBtn()"><i class="fa fa-angle-left fa-2x"></i></div>
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row" ng-hide="showAddContractor">
						<div class="col-lg-12" ng-if="!authModal">
							<button class="btn btn-primary " ng-click="newOp()" ng-i18next="icem.add"></button>
						</div>
					</div>
					<div class="row" id="newOperator" ng-show="showAddContractor">
						<div class="modal-header">
							<h3 ng-show="!newPassword" class="modal-title" ng-i18next="{{newModel.id ? 'icem.edit' : 'icem.add'}}"></h3>
							<h3 ng-show="newPassword" class="modal-title" ng-i18next="icem.createdSuccess"></h3>
						</div>
						<div class="row">
							<div class="col-lg-12 bottom-expand">
								<div class="col-lg-12">
									<div ng-show="!newPassword">
										<label ng-i18next="icem.operator.userName"></label>
										<span class="label label-danger label-danger-mandatory" ng-i18next="icem.mandatory"></span>
										<input class="form-control" type="text" ng-model="newModel.loginId" maxlength="30" ng-disabled="newPassword" required/>
										<label ng-i18next="icem.name"></label>
										<span class="label label-danger label-danger-mandatory" ng-i18next="icem.mandatory"></span>
										<input class="form-control" type="text" ng-model="newModel.name" maxlength="30" ng-disabled="newPassword" required/>
										<label>{{"ENABLED"| i18next}}/{{"STOPPED"| i18next}}</label>
										<select class="form-control" ng-model="newModel.status" ng-disabled="newPassword">
                                                  <option value="ENABLED">{{"ENABLED"| i18next}}</option>
                                                  <option value="STOPPED">{{"STOPPED"| i18next}}</option>
                                            </select>
									</div>
									<div ng-show="newPassword">
										<label ng-i18next="icem.site.password"></label>&nbsp;<span>{{newPassword}}</span>
									</div>
								</div>
								<div class="col-lg-12">
									<button type="button" class="btn btn-primary" click-once input-data1="newModel" api-method="saveOp" ng-i18next="icem.save"
										ng-hide="newPassword"></button>
									<button type="button" class="btn btn-default" ng-click="closeOp()" ng-i18next="icem.close"></button>
								</div>
							</div>
						</div>
					</div>
					<!-- authOp -->
					<div class="row" ng-show="authModal" id="authModal">
						<div class="modal-header">
							<h3 class="modal-title" ng-i18next="icem.operator.commonAuthority"></h3><br>
							<div class="form-inline">
								<label ng-i18next="icem.recommend.rule.operator"></label>
								<span>&nbsp;:&nbsp;{{currentOploginId}}</span>
							</div>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-lg-12">
									<div class="row">
										<div class="col-lg-9 col-md-8">
											<div class="sk-fading-circle" ng-show="isLoadingModal">
												<div class="sk-circle1 sk-circle"></div>
												<div class="sk-circle2 sk-circle"></div>
												<div class="sk-circle3 sk-circle"></div>
												<div class="sk-circle4 sk-circle"></div>
												<div class="sk-circle5 sk-circle"></div>
												<div class="sk-circle6 sk-circle"></div>
												<div class="sk-circle7 sk-circle"></div>
												<div class="sk-circle8 sk-circle"></div>
												<div class="sk-circle9 sk-circle"></div>
												<div class="sk-circle10 sk-circle"></div>
												<div class="sk-circle11 sk-circle"></div>
												<div class="sk-circle12 sk-circle"></div>
											</div>
											<!--<div class="col-lg-12 bottom-expand">
                                              <label class="empty-label">&nbsp;</label>
                                          </div>-->
											<!--<div class="col-lg-12">-->
											<div class="col-lg-6 col-md-6" ng-repeat="main in commonAuths | orderBy:'pfId'">
												<div class="treebox">
													<!--<ul class="treeview" ng-repeat="main in commonAuths | orderBy:'pfId'" ng-show="!isLoadingModal">-->
													<ul class="treeview" ng-show="!isLoadingModal">
														<li>
															<label>
                                                    <input type="checkbox" ng-model="main.permission" ng-change="permission(main)" ng-false-value="'NOT_AVAILABLE'" ng-true-value="'ENABLED'">
                                                    {{main.name | i18next}}
                                                  </label>
															<ul ng-repeat="sub in main.sfoaList | orderBy:'pfId'">
																<li>
																	<label>
                                                        <input type="checkbox" ng-model="sub.permission" ng-change="permission(main,sub)" ng-false-value="'NOT_AVAILABLE'" ng-true-value="'ENABLED'">
                                                        {{sub.name | i18next}}
                                                      </label>
																</li>
															</ul>
														</li>
													</ul>
												</div>
											</div>
											<!--</div>-->
										</div>
										<div class="col-lg-3 col-md-4" ng-hide="siteList.length == 1">
											<div class="form-inline" style="margin-bottom: 12px;">
												<button type="button" class="btn btn-default" ng-i18next="icem.selectAll" style="width:48%;white-space:normal;" ng-click="selectAllSites(true)"></button>
												<button type="button" class="btn btn-default" ng-i18next="icem.clear" style="width:48%;float:right;" ng-click="selectAllSites(false)"></button>
											</div>
											<div class="list-group list-site" ng-repeat="si in siteList | filter:{ id: '!'+cSite.id }">
												<label class="list-group-item" ng-class="{'list-group-item-info':si.apply}" style="display: block;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;width: 100%;">
                                                    <input type="checkbox" ng-model="si.apply">&nbsp&nbsp{{si.name}}
                                                </label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary" click-once api-method="saveAuth" input-data1="false" ng-i18next="icem.save"></button>
							<button type="button" class="btn btn-default" data-dismiss="modal" ng-i18next="icem.close" ng-click="isLoadingModal = true;authModal = false;selectAllSites(false)"></button>
						</div>
					</div>
					<!-- /. authOp -->
				</div>
				<!-- /.panel-heading -->
				<div class="panel-body">
					<div class="row">
						<div class="sk-fading-circle" ng-show="isLoading">
							<div class="sk-circle1 sk-circle"></div>
							<div class="sk-circle2 sk-circle"></div>
							<div class="sk-circle3 sk-circle"></div>
							<div class="sk-circle4 sk-circle"></div>
							<div class="sk-circle5 sk-circle"></div>
							<div class="sk-circle6 sk-circle"></div>
							<div class="sk-circle7 sk-circle"></div>
							<div class="sk-circle8 sk-circle"></div>
							<div class="sk-circle9 sk-circle"></div>
							<div class="sk-circle10 sk-circle"></div>
							<div class="sk-circle11 sk-circle"></div>
							<div class="sk-circle12 sk-circle"></div>
						</div>
						<div class="col-lg-12" ng-hide="isLoading">
							<label>{{('icem.row.limit'| i18next) + ': ' + contentCount}}</label>
							<div class="table-responsive">
								<table ng-table="operatorTableParams" class="table table-bordered table-hover">
									<thead>
										<tr>
											<th ng-i18next="icem.name"></th>
											<th ng-i18next="icem.operator.userName"></th>
											<th ng-i18next="icem.status"></th>
											<th ng-i18next="icem.operator.lastLoggedIn"></th>
											<th ng-i18next="icem.operation"></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="x in $data">
											<td width="10%">
												<span>{{x.name}}</span>
											</td>
											<td width="20%">
												<span>{{x.loginId}}</span>
											</td>
											<td width="5%">
												<span>{{x.status | i18next}}</span>
											</td>
											<td width="10%">
												<span>{{x.lastLoginDate | date:'yyyy-MM-dd'}}</span>
											</td>
											<td width="10%" style="white-space:nowrap;">
												<button type="button" class="btn btn-primary btn-circle" ng-click="editOp(x)"><i class="fa fa-list"></i></button>
												<button type="button" class="btn btn-danger btn-circle" ng-click="deleteOp(x)"><i class="fa fa-times"></i></button>
												<button type="button" class="btn btn-default btn-circle" ng-click="authOp(x);selectAllSites(false)" popover="{{'icem.operator.editAuthority' | i18next}}"
													popover-trigger="mouseenter" popover-placement="top"><i class="fa fa-tasks"></i></button>
												<button type="button" class="btn btn-default btn-circle" ng-click="regeneratePwd(x)" popover="{{'icem.menu.operator.reset.password' | i18next}}"
													popover-trigger="mouseenter" popover-placement="top"><i class="fa fa-eraser"></i></button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<!-- /.col-lg-8 (nested) -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-8 -->
	</div>
	<!-- /.row -->
</div>

<div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 class="modal-title" ng-i18next="icem.menu.operator.reset.password"></h3>
			</div>
			<div class="modal-body">
				<label ng-i18next="icem.operator.userName"></label>
				<label> : {{currentOploginId}}</label><br>
				<label ng-i18next="icem.site.password"></label>
				<label> : {{newPassword}}</label>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" ng-i18next="icem.close"></button>
			</div>
		</div>
	</div>
</div>