<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" ng-i18next="login.info"></h3>
                </div>
                <div class="panel-body">
                     <form role="form" ng-submit="login(user,$event)">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" ng-i18next="[placeholder]login.account" ng-model="user.loginId" type="text" autofocus>
                            </div>
                            <div class="form-group">
                                <input class="form-control" ng-i18next="[placeholder]login.password" ng-model="user.password" type="password">
                            </div>
                            <div class="remember_me">
                                <label>
                                    <input type="checkbox" name="remember_me" id="remember_me" ng-model="loginRemember">
                                    {{'login.remember' | i18next}}
                                </label>    
                            </div>                            
                            <button href="#" class="btn btn-lg btn-success btn-block" ng-disabled="loginButton" ng-bind-html="dataLoading"></button>
                            <!--<button href="#" class="btn btn-lg btn-success btn-block" ng-disabled="loginButton" ng-i18next="login.login" ng-bind-html="dataLoading"></button>-->
                            <!--<a ng-i18next="[href]icem.document.url;icem.wizard.document.text" class="btn btn-lg btn-info btn-block" target="_blank"></a>-->
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="copyright">
      <p ng-i18next="copyright"></p>
    </div>
</footer>