<div id="page-wrapper">
	<!-- /.row -->
	<div class="row">
		<div class="col-lg-12">
			<!-- /.panel -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row" id="newOpModal" ng-show="showEditOperator">
						<div class="modal-header">
							<button type="button" class="close" ng-click="closeOperatorPanel()" aria-hidden="true">&times;</button>
							<h3 class="modal-title" ng-i18next="icem.edit"></h3>
						</div>
						<div class="modal-body">
							<label ng-i18next="icem.operator.userName"></label><span class="label label-danger label-danger-mandatory" ng-i18next="icem.mandatory"></span>
							<input class="form-control" type="text" ng-model="newModel.loginId" maxlength="30" />
							<label ng-i18next="icem.name"></label><span class="label label-danger label-danger-mandatory" ng-i18next="icem.mandatory"></span>
							<input class="form-control" type="text" ng-model="newModel.name" maxlength="30" />
							<label ng-i18next="icem.operator.owningContractor"></label>
							<select ng-model="selectedContractor" ng-options="c as c.loginId for c in cList" class="form-control"></select>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary" ng-click="saveOp(newModel)" ng-i18next="icem.save"></button>
							<button type="button" class="btn btn-default" ng-click="closeOperatorPanel()" ng-i18next="icem.close"></button>
						</div>
					</div>
				</div>
				<!-- /.panel-heading -->
				<div class="panel-body">
					<div class="row">
						<div class="sk-fading-circle" ng-show="isLoading">
							<div class="sk-circle1 sk-circle"></div>
							<div class="sk-circle2 sk-circle"></div>
							<div class="sk-circle3 sk-circle"></div>
							<div class="sk-circle4 sk-circle"></div>
							<div class="sk-circle5 sk-circle"></div>
							<div class="sk-circle6 sk-circle"></div>
							<div class="sk-circle7 sk-circle"></div>
							<div class="sk-circle8 sk-circle"></div>
							<div class="sk-circle9 sk-circle"></div>
							<div class="sk-circle10 sk-circle"></div>
							<div class="sk-circle11 sk-circle"></div>
							<div class="sk-circle12 sk-circle"></div>
						</div>
						<div class="col-lg-12" ng-hide="isLoading">
							<label>{{('icem.row.limit'| i18next) + ': ' +  opCount}}</label>
							<div class="table-responsive">
								<table ng-table="operatorTableParams" class="table table-bordered table-hover">
									<thead>
										<tr>
											<th ng-i18next="icem.name"></th>
											<th ng-i18next="icem.operator.userName"></th>
											<th ng-i18next="icem.operator.owningContractor"></th>
											<th ng-i18next="icem.operator.associatedContractors"></th>
											<th ng-i18next="icem.operator.lastLoggedIn"></th>
											<th ng-i18next="icem.operation"></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="x in $data">
											<td width="10%">
												<span>{{x.name}}</span>
											</td>
											<td width="20%">
												<span>{{x.loginId}}</span>
											</td>
											<td width="5%">
												<span>{{x.owningOperatorName}}</span>
											</td>
											<td width="5%">
												<ol>
													<li ng-repeat="c in x.relatedOwners">{{c | i18next}}</li>
												</ol>
											</td>
											<td width="10%">
												<span>{{x.lastLoginDate | date:'yyyy-MM-dd'}}</span>
											</td>
											<td width="10%" style="white-space:nowrap;">
												<button type="button" class="btn btn-primary btn-circle" ng-click="editOp(x)"><i class="fa fa-list"></i></button>
												<button type="button" class="btn btn-default btn-circle" ng-click="resetPassword(x)" popover="{{'icem.menu.operator.reset.password' | i18next}}"
													popover-trigger="mouseenter" popover-placement="top"><i class="fa fa-eraser"></i></button>
												<button ng-if="x.isLockout" type="button" class="btn btn-default btn-circle" ng-click="unlock(x)"><i class="fa fa-unlock"></i></button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<!-- /.col-lg-8 (nested) -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-8 -->
	</div>
	<!-- /.row -->
</div>

<div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 class="modal-title" ng-i18next="icem.menu.operator.reset.password"></h3>
			</div>
			<div class="modal-body">
				<label>{{newPassword}}</label>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" ng-i18next="icem.close"></button>
			</div>
		</div>
	</div>
</div>