<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<!-- /.panel -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row" ng-hide="showAddContractor">
						<div class="col-lg-12">
							<button class="btn btn-primary " ng-click="newContractor()" ng-i18next="icem.add"></button>
						</div>
					</div>

					<div class="row" id="newContractor" ng-show="showAddContractor">
						<div class="modal-header">
							<button type="button" class="close" ng-click="closeContractor()" aria-hidden="true">&times;</button>
							<h3 class="modal-title" ng-i18next="{{newModal.id ? 'icem.edit' : 'icem.add'}}"></h3>
						</div>
						<div class="row">
							<div class="col-lg-12 bottom-expand">
								<div class="col-lg-12">
									<label ng-i18next="icem.contractor.name"></label>
									<span class="label label-danger  label-danger-mandatory" ng-i18next="icem.mandatory"></span>
									<input class="form-control" type="text" ng-model="newModal.name" maxlength="30" />
									<label ng-i18next="icem.contractor.email"></label>
									<span class="label label-danger  label-danger-mandatory" ng-i18next="icem.mandatory"></span>
									<input class="form-control" type="text" ng-model="newModal.email" maxlength="30" />
									<label ng-i18next="icem.contractor.loginId"></label>
									<span class="label label-danger  label-danger-mandatory" ng-i18next="icem.mandatory"></span>
									<input class="form-control" type="text" ng-model="newModal.loginId" maxlength="30" />
								</div>
							</div>

							<div class="col-lg-6">
								<div class="col-lg-6">
									<label ng-i18next="icem.contractor.maxOwningSites"></label>
								</div>
								<div class="col-lg-6">
									<input class="form-control" ng-model="newModal.operatorSettings.ownSites" maxlength="4" only-number />
								</div>
								<div class="col-lg-6">
									<label ng-i18next="icem.contractor.maxTables"></label>
								</div>
								<div class="col-lg-6">
									<input class="form-control" ng-model="newModal.operatorSettings.tables" maxlength="4" only-number />
								</div>
								<div class="col-lg-6">
									<label ng-i18next="icem.contractor.maxConversionPages"></label>
								</div>
								<div class="col-lg-6">
									<input class="form-control" ng-model="newModal.operatorSettings.conversionPages" maxlength="4" only-number />
								</div>
								<div class="col-lg-6">
									<label ng-i18next="icem.contractor.maxScoreKeys"></label>
								</div>
								<div class="col-lg-6">
									<input class="form-control" ng-model="newModal.operatorSettings.scoreKeysPerGroup" maxlength="4" only-number />
								</div>
								<div class="col-lg-6">
									<label ng-i18next="icem.contractor.maxRecommendationContents"></label>
								</div>
								<div class="col-lg-6">
									<input class="form-control" ng-model="newModal.operatorSettings.webRecommendContents" maxlength="4" only-number />
								</div>
								<div class="col-lg-6">
									<label ng-i18next="icem.contractor.maxRecommendationAreas"></label>
								</div>
								<div class="col-lg-6">
									<input class="form-control" ng-model="newModal.operatorSettings.webRecommendPositions" maxlength="4" only-number />
								</div>
								<div class="col-lg-6">
									<label ng-i18next="icem.contractor.maxUserAttributes"></label>
								</div>
								<div class="col-lg-6">
									<input class="form-control" ng-model="newModal.operatorSettings.attributes" maxlength="4" only-number />
								</div>
								<div class="col-lg-6">
									<label ng-i18next="icem.contractor.maxTemplates"></label>
								</div>
								<div class="col-lg-6">
									<input class="form-control" ng-model="newModal.operatorSettings.templates" maxlength="4" only-number />
								</div>
								<div class="col-lg-6">
									<label ng-i18next="icem.contractor.maxItemLists"></label>
								</div>
								<div class="col-lg-6">
									<input class="form-control" ng-model="newModal.operatorSettings.ruleItemLists" maxlength="4" only-number />
								</div>
								<div class="col-lg-6">
									<label ng-i18next="icem.contractor.maxTemplateGroups"></label>
								</div>
								<div class="col-lg-6">
									<input class="form-control" ng-model="newModal.operatorSettings.templateGroups" maxlength="4" only-number />
								</div>
								<div class="col-lg-6">
									<label ng-i18next="icem.contractor.maxMailRecommendationContents"></label>
								</div>
								<div class="col-lg-6">
									<input class="form-control" ng-model="newModal.operatorSettings.mailRecommendContents" maxlength="4" only-number />
								</div>
								<div class="col-lg-6">
									<label ng-i18next="icem.contractor.maxMailRecommendationAreas"></label>
								</div>
								<div class="col-lg-6">
									<input class="form-control" ng-model="newModal.operatorSettings.mailRecommendPositions" maxlength="4" only-number />
								</div>
								<div class="col-lg-6">
									<label ng-i18next="icem.contractor.maxMailPatterns"></label>
								</div>
								<div class="col-lg-6">
									<input class="form-control" ng-model="newModal.operatorSettings.mailPatterns" maxlength="4" only-number />
								</div>
								<div class="col-lg-6">
									<label ng-i18next="icem.contractor.maxRulesPerSegment"></label>
								</div>
								<div class="col-lg-6">
									<input class="form-control" ng-model="newModal.operatorSettings.adsRulesPerSegment" maxlength="4" only-number />
								</div>
								<div class="col-lg-6">
									<label ng-i18next="icem.contractor.maxRulesPerMailSegment"></label>
								</div>
								<div class="col-lg-6">
									<input class="form-control" ng-model="newModal.operatorSettings.mailRulesPerSegment" maxlength="4" only-number />
								</div>
								<div class="col-lg-6">
									<label ng-i18next="icem.contractor.maxSiteGroups"></label>
								</div>
								<div class="col-lg-6">
									<input class="form-control" ng-model="newModal.operatorSettings.siteGroups" maxlength="4" only-number />
								</div>
							</div>
							<div class="col-lg-6">
								<div class="col-lg-6">
									<label ng-i18next="icem.contractor.maxRelatedSites"></label>
								</div>
								<div class="col-lg-6">
									<input class="form-control" ng-model="newModal.operatorSettings.relevantSites" maxlength="4" only-number />
								</div>
								<div class="col-lg-6">
									<label ng-i18next="icem.contractor.maxItemsPerTable"></label>
								</div>
								<div class="col-lg-6">
									<input class="form-control" ng-model="newModal.operatorSettings.dataPerTable" maxlength="4" only-number />
								</div>
								<div class="col-lg-6">
									<label ng-i18next="icem.contractor.maxScoreGroups"></label>
								</div>
								<div class="col-lg-6">
									<input class="form-control" ng-model="newModal.operatorSettings.scoreGroups" maxlength="4" only-number />
								</div>
								<div class="col-lg-6">
									<label ng-i18next="icem.contractor.maxScoreRules"></label>
								</div>
								<div class="col-lg-6">
									<input class="form-control" ng-model="newModal.operatorSettings.scoreRules" maxlength="4" only-number />
								</div>
								<div class="col-lg-6">
									<label ng-i18next="icem.contractor.maxContentsPerRecommendationContents"></label>
								</div>
								<div class="col-lg-6">
									<input class="form-control" ng-model="newModal.operatorSettings.contentsPerWebRecommendContent" maxlength="4" only-number
									/>
								</div>
								<div class="col-lg-6">
									<label ng-i18next="icem.contractor.maxRulesPerRecommendationAreas"></label>
								</div>
								<div class="col-lg-6">
									<input class="form-control" ng-model="newModal.operatorSettings.rulesPerPosition" maxlength="4" only-number />
								</div>
								<div class="col-lg-6">
									<label ng-i18next="icem.contractor.maxValuesPerUserAttribute"></label>
								</div>
								<div class="col-lg-6">
									<input class="form-control" ng-model="newModal.operatorSettings.valuesPerAttribute" maxlength="4" only-number />
								</div>
								<div class="col-lg-6">
									<label ng-i18next="icem.contractor.maxUserExternalItemLists"></label>
								</div>
								<div class="col-lg-6">
									<input class="form-control" ng-model="newModal.operatorSettings.userItemLists" maxlength="4" only-number />
								</div>
								<div class="col-lg-6">
									<label ng-i18next="icem.contractor.maxItemsPerItemList"></label>
								</div>
								<div class="col-lg-6">
									<input class="form-control" ng-model="newModal.operatorSettings.itemsPerRuleItemList" maxlength="4" only-number />
								</div>
								<div class="col-lg-6">
									<label ng-i18next="icem.contractor.maxRulesPerTemplateGroup"></label>
								</div>
								<div class="col-lg-6">
									<input class="form-control" ng-model="newModal.operatorSettings.rulesPerTemplateGroup" maxlength="4" only-number />
								</div>
								<div class="col-lg-6">
									<label ng-i18next="icem.contractor.maxContentsPerMailRecommendationContents"></label>
								</div>
								<div class="col-lg-6">
									<input class="form-control" ng-model="newModal.operatorSettings.contentsPerMailRecommendContent" maxlength="4" only-number
									/>
								</div>
								<div class="col-lg-6">
									<label ng-i18next="icem.contractor.maxRulesPerMailRecommendationArea"></label>
								</div>
								<div class="col-lg-6">
									<input class="form-control" ng-model="newModal.operatorSettings.mailRulesPerPosition" maxlength="4" only-number />
								</div>
								<div class="col-lg-6">
									<label ng-i18next="icem.contractor.maxUserAdsSegments"></label>
								</div>
								<div class="col-lg-6">
									<input class="form-control" ng-model="newModal.operatorSettings.adsSegments" maxlength="4" only-number />
								</div>
								<div class="col-lg-6">
									<label ng-i18next="icem.contractor.maxMailSegments"></label>
								</div>
								<div class="col-lg-6">
									<input class="form-control" ng-model="newModal.operatorSettings.mailSegments" maxlength="4" only-number />
								</div>
								<div class="col-lg-6">
									<label ng-i18next="icem.contractor.maxOperators"></label>
								</div>
								<div class="col-lg-6">
									<input class="form-control" ng-model="newModal.operatorSettings.operators" maxlength="4" only-number />
								</div>
								<div class="col-lg-6">
									<label ng-i18next="icem.contractor.maxItemFilters"></label>
								</div>
								<div class="col-lg-6">
									<input class="form-control" ng-model="newModal.operatorSettings.itemFilters" maxlength="4" only-number />
								</div>
							</div>
							<div class="col-lg-12">
								<div class="col-lg-6" ng-repeat="value in newModal.operatorAuthorities | orderBy:'pfId'">
									<div class="treebox">
										<ul class="treeview" ng-show="!isLoadingModal">
											<li>
												<label>
														<input type="checkbox" ng-model="value.permission" ng-change="permission(value)" ng-false-value="'NOT_AVAILABLE'" ng-true-value="'ENABLED'">
														{{value.name | i18next}}
													</label>
												<ul ng-repeat="sub in value.sfoaList | orderBy:'pfId'">
													<li>
														<label>
																<input type="checkbox" ng-model="sub.permission" ng-change="permission(value,sub)" ng-false-value="'NOT_AVAILABLE'" ng-true-value="'ENABLED'">
																{{sub.name | i18next}}
															</label>
													</li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary" ng-click="saveContractor(newModal)" ng-i18next="icem.save"></button>
							<button type="button" class="btn btn-default" ng-click="closeContractor()" ng-i18next="icem.close"></button>
						</div>
					</div>
				</div>
				<!-- /.panel-heading -->
				<div class="panel-body">
					<div class="row">
						<div class="sk-fading-circle" ng-show="isLoading">
							<div class="sk-circle1 sk-circle"></div>
							<div class="sk-circle2 sk-circle"></div>
							<div class="sk-circle3 sk-circle"></div>
							<div class="sk-circle4 sk-circle"></div>
							<div class="sk-circle5 sk-circle"></div>
							<div class="sk-circle6 sk-circle"></div>
							<div class="sk-circle7 sk-circle"></div>
							<div class="sk-circle8 sk-circle"></div>
							<div class="sk-circle9 sk-circle"></div>
							<div class="sk-circle10 sk-circle"></div>
							<div class="sk-circle11 sk-circle"></div>
							<div class="sk-circle12 sk-circle"></div>
						</div>
						<div class="col-lg-12" ng-hide="isLoading">
							<label>{{('icem.row.limit'| i18next) + ': ' + contentCount}}</label>
							<div class="table-responsive">
								<table ng-table="contractorTableParams" class="table table-bordered table-hover">
									<thead>
										<tr>
											<th ng-i18next="icem.contractor.name"></th>
											<th ng-i18next="icem.contractor.option"></th>
											<th ng-i18next="icem.operation"></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="x in $data">
											<td width="10%"><span>{{x.loginId}}</span></td>
											<td width="10%">
												<ol>
													<li ng-repeat="value in x.operatorAuthorities | orderBy:'pfId'" ng-show="value.permission=='ENABLED'">{{value.name | i18next}}</li>
												</ol>
											</td>
											<td width="10%" style="white-space: nowrap;">
												<button type="button" class="btn btn-primary btn-circle" ng-click="editContractor(x)">
														<i class="fa fa-list"></i>
													</button>
												<button type="button" class="btn btn-danger btn-circle" ng-click="deleteContractor(x)">
														<i class="fa fa-times"></i>
													</button>
												<button type="button" class="btn btn-default btn-circle" ng-click="managerSiteList(x)">
														<i class="fa fa-tasks"></i>
													</button>
												<button type="button" class="btn btn-default btn-circle" ng-click="resetPassword(x)" popover="{{'icem.menu.operator.reset.password' | i18next}}"
													popover-trigger="mouseenter" popover-placement="top">
														<i class="fa fa-eraser"></i>
													</button>
												<button type="button" class="btn btn-default btn-circle" ng-click="unlock(x)" ng-if="x.lockout">
														<i class="fa fa-unlock"></i>
													</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<!-- /.col-lg-8 (nested) -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-8 -->
	</div>
	<!-- /.row -->
</div>
<!-- /#page-wrapper -->

<!--</div>-->
<!-- /#wrapper -->

<div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 class="modal-title" ng-i18next="icem.menu.operator.reset.password"></h3>
			</div>
			<div class="modal-body">
				<label>{{newPassword}}</label>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" ng-i18next="icem.close"></button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="siteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="width: 60%;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeAddSite()">&times;</button>
				<h3 class="modal-title">{{ ('icem.contractor.name'| i18next) + ' : ' + accountName }}</h3>
			</div>
			<div class="modal-body">

				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="row">
							<div class="col-lg-12" ng-hide="isShowAddSite">
								<button class="btn btn-primary margin5" ng-click="addManagerSite()" ng-i18next="icem.add"></button>
							</div>
							<div class="col-lg-12" ng-show="isShowAddSite">
								<div class="modal-header">
									<!-- <button type="button" class="close" ng-click="closeAddSite()">&times;</button> -->
									<h3 class="modal-title" ng-i18next="{{newSiteModal.id ? 'icem.edit' : 'icem.add'}}"></h3>
								</div>
								<div class="modal-body">
									<div class="col-lg-12">
										<div class="col-lg-4"><label ng-i18next="icem.site.name"></label></div>
										<div class="col-lg-8"><input class="form-control" type="text" ng-model="newSiteModal.name" maxlength="30" /></div>
										<div class="col-lg-4"><label ng-i18next="icem.site.uri"></label></div>
										<div class="col-lg-8"><input class="form-control" type="text" ng-model="newSiteModal.uri" maxlength="60" /></div>
										<div class="col-lg-4"><label ng-i18next="icem.site.domain"></label></div>
										<div class="col-lg-8"><input class="form-control" type="text" ng-model="newSiteModal.domain" maxlength="200" /></div>
										<div class="col-lg-4"><label ng-i18next="icem.site.adsPoint"></label></div>
										<div class="col-lg-8"><input class="form-control" type="text" ng-model="newSiteModal.adPoints" maxlength="7" only-number/></div>
										<div class="col-lg-4"><label ng-i18next="icem.site.sessionExpire"></label></div>
										<div class="col-lg-8"><input class="form-control" type="text" ng-model="newSiteModal.expiryMinutes" maxlength="3" only-number/></div>
										<div class="col-lg-4"><label ng-i18next="icem.site.expire"></label></div>
										<div class="col-lg-8">
											<input class="form-control" type="text" datepicker-popup="{{format}}" ng-model="newSiteModal.expireDate" ng-click="openedStart = true"
												is-open="openedStart" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
												ng-required="true" close-text="Close" ng-disabled="newSiteModal.autoRenew" />
										</div>
										<div class="col-lg-4"></div>
										<div class="col-lg-8"> <label class="checkbox-inline"><input type="checkbox" ng-model="newSiteModal.autoRenew">{{'icem.site.autoRenew' | i18next}}</label></div>
										<div class="col-lg-4"><label ng-i18next="icem.site.trackingLimit"></label></div>
										<div class="col-lg-8"><input class="form-control" type="text" ng-model="newSiteModal.trackingLimit" maxlength="10" only-number/></div>
									</div>
									<div class="col-lg-12">
										<tabset>
											<tab heading="{{'icem.site.common'|i18next}}" active="tabs[0].active">
												<br>
												<div class="col-lg-4"><label ng-i18next="icem.site.itemNum"></label></div>
												<div class="col-lg-8"><input class="form-control" type="text" ng-model="newSiteModal.displayAmount" maxlength="3" only-number/></div>
												<div class="col-lg-4"></div>
												<div class="col-lg-8"><label class="checkbox-inline"><input type="checkbox" ng-model="newSiteModal.groupFilter">{{'icem.site.groupFilter' | i18next}}</label></div>
												<div class="col-lg-4"></div>
												<div class="col-lg-8"><label class="checkbox-inline"><input type="checkbox" ng-model="newSiteModal.typeFilter">{{'icem.site.categoryFilter' | i18next}}</label></div>
												<div class="col-lg-4"></div>
												<div class="col-lg-8"><label class="checkbox-inline"><input type="checkbox" ng-model="newSiteModal.keywordWeight">{{'icem.site.keyword' | i18next}}</label></div>
											</tab>
											<tab heading="{{'icem.site.item'|i18next}}" active="tabs[1].active">
												<br>
												<div class="col-lg-12"><label class="checkbox-inline"><input type="checkbox" ng-model="newSiteModal.itemAutoBrowse">{{'icem.site.autoView' | i18next}}</label></div>
												<div class="col-lg-12"><label class="checkbox-inline"><input type="checkbox" ng-model="newSiteModal.itemAutoPurchase">{{'icem.site.autoConversion' | i18next}}</label></div>
												<div class="col-lg-12" ng-show="newSiteModal.itemAutoBrowse && newSiteModal.itemAutoPurchase"><label class="checkbox-inline"><input type="checkbox" ng-model="newSiteModal.purchaseAfterWatch">{{'icem.site.bav' | i18next}}</label></div>
												<div class="col-lg-5" ng-show="newSiteModal.itemAutoBrowse"><label ng-i18next="icem.site.analysisViewDays"></label></div>
												<div class="col-lg-9" ng-show="newSiteModal.itemAutoBrowse"><input class="form-control" type="text" ng-model="newSiteModal.itemBrowseAnalysisTargetDays" maxlength="3" only-number/></div>
												<div class="col-lg-5" ng-show="newSiteModal.itemAutoPurchase"><label ng-i18next="icem.site.analysisConversionDays"></label></div>
												<div class="col-lg-9" ng-show="newSiteModal.itemAutoPurchase"><input class="form-control" type="text" ng-model="newSiteModal.itemConversionAnalysisTargetDays" maxlength="3"
														only-number/></div>
											</tab>
											<tab heading="{{'icem.site.user'|i18next}}" active="tabs[2].active">
												<br>
												<div class="col-lg-12"><label class="checkbox-inline"><input type="checkbox" ng-model="newSiteModal.memberAutoBrowse">{{'icem.site.userAutoView' | i18next}}</label></div>
												<div class="col-lg-12"><label class="checkbox-inline"><input type="checkbox" ng-model="newSiteModal.memberAutoPurchase">{{'icem.site.userAutoConversion' | i18next}}</label></div>
												<div class="col-lg-12"><label class="checkbox-inline"><input type="checkbox" ng-model="newSiteModal.periodic">{{'icem.site.reminder' | i18next}}</label></div>
												<div class="col-lg-12"><label class="checkbox-inline"><input type="checkbox" ng-model="newSiteModal.browseFilter">{{'icem.site.viewFilter' | i18next}}</label></div>
												<div class="col-lg-12"><label class="checkbox-inline"><input type="checkbox" ng-model="newSiteModal.conversionFilter">{{'icem.site.conversionFilter' | i18next}}</label></div>
												<div class="col-lg-4" ng-show="newSiteModal.memberAutoBrowse"><label ng-i18next="icem.site.userAnalysisViewDays"></label></div>
												<div class="col-lg-8" ng-show="newSiteModal.memberAutoBrowse"><input class="form-control" type="text" ng-model="newSiteModal.memberBrowseAnalysisTargetDays" maxlength="3"
														only-number/></div>
												<div class="col-lg-4" ng-show="newSiteModal.memberAutoPurchase"><label ng-i18next="icem.site.userAnalysisConversionDays"></label></div>
												<div class="col-lg-8" ng-show="newSiteModal.memberAutoPurchase"><input class="form-control" type="text" ng-model="newSiteModal.memberConversionAnalysisTargetDays" maxlength="3"
														only-number/></div>
											</tab>
											<tab heading="{{'icem.site.ads'|i18next}}" active="tabs[3].active">
												<br>
												<div class="col-lg-4"><label ng-i18next="icem.site.adsType"></label></div>
												<div class="col-lg-8">
													<select class="form-control" ng-model="newSiteModal.adSystemId">
														<option value="1">Google DOUBLE-CLICK</option>
													</select>
												</div>
												<div class="col-lg-4"><label ng-i18next="icem.site.itemNum"></label></div>
												<div class="col-lg-8"><input class="form-control" type="text" ng-model="newSiteModal.adDisplayAmount" maxlength="3" only-number/></div>
												<div class="col-lg-4"><label ng-i18next="icem.site.partnerId"></label></div>
												<div class="col-lg-8"><input class="form-control" type="text" ng-model="newSiteModal.partnerId" /></div>
												<div class="col-lg-4"><label ng-i18next="icem.site.advertiserId"></label></div>
												<div class="col-lg-8"><input class="form-control" type="text" ng-model="newSiteModal.adCustomerId" maxlength="30" /></div>
												<div class="col-lg-12"><label class="checkbox-inline"><input type="checkbox" ng-model="newSiteModal.noPiggyBack">{{'icem.site.disablePiggyBack' | i18next}}</label></div>

												<div class="col-lg-12">
													<div class="panel panel-default">
														<div class="panel-heading">SFTP</div>
														<div class="panel-body">
															<div class="col-lg-4"><label ng-i18next="icem.site.host"></label></div>
															<div class="col-lg-8"><input class="form-control" type="text" ng-model="newSiteModal.sftpDomain" maxlength="30" /></div>
															<div class="col-lg-4"><label ng-i18next="icem.site.userName"></label></div>
															<div class="col-lg-8"><input class="form-control" type="text" ng-model="newSiteModal.sftpUser" maxlength="30" /></div>
															<div class="col-lg-4"><label ng-i18next="icem.site.password"></label></div>
															<div class="col-lg-8"><input class="form-control" type="text" ng-model="newSiteModal.sftpPassword" maxlength="30" /></div>
															<div class="col-lg-4"><label ng-i18next="icem.site.path"></label></div>
															<div class="col-lg-8"><input class="form-control" type="text" ng-model="newSiteModal.sftpPath" maxlength="30" /></div>
														</div>
													</div>
												</div>
												<div class="col-lg-12">
													<button class="btn btn-primary margin5" ng-click="addAds()" ng-i18next="icem.add"></button>
													<div class="margin5" ng-show="isShowAds">
														<label ng-i18next="icem.site.adsRecommendationName"></label>
														<input class="form-control" type="text" ng-model="oneAds.name" maxlength=30 />
														<button class="btn btn-default margin5" ng-click="cancelAds()" ng-i18next="icem.cancel" style="float:right;"></button>
														<button class="btn btn-primary margin5" ng-click="saveAds(oneAds.name)" ng-i18next="icem.ok" style="float:right;"></button>
													</div>
												</div>
												<div class="col-lg-12">
													<table class="table table-bordered table-hover">
														<thead>
															<tr>
																<th ng-i18next="icem.site.adsRecommendationName"></th>
																<th ng-i18next="icem.operation"></th>
															</tr>
														</thead>
														<tbody>
															<tr ng-repeat="s in newSiteModal.siteAdRecommendList">
																<td width="10%">
																	<span>{{s.name}}</span>
																</td>
																<td width="10%" style="white-space:nowrap;">
																	<button type="button" class="btn btn-danger btn-circle" ng-click="deleteAds(s)"><i class="fa fa-times"></i></button>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
											</tab>
										</tabset>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary" ng-click="saveSite(newSiteModal)" ng-i18next="icem.save"></button>
									<button type="button" class="btn btn-default" ng-click="closeAddSite()" ng-i18next="icem.close"></button>
								</div>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<div class="table-responsive">

									<table ng-table="siteTableParams" class="table table-bordered table-hover">
										<thead>
											<tr>
												<th ng-i18next="icem.site.name"></th>
												<th ng-i18next="icem.site.domain"></th>
												<th ng-i18next="icem.site.accountId"></th>
												<th ng-i18next="icem.site.expire"></th>
												<th ng-i18next="icem.operation"></th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="s in $data">
												<td width="10%"><span>{{s.name}}</span></td>
												<td width="5%"><span>{{s.domain}}</span></td>
												<td width="10%"><span>{{s.accountName}}</span></td>
												<td width="10%"><span ng-if="s.autoRenew">{{'icem.site.autoRenew'
														| i18next}}</span> <span ng-if="!s.autoRenew">{{'icem.site.expire'
														| i18next}}:{{s.expireDate}}</span></td>
												<td width="10%" style="white-space: nowrap;">
													<button type="button" class="btn btn-primary btn-circle" ng-click="editManagerSite(s)">
														<i class="fa fa-list"></i>
													</button>
													<button type="button" class="btn btn-danger btn-circle" ng-click="deleteManagerSite(s)">
														<i class="fa fa-times"></i>
													</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<!-- /.col-lg-8 (nested) -->
						</div>
						<!-- /.row -->
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" ng-i18next="icem.close" ng-click="closeAddSite()"></button>
			</div>
		</div>
	</div>
</div>