<div id="page-wrapper">
	<!-- /.row -->
	<div class="row">
		<div class="col-lg-12">
			<!-- /.panel -->
			<div class="panel panel-default">
				<div class="panel-heading">
				</div>
				<!-- /.panel-heading -->
				<div class="panel-body">
					<div class="row">
						<div class="sk-fading-circle" ng-show="isLoading">
							<div class="sk-circle1 sk-circle"></div>
							<div class="sk-circle2 sk-circle"></div>
							<div class="sk-circle3 sk-circle"></div>
							<div class="sk-circle4 sk-circle"></div>
							<div class="sk-circle5 sk-circle"></div>
							<div class="sk-circle6 sk-circle"></div>
							<div class="sk-circle7 sk-circle"></div>
							<div class="sk-circle8 sk-circle"></div>
							<div class="sk-circle9 sk-circle"></div>
							<div class="sk-circle10 sk-circle"></div>
							<div class="sk-circle11 sk-circle"></div>
							<div class="sk-circle12 sk-circle"></div>
						</div>
						<div class="col-lg-12" ng-hide="isLoading">
							<div class="table-responsive">
								<table ng-table="siteTableParams" class="table table-bordered table-hover">
									<thead>
										<tr>
											<th ng-i18next="icem.site.name"></th>
											<th ng-i18next="icem.contractor.name"></th>
											<th ng-i18next="icem.site.expire"></th>
											<th ng-i18next="icem.operation"></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="x in $data">
											<td width="10%">
												<span>{{x.name}}</span>
											</td>
											<td width="10%">
												<span>{{x.ownerName}}</span>
											</td>
											<td width="10%">
												<span>{{x.expireDate}}</span>
											</td>
											<td width="10%" style="white-space:nowrap;">
												<button type="button" class="btn btn-primary btn-circle" ng-click="editSite(x)"><i class="fa fa-list"></i></button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<!-- /.col-lg-8 (nested) -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-8 -->
	</div>
	<!-- /.row -->
</div>
<!-- /#page-wrapper -->

<!--</div>-->
<!-- /#wrapper -->

<div class="modal fade" id="editSiteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="width:60%;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 class="modal-title" ng-i18next="icem.edit"></h3>
			</div>
			<div class="modal-body">
				<div class="col-lg-12">
					<div class="col-lg-4"><label ng-i18next="icem.site.name"></label></div>
					<div class="col-lg-8"><input class="form-control" type="text" ng-model="newSiteModal.name" maxlength="30" /></div>
					<div class="col-lg-4"><label ng-i18next="icem.site.uri"></label></div>
					<div class="col-lg-8"><input class="form-control" type="text" ng-model="newSiteModal.uri" maxlength="60" /></div>
					<div class="col-lg-4"><label ng-i18next="icem.site.domain"></label></div>
					<div class="col-lg-8"><input class="form-control" type="text" ng-model="newSiteModal.domain" maxlength="200" /></div>
					<div class="col-lg-4"><label ng-i18next="icem.site.adsPoint"></label></div>
					<div class="col-lg-8"><input class="form-control" type="text" ng-model="newSiteModal.adPoints" maxlength="7" only-number/></div>
					<div class="col-lg-4"><label ng-i18next="icem.site.sessionExpire"></label></div>
					<div class="col-lg-8"><input class="form-control" type="text" ng-model="newSiteModal.expiryMinutes" maxlength="3" only-number/></div>
					<div class="col-lg-4"><label ng-i18next="icem.site.expire"></label></div>
					<div class="col-lg-8">
						<input class="form-control" type="text" datepicker-popup="{{format}}" ng-model="newSiteModal.expireDate" ng-click="openedStart = true"
							is-open="openedStart" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true"
							close-text="Close" ng-disabled="newSiteModal.autoRenew" />
					</div>
					<div class="col-lg-4"></div>
					<div class="col-lg-8"> <label class="checkbox-inline"><input type="checkbox" ng-model="newSiteModal.autoRenew">{{'icem.site.autoRenew' | i18next}}</label></div>
					<div class="col-lg-4"><label ng-i18next="icem.site.trackingLimit"></label></div>
					<div class="col-lg-8"><input class="form-control" type="text" ng-model="newSiteModal.trackingLimit" maxlength="10" only-number/></div>
				</div>
				<div class="col-lg-12">
					<tabset>
						<tab heading="{{'icem.site.common'|i18next}}" active="tabs[0].active">
							<br>
							<div class="col-lg-4"><label ng-i18next="icem.site.itemNum"></label></div>
							<div class="col-lg-8"><input class="form-control" type="text" ng-model="newSiteModal.displayAmount" maxlength="3" only-number/></div>
							<div class="col-lg-4"></div>
							<div class="col-lg-8"><label class="checkbox-inline"><input type="checkbox" ng-model="newSiteModal.groupFilter">{{'icem.site.groupFilter' | i18next}}</label></div>
							<div class="col-lg-4"></div>
							<div class="col-lg-8"><label class="checkbox-inline"><input type="checkbox" ng-model="newSiteModal.typeFilter">{{'icem.site.categoryFilter' | i18next}}</label></div>
							<div class="col-lg-4"></div>
							<div class="col-lg-8"><label class="checkbox-inline"><input type="checkbox" ng-model="newSiteModal.keywordWeight">{{'icem.site.keyword' | i18next}}</label></div>
						</tab>
						<tab heading="{{'icem.site.item'|i18next}}" active="tabs[1].active">
							<br>
							<div class="col-lg-12"><label class="checkbox-inline"><input type="checkbox" ng-model="newSiteModal.itemAutoBrowse">{{'icem.site.autoView' | i18next}}</label></div>
							<div class="col-lg-12"><label class="checkbox-inline"><input type="checkbox" ng-model="newSiteModal.itemAutoPurchase">{{'icem.site.autoConversion' | i18next}}</label></div>
							<div class="col-lg-12" ng-show="newSiteModal.itemAutoBrowse && newSiteModal.itemAutoPurchase"><label class="checkbox-inline"><input type="checkbox" ng-model="newSiteModal.purchaseAfterWatch">{{'icem.site.bav' | i18next}}</label></div>
							<div class="col-lg-5" ng-show="newSiteModal.itemAutoBrowse"><label ng-i18next="icem.site.analysisViewDays"></label></div>
							<div class="col-lg-9" ng-show="newSiteModal.itemAutoBrowse"><input class="form-control" type="text" ng-model="newSiteModal.itemBrowseAnalysisTargetDays" maxlength="3" only-number/></div>
							<div class="col-lg-5" ng-show="newSiteModal.itemAutoPurchase"><label ng-i18next="icem.site.analysisConversionDays"></label></div>
							<div class="col-lg-9" ng-show="newSiteModal.itemAutoPurchase"><input class="form-control" type="text" ng-model="newSiteModal.itemConversionAnalysisTargetDays" maxlength="3" only-number/></div>
						</tab>
						<tab heading="{{'icem.site.user'|i18next}}" active="tabs[2].active">
							<br>
							<div class="col-lg-12"><label class="checkbox-inline"><input type="checkbox" ng-model="newSiteModal.memberAutoBrowse">{{'icem.site.userAutoView' | i18next}}</label></div>
							<div class="col-lg-12"><label class="checkbox-inline"><input type="checkbox" ng-model="newSiteModal.memberAutoPurchase">{{'icem.site.userAutoConversion' | i18next}}</label></div>
							<div class="col-lg-12"><label class="checkbox-inline"><input type="checkbox" ng-model="newSiteModal.periodic">{{'icem.site.reminder' | i18next}}</label></div>
							<div class="col-lg-12"><label class="checkbox-inline"><input type="checkbox" ng-model="newSiteModal.browseFilter">{{'icem.site.viewFilter' | i18next}}</label></div>
							<div class="col-lg-12"><label class="checkbox-inline"><input type="checkbox" ng-model="newSiteModal.conversionFilter">{{'icem.site.conversionFilter' | i18next}}</label></div>
							<div class="col-lg-4" ng-show="newSiteModal.memberAutoBrowse"><label ng-i18next="icem.site.userAnalysisViewDays"></label></div>
							<div class="col-lg-8" ng-show="newSiteModal.memberAutoBrowse"><input class="form-control" type="text" ng-model="newSiteModal.memberBrowseAnalysisTargetDays" maxlength="3" only-number/></div>
							<div class="col-lg-4" ng-show="newSiteModal.memberAutoPurchase"><label ng-i18next="icem.site.userAnalysisConversionDays"></label></div>
							<div class="col-lg-8" ng-show="newSiteModal.memberAutoPurchase"><input class="form-control" type="text" ng-model="newSiteModal.memberConversionAnalysisTargetDays" maxlength="3" only-number/></div>
						</tab>
						<tab heading="{{'icem.site.ads'|i18next}}" active="tabs[3].active">
							<br>
							<div class="col-lg-4"><label ng-i18next="icem.site.adsType"></label></div>
							<div class="col-lg-8">
								<select class="form-control" ng-model="newSiteModal.adSystemId">
									<option value="1">Google DOUBLE-CLICK</option>
								</select>
							</div>
							<div class="col-lg-4"><label ng-i18next="icem.site.itemNum"></label></div>
							<div class="col-lg-8"><input class="form-control" type="text" ng-model="newSiteModal.adDisplayAmount" maxlength="3" only-number/></div>
							<div class="col-lg-4"><label ng-i18next="icem.site.partnerId"></label></div>
							<div class="col-lg-8"><input class="form-control" type="text" ng-model="newSiteModal.partnerId" /></div>
							<div class="col-lg-4"><label ng-i18next="icem.site.advertiserId"></label></div>
							<div class="col-lg-8"><input class="form-control" type="text" ng-model="newSiteModal.adCustomerId" maxlength="30" /></div>
							<div class="col-lg-12"><label class="checkbox-inline"><input type="checkbox" ng-model="newSiteModal.noPiggyBack">{{'icem.site.disablePiggyBack' | i18next}}</label></div>

							<div class="col-lg-12">
								<div class="panel panel-default">
									<div class="panel-heading">SFTP</div>
									<div class="panel-body">
										<div class="col-lg-4"><label ng-i18next="icem.site.host"></label></div>
										<div class="col-lg-8"><input class="form-control" type="text" ng-model="newSiteModal.sftpDomain" maxlength="30" /></div>
										<div class="col-lg-4"><label ng-i18next="icem.site.userName"></label></div>
										<div class="col-lg-8"><input class="form-control" type="text" ng-model="newSiteModal.sftpUser" maxlength="30" /></div>
										<div class="col-lg-4"><label ng-i18next="icem.site.password"></label></div>
										<div class="col-lg-8"><input class="form-control" type="text" ng-model="newSiteModal.sftpPassword" maxlength="30" /></div>
										<div class="col-lg-4"><label ng-i18next="icem.site.path"></label></div>
										<div class="col-lg-8"><input class="form-control" type="text" ng-model="newSiteModal.sftpPath" maxlength="30" /></div>
									</div>
								</div>
							</div>
							<div class="col-lg-12">
								<button class="btn btn-primary margin5" ng-click="addAds()" ng-i18next="icem.add"></button>
								<div class="margin5" ng-show="isShowAds">
									<label ng-i18next="icem.site.adsRecommendationName"></label>
									<input class="form-control" type="text" ng-model="oneAds.name" maxlength=30 />
									<button class="btn btn-default margin5" ng-click="cancelAds()" ng-i18next="icem.cancel" style="float:right;"></button>
									<button class="btn btn-primary margin5" ng-click="saveAds(oneAds.name)" ng-i18next="icem.ok" style="float:right;"></button>
								</div>
							</div>
							<div class="col-lg-12">
								<table class="table table-bordered table-hover">
									<thead>
										<tr>
											<th ng-i18next="icem.site.adsRecommendationName"></th>
											<th ng-i18next="icem.operation"></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="s in newSiteModal.siteAdRecommendList">
											<td width="10%">
												<span>{{s.name}}</span>
											</td>
											<td width="10%" style="white-space:nowrap;">
												<button type="button" class="btn btn-danger btn-circle" ng-click="deleteAds(s)"><i class="fa fa-times"></i></button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</tab>
					</tabset>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" ng-click="saveSite(newSiteModal)" ng-i18next="icem.save"></button>
				<button type="button" class="btn btn-default" data-dismiss="modal" ng-i18next="icem.close"></button>
			</div>
		</div>
	</div>
</div>